<div class="why-curaline">
    <div class="container">
        <div class="data-wrap">
            <div class="widget-with-thumbnail">
                <div class="widget-item-text">
                    <div class="sub-title">
                        <h3><b>Who is CuraLin for?</b></h3>
                        <div class="description-overlay">
                            <h4>
                                People watching their blood sugar who want to:
                            </h4>
                        </div>
                    </div>

                    <div class="widget-thumbnail-item">
                        <img src="{{ 'lp-aio-cura-rest.png' | file_url }}" alt="">
                    </div>

                    <div class="informer-list">
                        <ul>
                            <li>Sleep well</li>
                            <li>Enjoy their food</li>
                            <li>Have high energy</li>
                            <li>Support a healthy digestion</li>
                            <li>Maintain healthy glucose metabolism</li>
                            <li>Lose a healthy amount of weight</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .informer-list {
      font-weight: 300;
      font-size: 1.375rem;
      line-height: 1.3;
      color: #000;
      margin-top: 2.25rem
    }

    .informer-list ul li {
      position: relative;
      padding-left: 3.4375rem;
      margin-bottom: 1.9375rem
    }

    .informer-list ul li:last-child {
      margin-bottom: 0
    }

    .informer-list ul li:before {
      content: "";
      max-width: 1.8125rem;
      max-height: 1.9375rem;
      position: absolute;
      top: 50%;
      left: .3125rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: inline-block;
      width: 100%;
      height: 100%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translateY(-50%)
    }

    .informer-list ul li:nth-child(1n):before {
      background-image:url({{'lp-aio-lp-1.png' | file_url }})
    }

    .informer-list ul li:nth-child(2n):before {
      background-image:url({{'lp-aio-lp-2.png' | file_url }})
    }

    .informer-list ul li:nth-child(4n):before {
      background-image:url({{'lp-aio-lp-4.png' | file_url }})
    }

    .informer-list ul li:nth-child(5n):before {
      background-image:url({{'lp-aio-lp-5.png' | file_url }})
    }

    .informer-list ul li:nth-child(6n):before {
      background-image:url({{'lp-aio-lp-6.png' | file_url }})
    }
</style>

<style>
    .why-curaline {
      padding-top: 5.25rem;
      padding-bottom: 5.9375rem
    }

    .why-curaline .data-wrap {
      padding: 0 1rem 0 1.75rem
    }

    @media screen and (max-width: 991px) {
        .why-curaline {
          padding-top: 2.1875rem;
          padding-bottom: 2.8125rem
        }
    }

    @media screen and (max-width: 760px) {
        .why-curaline {
          padding-top: 1.0625rem;
          padding-bottom: 1.0625rem
        }
    }
    
</style>