<div class="hero-section">
    <div class="container">
        <div class="data-wrap">
            {%- comment -%} <div class="brand-logo">
                <a href="javascript:void(0)">
                    <img src="{{ 'logo-black.png' | asset_url}}" alt="">
                </a>
            </div> {%- endcomment -%}
            <div class="brand-slogan">
                <h1>
                    Natural &
                    Effective Blood
                    Sugar Support
                </h1>
            </div>
            <div class="brand-welcome-text">
                <h2 class="v3">So you can
                    <span class="title-text">eat well</span>
                    <span class="title-text" style="display: none;">sleep well</span>
                    <span class="title-text" style="display: none;">feel energetic</span>
                    <span class="title-text" style="display: none;">stay romantic</span>
                    <span class="title-text" style="display: none;">stay healthy</span>
                </h2>
            </div>
            <div class="brand-intro-cover">
                <span class="brand-intro-cover-img">
                    <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-1.png' | file_url}}" alt="">
                    <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-2.png' | file_url}}" alt="" style="display: none;">
                    <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-3.png' | file_url}}" alt="" style="display: none;">
                    <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-4.png' | file_url}}" alt="" style="display: none;">
                    <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-5.png' | file_url}}" alt="" style="display: none;">
                </span>
                <span class="brand-intro-cover-img-mobile">
                    <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-1-mobile.png' | file_url}}" alt="">
                    <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-2-mobile.png' | file_url}}" alt="" style="display: none;">
                    <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-3-mobile.png' | file_url}}" alt="" style="display: none;">
                    <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-4-mobile.png' | file_url}}" alt="" style="display: none;">
                    <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-5-mobile.png' | file_url}}" alt="" style="display: none;">
                </span>
            </div>
        </div>
    </div>
</div>

<style>
    
    .hero-section {

    }
    .brand-intro-cover-img-mobile {
        display: none !important;
    }

    .hero-section .brand-welcome-text {
        padding: 10rem 0 3.5rem;
    }

    .hero-section .data-wrap:before {
        background-color: #E8E8E8 !important;
    }

    .hero-section .brand-welcome-text * {
        color: white !important;
        line-height: 1;
        font-size: clamp(45px, 4vw, 80px) !important; 
        
    }

    



    .hero-section .brand-slogan * {
        color: black;
    }

    .hero-section .brand-welcome-text h2 {
        background: #4B643D;
        padding: 0 30px;
        width: max-content;
        margin: inherit;
    }

    @media screen and (max-width: 760px) {
        .hero-section {

        }
        .brand-intro-cover-img-mobile {
            display: block !important;
            position: absolute !important;
            top: 190px !important;
            height: 80vw;
            width: 110vw !important;
            left: -8vw;
        }

        .hero-section .brand-welcome-text * {
            font-size: 6vw;
            color: #4B643D !important;
            background: unset !important;
            padding: 0 !important;
        }

        .hero-section .brand-welcome-text {
            margin: 0;
            padding-top: 10px;
            margin-left: 6vw;
        }

        .brand-intro-cover-img {
            display: none !important;
        }

        .hero-section {
            min-height: 130vw;
            overflow: visible;
        }

        .hero-section .data-wrap:before {
            min-height: 130vw;
        }


    }

</style>

<script>
    // Fade Quotes
    var quotes = $(".title-text");
    var quoteIndex = -1;

    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(900)
            .delay(1500)
            .fadeOut(900, showNextQuote);
    }

    showNextQuote();

    $next = 1;
    $current = 0;
    $nextM = 1;
    $currentM = 0;
    $interval = 1500;
    $fadeTime = 1800;
    $imgNum = 5;

    $(document).ready(function () {
        $('.brand-intro-cover-img img').css({ 'position': 'absolute' });
        $('.brand-intro-cover-img-mobile img').css({ 'position': 'absolute' });
        nextFadeIn();
        nextFadeInM();
    });

    function nextFadeIn() {
        $('.brand-intro-cover-img img').eq($current).delay($interval).fadeOut($fadeTime)
            .end().eq($next).delay($interval).hide().fadeIn($fadeTime, nextFadeIn);

        if ($next < $imgNum - 1) { $next++; } else { $next = 0; }
        if ($current < $imgNum - 1) { $current++; } else { $current = 0; }
    };

    function nextFadeInM() {
        $('.brand-intro-cover-img-mobile img').eq($currentM).delay($interval).fadeOut($fadeTime)
            .end().eq($nextM).delay($interval).hide().fadeIn($fadeTime, nextFadeInM);

        if ($nextM < $imgNum - 1) { $nextM++; } else { $nextM = 0; }
        if ($currentM < $imgNum - 1) { $currentM++; } else { $currentM = 0; }
    };
</script>