<div class="hero-section">
    <div class="container">
        <div class="data-wrap">
            {%- comment -%} <div class="brand-logo">
                <a href="javascript:void(0)">
                    <img src="{{ 'logo-black.png' | asset_url}}" alt="">
                </a>
            </div> {%- endcomment -%}
            <div class="brand-slogan">
                <h1>
                    Natural &
                    Effective Blood
                    Sugar Support
                </h1>
            </div>
            <div class="brand-welcome-text">
                <h2 class="v3">So you can
                    <span class="title-text">eat well</span>
                    <span class="title-text" style="display: none;">sleep well</span>
                    <span class="title-text" style="display: none;">feel energetic</span>
                    <span class="title-text" style="display: none;">stay romantic</span>
                    <span class="title-text" style="display: none;">stay healthy</span>
                </h2>
            </div>
            <div class="brand-intro-cover">
                <span class="brand-intro-cover-img">
                    <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-1.png' | file_url}}" alt="">
                    <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-2.png' | file_url}}" alt="" style="display: none;">
                    <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-3.png' | file_url}}" alt="" style="display: none;">
                    <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-4.png' | file_url}}" alt="" style="display: none;">
                    <img class="cover-img" src="{{ 'lp-aio-v3-hero-img-5.png' | file_url}}" alt="" style="display: none;">
                </span>
                <span class="brand-intro-cover-img-mobile">
                    <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-1-mobile.png' | file_url}}" alt="">
                    <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-2-mobile.png' | file_url}}" alt="" style="display: none;">
                    <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-3-mobile.png' | file_url}}" alt="" style="display: none;">
                    <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-4-mobile.png' | file_url}}" alt="" style="display: none;">
                    <img class="cover-img-mobile" src="{{ 'lp-aio-v3-hero-img-5-mobile.png' | file_url}}" alt="" style="display: none;">
                </span>
            </div>
        </div>
    </div>
</div>

<style>
    
    .hero-section {

    }
    .brand-intro-cover-img-mobile {
        display: none !important;
    }

    .hero-section .brand-welcome-text {
        padding: 10rem 0 3.5rem;
    }

</style>