<div class="bottom-line">
    <div class="container">
        <div class="white-bg top-border">
            <div class="mini-wrap">
                <div class="subscribe-section">
    <div class="text-wrap">
        <div class="intro-text">
            <div class="sub-title">
                <h2>{{section.settings.nwsltr_titl}}</h2>
                <p>{{section.settings.nwsltr_desc}}</p>
            </div>
        </div>
        <div class="subscribe-form">
            {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% render 'form-status'%}
                <label class="frm_hide">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input type="email"
                    name="contact[email]"
                    id="Email"
                    class="input-group__field newsletter__input"
                    value="{% if customer %}{{ customer.email }}{% endif %}"
                    placeholder="Enter email"
                    autocorrect="off"
                    autocapitalize="off">
                </label>
                <button type="submit" class="main-btn frm_hide">subscribe</button>
                 {% if form.posted_successfully? %}
                <style>
                    .frm_hide{
                      display: none !important;
                    }
                </style>
                {% endif %}
            {% endform %}
        </div>
    </div>
    {% if section.settings.nwslt_img != blank %}
    <div class="img-wrap">
        <span><img src="{{ section.settings.nwslt_img | img_url: '' }}" alt="" loading="lazy"></span> 
    </div>
    {% endif %}
</div>
            </div>
        </div>
    </div>
</div>
<style>
.article-wrap .content .text ol li::before {
display:inline-block;
}
.article-wrap .content .text ul li, .article-wrap .content .text ol li
{
display:inline-block;
width:100%;


}

    .contact-form {
        width: 100%;
        padding: 0;
    }

</style>