{% assign certified_name = page.metafields.custom.name_certified %}
<div class="certificate">
    <div class="container">
        <div class="certificate-wrap">
           <div class="logo-wrapper">
                 <img src="{{ 'curalife-logo-dark-green.png' | asset_url }}" width="91" height="22" alt="">
                 <img class="big-title" src="{{ 'certificate-big-title.png' | asset_url }}" width="427" height="54" alt="">
                 <img src="{{ 'certificate-ornament.png' | asset_url }}" width="229" height="20" alt="">
                 <div class="wrapper-text">of Completion</div>
             </div> 
            <div class="certificate-presentation">
            <div class="presented">This certificate is proudly presented to </div> 
            <div class="name-presented">{{ certified_name }}</div>
            </div>
            <div class="completing-course">
                <div class="completing">for completing</div>
                <div class="challenge"><b>30 Days Blood Sugar Challenge</b></div>
                <div class="by-curalife">by Curalife</div>
                <div class="italic-text">This diploma signifies the end of a challenging and rewarding journey of self-discovery and growth. Through this blood sugar challenge, you have gained the knowledge and skills to control your health and live life to the fullest.</div>
            </div>
        </div>
       
    </div>
</div>






<style>
 .certificate {
   font-family: 'PP Radio Grotesk';
   font-weight: 400;    
 }
  .container {
    max-width: 1000px;
  }

  .certificate-wrap {
    
    margin: 50px auto;
    background-image: url("{{ 'certificate-background.png' | asset_url }}");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 578px;
    min-height: 819px
    
  }

 

  .logo-wrapper {
    padding-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .big-title {
    width: 60%;
  }

  .wrapper-text {
    font-size: clamp(18px, 4vw, 34px);
    text-align: center;
    color: #404733;
  }

  .certificate-presentation {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
  }

  .presented {
    font-size: clamp(12px, 4vw, 22px);  
    color: #404733;
  }

  .certificate-presentation .name-presented { 
    font-size: clamp(16px, 4vw, 30px);
    color: #7E3211;
    border-bottom: 1px solid gray;
  }

  .completing-course {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(14px, 3vw, 22px);
    color: #404733;
    gap: 5px;
  }

  .italic-text {
    font-style: italic;
    max-width: 70%;
    font-size: clamp(12px, 3vw, 22px);
  }

  




  @media (max-width: 768px) {
    
   
  
  }


</style>