
<div class="certificate" id="content">
    <div class="container">
        <div class="certificate-wrap">
           <div class="logo-wrapper">
                 <img class="green-logo" src="{{ 'curalife-logo-dark-green.png' | asset_url }}" width="91" height="22" alt="">
                 <img class="big-title" src="{{ 'certificate-big-title.png' | asset_url }}" width="427" height="54" alt="">
                 <img class="ornament" src="{{ 'certificate-ornament.png' | asset_url }}" width="229" height="20" alt="">
                 <div class="wrapper-text">of Completion</div>
             </div> 
            <div class="certificate-presentation">
            <div class="presented">This certificate is proudly presented to </div> 
              {% assign name = customer.first_name %}
              {% assign surname = customer.last_name %}
                 <div class="name-presented">{{ name }} {{ surname }}</div>
            <div class="border-gray-init"></div>
            </div>
            <div class="completing-course">
                <div class="completing">for completing</div>
                <div class="challenge"><b>30 Days Blood Sugar Challenge</b></div>
                <div class="by-curalife">by Curalife</div>
                <div class="italic-text">This diploma signifies the end of a challenging and rewarding journey of self-discovery and growth. Through this blood sugar challenge, you have gained the knowledge and skills to control your health and live life to the fullest.</div>
            </div>
            <div class="stamp-wrapper">
                <div class="signiture">
                <img class="img-sign"  src="{{ 'certificate-signiture.png' | asset_url }}" width="133" height="124" alt="">
                <div class="border-gray"></div>
                <div class="ron-sign"><b> Ron Elul</b><br>
                Founder of Curalife</div>
                </div>
                <img class="img-stamp"  src="{{ 'certificate-stamp.png' | asset_url }}" width="123" height="123" alt="">
            </div>
        </div>
       
    </div>
</div>

<button class="download-main-btn" onclick="downloadPDF()">Click Here to Download</button>







<style>
 .certificate {
   font-family: 'PP Radio Grotesk';
   font-weight: 400;    
 }
  .container {
    max-width: 1000px;
  }

  .certificate-wrap {
    
    margin: 50px auto;
    background-image: url("{{ 'certificate-background.png' | asset_url }}");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 600px;
    min-height: 840px
    
  }

 

  .logo-wrapper {
    padding-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .big-title {
    width: 60%;
  }

  .wrapper-text {
    font-size: clamp(18px, 4vw, 34px);
    text-align: center;
    color: #404733;
  }

  .certificate-presentation {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .presented {
    font-size: clamp(12px, 4vw, 22px);  
    color: #404733;
  }

  .certificate-presentation .name-presented { 
    font-size: clamp(16px, 4vw, 30px);
    color: #7E3211;
  }

  .completing-course {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(14px, 3vw, 22px);
    color: #404733;
    gap: 5px;
  }

  .italic-text {
    font-style: italic;
    max-width: 70%;
    font-size: clamp(10px, 3vw, 22px);
  }

  .stamp-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  .signiture {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .img-stamp {
   width: 30%;
  }
  .border-gray-init {
    border: 1px solid grey;
    min-width: 30%;
}
 .border-gray {
     border: 1px solid grey;
     min-width: 70%;
 }

  .ron-sign {  
    font-size: clamp(12px, 3vw, 18px);
    color: #000000
  }


  .download-main-btn {
    color: white;
    background: var(--dark-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    font-weight: 300;
    font-size: clamp(20px, 2vw, 30px);
    border-color: var(--dark-green);
    border-radius: 10px;
  }


  




  @media (max-width: 768px) {
    
   .green-logo {
    width: 15vw;
   }

   .big-title {
       width: unset;
       max-width: 26vw;
   }
  

   .img-sign {
    max-width: 25vw;
   }

   .ornament {
    max-width: 18px;
   }


  }


</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>

<script>
  function downloadPDF() {
    const content = document.getElementById("content");
    const canvas = document.createElement("canvas");
    const ctx = canvas.getContext("2d");
    canvas.width = content.offsetWidth;
    canvas.height = content.offsetHeight;
    ctx.drawImage(content, 0, 0);
    const dataURL = canvas.toDataURL();
    const link = document.createElement("a");
    link.download = "certificate.pdf";
    link.href = dataURL;
    link.click();
  }
</script>



