
{%- assign page_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first | split: request.host | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&'  -%}

{% comment %} get "name" param from url {% endcomment %}
{%- for i in (1..1) -%}
  {%- unless page_url contains "?" -%}{% break %}{%- endunless -%}
  {%- assign query_string = page_url | split:'?' | last -%}
  {%- assign qry_parts= query_string | split:'&' -%}

  {%- for part in qry_parts -%}
    {%- assign key_and_value = part | split:'=' -%}
    {%- if key_and_value.size > 1 -%}
      {% if key_and_value[0] == 'name' %}
        {% assign param = key_and_value[1] | replace: "+" , " " %}
      {% endif %}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

{% if customer %}
  {% assign customerName = customer.first_name | append: ' ' | append: customer.last_name %}
{% else %}
  {% assign customerName = 'Unknown' %}
{% endif %}

<div class="info-form">
  <img class="info-swoosh" src="{{ 'certificate-info-swoosh.png' | asset_url }}" width="426" height="503" alt="">
  
  <div class="container">
    <div class="box">
      <img class="info-three-swooshes" src="{{ 'certificate-info-three-swooshes.png' | asset_url }}" width="137" height="133" alt="">
      <div class="info-title">Generate Your Certificate</div>

      <div class="form-submit">
        <form  method="post" action="/submit">
          <div class="name">
            <label class="title" for="name">Full Name:</label>
            <input class="input-name" type="text" id="name" name="name" value="{{ customerName }}">
          </div>

          <label class="title" for="theme">Choose Theme</label>

          <div class="radio-container">
            <input type="radio" id="classic" name="theme" value="classic">
            <label for="classic"><img class="certificate-img" src="{{ 'certificate-1.png' | asset_url }}" width="1190" height="1684" alt=""></label>
            <input type="radio" id="curalifer" name="theme" value="curalifer">
            <label for="curalifer"><img class="certificate-img" src="{{ 'certificate-2.png' | asset_url }}" width="1193" height="1684" alt=""></label>
          </div>

          <div class="verification">
            <input type="checkbox" id="presented" name="presented">
            <label class="presented-text" for="presented">I would love to be presented <br>
              on <b>Curalife’s Wall of Fame</b> </label>
          </div>

          <input class="generate" type="submit" value="Generate now">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="certificate-section">
  <div class="certificate" id="content">
      <div class="container">
          <div class="certificate-wrap">
                {% assign name = param | default: customerName %}
                <div class="name-presented">{{ name }}</div>
          </div>
      </div>
  </div>

  <button class="download-main-btn" onclick ="downloadPDF()">Click Here to Download</button>
</div>

<style>

input[type='radio']:after {
    
    background-color: #d1d3d1;
   
    border: 2px solid #404733;
}

input[type='radio']:checked:after {
    
    background-color: #404733;
   
    border: 2px solid #404733;
}
.box {
  
}

.info-form {
    background: linear-gradient(297deg, rgba(208,125,91,1) 0%, rgba(251,147,120,1) 54%); 
    margin: 50px auto;   
    position: relative; 
    max-width: 1000px;       
}

.info-swoosh {
  position: absolute;
  bottom:0;
}

.info-three-swooshes {
  position: absolute;
  right: 0;
}

.info-title {
  position: relative;
  padding-top: 80px;
  display: flex; 
  justify-content: center;
  font-family: 'PP Radio Grotesk';
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #404733;
}

.form-submit {
  position: relative;
  display: flex; 
  justify-content: center;
  padding: 20px 0;
}

.form-submit form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: clamp(25px, 2vw, 30px);
  color: #404733;
}

.input-name{
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 56px;
  margin-left: 10px;
  border: none;
}

.verification {
  display: flex;
  gap: 10px;
}

.verify-text {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 17px;
  line-height: 39px;
}

.radio-container {
  display: flex;
  gap: 10px;
}

.radio-container input {
  width: 30px;
}

.certificate-img {
  max-width: 70px;
  border: 1px solid #404733; 
}

.presented-text{
  font-family: 'DM Sans';
  color: #404733;
  font-size: 20px;
}

.generate {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 60px;
  border-radius: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  background: #404733;
  font-family: 'PP Radio Grotesk';
  font-weight: 700;
  font-size: clamp(20px, 2vw, 30px);
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}





.certificate-section {
  display: none;
}
 .certificate {
   font-family: 'PP Radio Grotesk';
   font-weight: 400;    
 }

 .container {
   max-width: 1000px;
 }

  .certificate-wrap {
    position: relative;
    margin: 50px auto;
    background-image: {% if page.handle contains "certificate-2" %} url("{{ 'certificate-2.png' | asset_url }}"){% else %}url("{{ 'certificate-1.png' | asset_url }}"){% endif %};
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 600px;
    min-height: 840px
  }

 .name-presented { 
    font-family: 'PP Radio Grotesk';
    font-weight: 400; 
    position: relative;
    font-size: 30px;
    color: #7E3211;
    display: flex;
    justify-content: center;
    padding-top: 54%;
  }



  .download-main-btn {
    font-family: 'PP Radio Grotesk';
    font-weight: 400; 
    color: white;
    background: var(--dark-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    font-weight: 300;
    font-size: clamp(20px, 2vw, 30px);
    border-color: var(--dark-green);
    border-radius: 10px;
  }


  




  @media (max-width: 768px) {
    .info-title {
      font-size: 10vw;
    }

    .info-form {
      margin: unset;
      max-width: unset;
    }

    .name-presented { 
     font-size: 4.5vw;  
   }




  }



</style>


<script src="https://cdn.jsdelivr.net/npm/dom-to-image@2.6.0/dist/dom-to-image.min.js"></script>
<script>
  function downloadPDF() {
    const content = document.getElementById("content");

    // Check if the content element exists
    if (!content) {
      return alert("The content element with ID 'content' was not found.");
    }

    domtoimage.toPng(content)
      .then(function (dataUrl) {
        // Create a link element and set its properties
        var link = document.createElement("a");
        link.download = "certificate.pdf";
        link.href = dataUrl;
        link.click();
      })
      .catch(function (error) {
        console.error("Failed to download PDF:", error);
      });
  }
</script>









