{% assign certified_name = page.metafields.custom.name_certified %}
<div class="certificate">
    <div class="container">
        <div class="certificate-wrap">
           <div class="logo-wrapper">
                 <img src="{{ 'curalife-logo-dark-green.png' | asset_url }}" width="91" height="22" alt="">
                 <img class="big-title" src="{{ 'certificate-big-title.png' | asset_url }}" width="427" height="54" alt="">
                 <img src="{{ 'certificate-ornament.png' | asset_url }}" width="229" height="20" alt="">
                 <div class="wrapper-text">of Completion</div>
             </div> 
             <div class="certificate-presentation">
            <p>This certificate is proudly presented to </p> 
            <div class="name-presented">{{ certified_name }}</div>
            </div>
        </div>
       
    </div>
</div>






<style>
 .certificate {
   font-family: 'PP Radio Grotesk';
   font-weight: 400;    
 }
  .container {
    max-width: 1000px;
  }

  .certificate-wrap {
    
    margin: 50px auto;
    background-image: url("{{ 'certificate-background.png' | asset_url }}");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 578px;
    min-height: 819px
    
  }

 

  .logo-wrapper {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .big-title {
    width: 75%;
  }

  .wrapper-text {
    font-size: clamp(24px, 4vw, 34px);
    text-align: center;
    color: #404733;
  }

  .certificate-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .certificate-presentation p {
    font-size: 22px;
    text-align: center;
    color: #404733;
  }

  .name-presented { 
    font-size: 30px;
    text-align: center;
    color: #7E3211;
  }
 

  @media (max-width: 768px) {
    
   
  
  }


</style>