<section id="collections-catalog-section">
  <div class="container">
    <div class="titles">
      <h1>{% if activeCollection %}{{ collections[activeCollection].title }}{% else %}Collections{% endif %}</h1>
      <div class="line"></div>
      <p class="description">{% if activeCollection %}{{ collections[activeCollection].title }}{% else %}Welcome to our herbal supplement collection. We offer high-quality, all-natural products to support your health and well-being. Browse our selection and discover the benefits of herbs for yourself. Shop with confidence knowing we stand behind our products.{% endif %}</p>
    </div>

    <ul class="category-tabs">
      {% for collection_handle in collectionsHandles %}
          <li><a href="#" data-collection-handle="{{ collection_handle }}">{{ collections[collection_handle].title }}</a></li>
      {% endfor %}
    </ul>

    {% for collection_handle in collectionsHandles %}
      <div class="product-grid">
        {% if forloop.last %}
          {% assign isLastCollectionRender = true %}
        {% endif %}

        {% assign isProductCardLast = value %}
        {% for product in collections[collection_handle].products %}
          {% if forloop.last and isLastCollectionRender %}
            {% assign isLastCardRender = true %}
          {% endif %}

          {% assign product_collections = product.collections | map: 'handle' | join: ' ' %}
          {% render 'product-card-new', product: product, productCollections: product_collections, isLastRender: isLastCardRender %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>

<style>
  #collections-catalog-section {
    padding: 50px 0;
  }

  #collections-catalog-section .titles h1 {
    font-size: 56px;
  }

  #collections-catalog-section .titles .line {
    border-bottom: 1px solid black;
    width: 300px;
    margin: 30px 0;
  }

  #collections-catalog-section .product-grid {
    display: flex;
    gap: 40px;
  }

  #collections-catalog-section .category-tabs {
    display: flex;
    gap: 50px;
  }

  #collections-catalog-section .category-tabs li a {
    color: var(--light-green);
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 20px;
  }

  #collections-catalog-section .category-tabs li a.active {
    background: var(--vomit);
    color: var(--dark-green);
  }
</style>

<script>
  $('.category-tabs a').click(function (e) {
    e.preventDefault();

    $('.category-tabs a').removeClass('active');
    $(this).addClass('active');

    var collectionHandle = $(this).data('collection-handle');
    $('h1').hide(100);
    $('h1').text($(this).text());
    $('h1').hide(show);
    $('.product-grid .product-card').hide("slow");
    $('.product-grid .product-card[data-product-collections*="' + collectionHandle + '"]').show("slow");
  });

  $('.category-tabs a[data-collection-handle="{{ activeCollection }}"]').click();
</script>