{% for video_handle in video_handles %}
  {% assign all_video = shop.blog.articles[video_handle] %}
  {% assign related_videos =  all_video.id %}
  {% if video_handles contains page.handle %}
    {% assign selected_video = shop.blog.articles[page.handle] %}
    {% assign page_video =  selected_video.id %}
  {% endif %}  
{% endfor %}




<section id="collection-exercise-video">
  <img class="exercise-img-swoosh" src="{{ 'video-exercise-swoosh.png' | asset_url }}" width="971" height="671" alt="Swoosh">
  <img class="exercise-img-leaf" src="{{ 'video-exercise-leaf.png' | asset_url }}" width="187" height="184" alt="Swoosh">
  <img class="exercise-img-leaf-mb" src="{{ 'video-exercise-leaf-mb.png' | asset_url }}" width="50" height="49" alt="Swoosh">
  <div class="container">
 
      <div id="site">
        <div id="player">   
          <div class="player"> 
              <div class="video-title" id="video-title">  
                {{ currentTitle }}
              </div>    
          <p class="main-video-timer">{{ currentTime }}</p> 
            <div class="player__video">
              <iframe style="background-color: var(--light-green); padding:0.5em" width="560" height="315" src="{{ currentVideo }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>   
        </div>
        <div id="gallery">
          <div class="related-videos">Related Videos</div>
          {% for video_handle in video_handles %}
            {% assign relatedVideo = article.metafields.custom.video_exercise %}
            {% assign relatedTitle = article.metafields.custom.current_video_title %}
            {% assign relatedTime = article.metafields.custom.current_time_of_video %}
          <div class="gallery">
            <div class="gallery__item">
             <iframe id="data" class="gallery__item__img" src="{{ relatedVideo }}" frameborder="0"></iframe> 
             <span id="name" class="gallery__item__span">{{ relatedTitle }} <div id="time_video" class="gallery__item__time">{{ relatedTime }}</div></span>
             </div>
          </div>
          {% endfor %}
        </div>
      </div>
     
  </div>
</section>


<style>

  #collection-exercise-video {
    position: relative;
  }

  .exercise-img-swoosh {
    position: absolute;
    top: 120px;
    right: 0;
  }

  .exercise-img-leaf {
    position: absolute;
    top: 600px;
  }

  .exercise-img-leaf-mb{
    display: none;
  }

   
  #site {
    display: flex;
    min-height: 100vh;
    justify-content: center;  
  }

  #player {}

  .player {
    margin: auto;
    
    padding: 1em;
    &__video {
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      iframe {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  .video-title {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(30px, 3vw, 45px);
    line-height: clamp(30px, 3vw, 45px);
    letter-spacing: -0.01em;
    color: #404733;
    padding-bottom: 0.3em;
  }

  .main-video-timer {
    font-family: 'PP Radio Grotesk';
    font-weight: 400;
    font-size: clamp(16px, 3vw, 22px);
    letter-spacing: -0.01em;
    color: #404733;
  }

  

  #gallery {}

  .gallery {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
 
  }

  .related-videos {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.01em;
    padding: 4em 1em 1em;
  }

  .gallery__item { 
    cursor: pointer;
    display: flex;
    padding: 0 .75em;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: -0.01em;

  }

  .gallery__item__img {
    background: #333333;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 0.3em;
    padding: 0.3em;
  }
  .gallery__item__span {
    width: 50%;
    padding-left: 1em;
  }

  .gallery__item__time {
    
    font-weight: 400;
  }

  @media screen and (max-width: 768px) {
   .exercise-img-swoosh {  
     top: 300px;
   }

   .exercise-img-leaf {
    display: none;
   }

   .exercise-img-leaf-mb {
    display: block;
    position: absolute;
    top: 0;
   }
  
    #site {    
      flex-wrap: wrap; 
      
    }

    .video-title {
      font-size: 7vw;
      line-height: 7vw;
    }

    .related-videos {
      padding: 1em;
    }

    .gallery {
      padding: 1em;
    }

  }


  @media screen and (max-width: 390px) {
    .gallery__item {
      padding: unset;
    }
  }

</style>


<script>console.log("Related Videos: "{{ related_videos }})
  console.log("Page Video: "{{page_video}})
</script>

