<section class="contact-us-section">
  <div class="container">
    <h2>{{ title }}</h2>
    <div class="contact-options">
      <div class="contact-option">
        <div class="img-wrapper"><img src="{{ "icon-live-chat.png" | asset_url }}" alt="" loading="lazy"></div>
        <p>Live Chat</p>
      </div>
      <div class="contact-option">
        <div class="img-wrapper"><img src="{{ "icon-phone-support.png" | asset_url }}" alt="" loading="lazy"></div>
        <p>Phone Support</p>
      </div>
      <div class="contact-option">
        <div class="img-wrapper"><img src="{{ "icon-email.png" | asset_url }}" alt="" loading="lazy"></div>
        <p>Email</p>
      </div>
    </div>
    <div class="phone-numbers">
      <div class="phone-number">
        <img src="{{ "icon-flag-uk.png" | asset_url }}" alt="" loading="lazy">
        <a href="tel:+448000869122"><p>UK-Toll-Free: +44 800 086 9122</p></a>
      </div>
      <div class="phone-number">
        <img src="{{ "icon-flag-us.png" | asset_url }}" alt="" loading="lazy">
        <a href="tel:+18882867307"><p>US-Toll-Free: +1 888 286 7307</p></a>
      </div>
    </div>
  </div>
</section>