<div class="winning-diabetes">
   
    <div class="bg-wrap">
       <img src="{{ 'winning-bg.jpg' | file_url }}" width="1600" height="630" alt="" loading="lazy">
    </div>
    
    <div class="mini-wrap">
        <div class="intro-text">
            <div class="sub-title">
                <h2>{{section.settings.win_titl}}</h2>
                <p>{{section.settings.winr_desc}}</p>
            </div>
            <div class="btn">
                <a href="{{section.settings.win_btnlink}}" class="main-btn" target="_blank">{{section.settings.win_btntitl}}</a>
            </div>
        </div>
    </div>
</div>



