<section class="reviews-section">
  <div class="white-fade">
    <div class="left-fade fade"></div>
    <div class="right-fade fade"></div>
  </div>
  <div class="top-bg"></div>
  <div class="container no-padding">
    <h2>Over 3000 5 Star Reviews</h2>
    <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
    <div class="prev slider-nav swiper-button-prev"></div>
    <div class="reviews swiper">
      <div class="swiper-wrapper">
        {% for reviewsItem in reviewsItems %}
        <div class="review swiper-slide">
          <div class="review-top">
            <img src="{{ 'icon-quote.png' | asset_url }}" alt="" loading="lazy">
            <p class="review-content"> {{ reviewsItem | split: ":" | first }}</p>
          </div>
          <div class="review-bottom">
            <p class="review-author"> {{ reviewsItem | split: ":" | last }}</p>
            <img src="{{ 'product-aio-review-stars-5.png' | asset_url }}" alt="" class="reviews-stars" loading="lazy">
          </div>
        </div>
    {% endfor %}
      </div>
    </div>
    <div class="next slider-nav swiper-button-next"></div>
  </div>
</section>
  






<script>
  $('.slider-nav').click(function() {
  woopra.track('Arrow Click', {
    section: "Over 3000 5 Star Reviews"
  });

  });
</script>