{% if localization.country.iso_code == 'CA' %}
  {% assign original_item_cap = var.metafields.custom.original_item.value.metafields.my_fields.ca_cap | times: 100 %}
{% elsif localization.country.iso_code == 'AU' %}
  {% assign original_item_cap = var.metafields.custom.original_item.value.metafields.my_fields.au_cap | times: 100 %}
{% else %}
  {% assign original_item_cap = var.metafields.custom.original_item.value.compare_at_price %}
{% endif %}

{% if var.title contains "CuraEats" %}
  {% assign bundle_value = challenge_value | plus: curaeats_value %}
  <div class="variant-notice"><p><b>Bonus</b> - 30 Day Life Changing Program <b>(<span class="rounded no-letters">{{ bundle_value | times: 100 | money_with_currency | replace: ".00", "" | replace: "GBP", "" | replace: "AUD", "" | replace: "CAD", "" }}</span> value)</b></p></div>
{% else %}
  {% assign bundle_value = 0 %}
{% endif %}

{% assign bottle_quantity = var.metafields.my_fields.pack_bottles_quantity %}
{% assign original_item_cap_total = original_item_cap | times: bottle_quantity %}
{% assign original_item_cap_total_with_bundle = bundle_value | times: 100 | plus: original_item_cap_total %}

<div class="variant-box">
  <div class="radio-box">
    {% if original_item_cap_total_with_bundle > var.price %}
      {% assign discount = original_item_cap_total_with_bundle | minus: var.price | divided_by: 100 %}
    {% else %}
      {% assign discount = 0 %}
    {% endif %}
    <input type="radio" name="pack" value="{{ var.id }}" price="{{ var.price | money_without_currency }}" discount="{{ discount | replace: ".00", "" }}" title="{{ var.title }}" sku="{{ var.sku }}" save="{{ var.metafields.my_fields.discount_percents }}" index="{{ product.variants.size | minus: forloop.index | plus: 1 }}" {% if forloop.index == 3 %} checked=true{% endif %}></input>
  </div>
  <div class="variant-info">
    <p class="variant-title">{{ var.title }}</p>
    <div class="variant-infos">
      <p class="subtitle">{{ var.metafields.my_fields.subtitle }}</p>
    </div>
  </div>

  <div class="price">
    {% if original_item_cap_total_with_bundle > var.price %}
      {% comment %} <p class="compared-at-price"><strike class="rounded no-letters">{{ original_item_cap | money_without_trailing_zeros }}</strike></p> {% endcomment %}
      <p class="compared-at-price"><strike class="rounded no-letters">{{ original_item_cap_total_with_bundle | money_without_trailing_zeros }}</strike></p>
    {% endif %}
    <p class="real-price rounded no-letters">{{ var.price | money_without_trailing_zeros }}</p>
  </div>
</div>