
<section class="pack-info-section">
  <div class="container">
    <div class="titles">
      <h2 class="title">Nutrition</h2>
      <p class="subtitle">Delicious recipes you’ll love to cook and eat! It’s organized in weekly plans with convenient grocery lists and even easier cooking instructions.</p>
    </div>
    <div class="product-wrapper">
    <div class="product-image-wrapper">

      <img class="product-image" src="{{'retention-nutrition.png' | asset_url }}" width="342" height="237" alt="" loading="lazy">
    </div>

    <div class="tabbed-content tabs-side">
      <div class="content">
        <div id="highlights-{{ index }}" class="item active always-active" data-title="Product Highlights">
          <div class="highlights item-content">
            {% for highlight in product.metafields.custom.product-highlights.value %}
              <div class="highlight">
                <div class="highlight-icon"><i class="icofont-check"></i></div>
                <p><b>{{ highlight.title }}</b><br>{{ highlight.subtitle }}</p>
              </div>
            {% endfor %}
          </div>
        </div>

     

 

   

      
      </div>
    </div>
    </div>
  </div>
</section>

{% if isLastRender %}
  <style>
    .pack-info-section .titles {
      flex-direction: revert;
      justify-content: start;
      max-width: 100%;
      text-align: left;
    }

    .pack-info-section {
      background: var(--lighter-brown);
    }

    .product-wrapper {
      display: flex;
      flex-wrap: wrap;
    }        

    .pack-info-section .product-image-wrapper {
  
    }

    .pack-info-section:nth-of-type(even) .tabbed-content {
     
    }


    

    

    .pack-info-section .product-image-wrapper .product-image {
  
    }

    .pack-info-section .highlights {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .pack-info-section .highlights .highlight {
      display: flex;
      align-items: center;
    }

    .pack-info-section .highlights .highlight p {
      margin: unset;
    }

    .pack-info-section .highlight-icon {
      background: var(--light-green);
      color: white;
      border-radius: 50%;
      min-width: 30px;
      height: 30px;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }

 

    .pack-info-section .tabbed-content {
      
    }

    .pack-info-section .tabs ul li {
      text-align: center;
      height: 70px;
      border-bottom: 1px solid;
    }

    .pack-info-section .tabs ul li:first-child {
      border-top: 1px solid;
    }

    .pack-info-section .tabs ul li a {
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .pack-info-section .tabs ul li a i {
      position: relative;
      transition: all 0.5s ease-in-out;
      font-style: normal;
      left: 20px;
    }

    .pack-info-section .tabs ul li a:hover,
    .pack-info-section .tabs ul li a.active {
      color: var(--brown);
      font-weight: bold;
    }

    .pack-info-section:nth-of-type(even) .tabs ul li a:hover,
    .pack-info-section:nth-of-type(even) .tabs ul li a.active {
      color: {{ link_color }};
    }

    .pack-info-section .item {
      margin-bottom: 2px;
      position: relative;
    }


    .pack-info-section .item.active .item-content {
      transition: opacity 0.8s ease-in-out;
    }

   

  

    .pack-info-section .tabbed-content .item.active .item-content {
      opacity: 1;
      visibility: visible;
      height: auto;
    }


    @media all and (max-width: 768px) {
      .pack-info-section {
        
      }

      .product-wrapper {
        
      }  

    
      .pack-info-section .tabbed-content {
        
      }

    

  
      .pack-info-section .product-image-wrapper {       
        width: 100%;
        text-align: center;
        margin-top: 10vw;
      }

      .pack-info-section .product-image-wrapper .product-image {
        text-align: center;
      }

    }

  </style>
{% endif %}


