<section class="pack-info-section {{ product.handle }}">
  <div class="container">
    <div class="titles">
      <h2 class="title">{{ product.title }}</h2>
      <p class="subtitle">{{ product.description }}</p>
    </div>

    <div class="info-tabs">
      <div class="tab-cont">
        <button class="but" onclick="city(event, 'highlights')">Product Highlights</button>
        <button class="but" onclick="city(event, 'instructions')">Usage Instructions</button>
        <button class="but" onclick="city(event, 'ingredients')">Ingredients</button>
        <button class="but" onclick="city(event, 'facts')">Supplement Facts</button>
      </div>
      <div class="tab-content" id="highlights">
        <div class="highlights">
          {% for highlight in product.metafields.custom.data.value.highlights %}
            <script>console.log("highlight")</script>
            <div class="highlight"><b>{{ highlight["title"] }}</b><br>{{ highlight["subtitle"] }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="tab-content" id="instructions">
          <h2>Paris</h2>
          <p>Paris is the capital of France.</p>
      </div>
      <div class="tab-content" id="ingredients">
          <h2>Tokyo</h2>
          <p>Tokyo is the capital of Japan.</p>
      </div>
      <div class="tab-content" id="facts">
          <h2>Tokyo</h2>
          <p>Tokyo is the capital of Japan.</p>
      </div>
    </div>
  </div>
</section>

<style>
  .info-tabs {
    width: 90%;
    margin: auto;
    overflow:hidden;
    border: 1px solid #d1d1d1;
    height: 300px;
    margin-top: 20px;
    max-width: 800px;
  }

  .tab-cont {
    float: left;
    width: 30%;
    background-color: #eee;
    height: 100%;
    border-right: 1px solid #d1d1d1;
  }

  .tab-cont button {
    width: 100%;
    background-color: inherit;
    padding: 18px;
    font-size: 16px;
    font-weight: 400;
  }

  .tab-cont button:hover {
    background-color: #ccc;
  }
  .tab-content {
    height: 100%;
    float: left;
    padding: 20px;
    width: 70%;
    animation: anime 1s;
  }

  .tab-content h2{
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0 10px 0;
  }

  .tab-content p{
    font-weight: 100;
    color: #666;
    margin-top: 20px
  }

  .tab-cont .but.active{
    background-color: #b4b4b4;
  }

  @keyframes anime {
    from {opacity: 0}
    to {opacity: 1}
  }
</style>

<script>
  var button = document.getElementsByClassName('but'),
  tabContent = document.getElementsByClassName('tab-content');
  button[0].classList.add('active');
  tabContent[0].style.display = 'block';

  function city(e, city) {
    var i;
    for (i = 0; i < button.length; i++) {
      tabContent[i].style.display = 'none';
      button[i].classList.remove('active');
    }
    document.getElementById(city).style.display = 'block';
    e.currentTarget.classList.add('active');
  }
</script>