<section class="cta-section">
  <div class="container product-container">
    <div class="product-thumbnails">
      <div class="product-slider">
        <div class="sliders-group">
          <div class="main-slider">
            <div id="product-main-slider-sc" class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product-img">
                    <div class="img-wrap">
                      <img src="{{ "product-aio-product-thumbnail-0.png" | asset_url }}" alt="" loading="lazy">
                    </div>
                  </div>
                </div>
                {% for i in (1..5) %}
                  <div class="swiper-slide">
                    <img class="main-slider-vector-bg" src="{{ 'product-aio-vector-product-slider.png' | asset_url }}" alt="">
                    <div class="product-img">
                      <div class="img-wrap">
                        <img src="{{ "product-aio-product-thumbnail-" | append: i | append: ".png" | asset_url }}" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                {% endfor %}
                <div class="swiper-slide">
                  <div class="product-video">
                    <iframe id="product-video-iframe" src="https://player.vimeo.com/video/365492409?playsinline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen loading="lazy"></iframe>
                  </div>
                </div>
                {% for image in product.images %}
                  <div class="swiper-slide">
                    {% if shop.name == "CuraLife Global" %}
                      <img class="main-slider-vector-bg" src="{{ 'product-aio-vector-product-slider.png' | asset_url }}" alt="">
                    {% endif %}
                    <div class="product-img">
                      <div class="img-wrap">
                        <img src="{{ image.src | image_url }}" alt="{{ image.alt | escape }}" loading="lazy">
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div id="product-main-slider-nav-prev" class="swiper-button-prev nav"></div>
            <div id="product-main-slider-nav-next" class="swiper-button-next nav"></div>
          </div>

          <div class="thumbs-slider">
            <div id="product-thumbs-slider-sc" class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="thumbs-img">
                    <div class="img-wrap">
                      <img src="{{ "product-aio-product-thumbnail-0.png" | asset_url }}" alt="" loading="lazy">
                    </div>
                  </div>
                </div>
                {% for i in (1..5) %}
                  <div class="swiper-slide">
                    <div class="thumbs-img">
                      <div class="img-wrap">
                        <img src="{{ "product-aio-product-thumbnail-" | append: i | append: ".png" | asset_url }}" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                {% endfor %}
                <div class="swiper-slide">
                  <div class="thumbs-img video-thumbnail">
                    <div class="img-wrap">
                      <img src="{{ "product-aio-product-video-thumbnail.png" | asset_url }}" alt="" loading="lazy">
                    </div>
                  </div>
                </div>
                {% for image in product.images %}
                  <div class="swiper-slide">
                    <div class="thumbs-img">
                      <div class="img-wrap">
                        <img src="{{ image.src | image_url }}" alt="{{ image.alt | escape }}" loading="lazy">
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div id="product-thumbs-slider-nav-prev" class="swiper-button-prev"></div>
            <div id="product-thumbs-slider-nav-next" class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-info">
      <div class="sub-title">
        <h1>{% if product.metafields.my_fields.alternative_title.value %}{{ product.metafields.my_fields.alternative_title.value }}{% else %}{{ product.title }}{% endif %}</h1>
      </div>
      <div class="rating-stars">
        <img class="rating-stars-img" src="{{ 'product-aio-rating-stars.png' | asset_url }}" alt="">
        <span class="reviews-quantity">3000+ Reviews</span>
      </div>
      <div class="quotes">
        <p class="quote">“It’s completely changed my life” - Paul M.</p>
        <p class="quote">“I’m healthier now than I’ve been in years” - D’Gay F.</p>
        <p class="quote">“Here’s my proof - my MD is thrilled. I’m a believer!” - Ilyssa E.</p>
      </div>
    </div>
    <div class="product-actions">
      <div class="form-wrap">
        <div id="CTAForm">
          <p class="cta-title">Select Your Pack</p>
          <div class="input-field product-option-select">
            {% for var in product.variants %}
              {%- comment -%} {% if var.title contains "CuraEats" %}
                {% assign bundle_addition = challange_value | plus: curaeats_value | times: 100 %}
                <div class="variant-notice"><p><b>Bonus</b> - CuraEats App <b>(<span class="rounded no-letters">{{ bundle_addition | money_with_currency | replace: ".00", "" | replace: "GBP", "" | replace: "AUD", "" | replace: "CAD", "" }}</span> value)</b></p></div>
              {% else %}
                {% assign bundle_addition = 0 %}
              {% endif %} {%- endcomment -%}
              <div class="variant-box">
                <div class="radio-box">
                  {% if var.compare_at_price > var.price %}
                    {% assign original_discount = var.compare_at_price | minus: var.price | divided_by: 100 %}
                    {% assign bundle_addition_real = bundle_addition | divided_by: 100 %}
                    {% assign discount = original_discount | plus: bundle_addition_real %}
                  {% else %}
                    {% assign discount = 0 %}
                  {% endif %}
                  <input type="radio" name="pack" value="{{ var.id }}" price="{{ var.price | money_without_currency }}" discount="{{ discount | replace: ".00", "" }}" title="{{ var.title }}" sku="{{ var.sku }}" save="{{var.metafields.my_fields.discount_percents}}" index="{{ product.variants.size | minus: forloop.index  | plus: 1 }}"></input>
                </div>
                <div class="variant-info">
                  <p class="variant-title">{{ var.title }}</p>
                  <div class="variant-infos">
                    <p class="subtitle">{{ var.metafields.my_fields.subtitle }}</p>
                  </div>
                </div>
                <div class="price {% if forloop.index == 3 %}last{% endif %}">
                  <p class="compared-at-price"><strike class="rounded no-letters">{{ var.compare_at_price | plus: bundle_addition | money_without_trailing_zeros }}</strike></p>
                  <p class="real-price rounded no-letters">{{ var.price | money_without_trailing_zeros }}</p>
                </div>
              </div>
            {% endfor %}
          </div>

          <input id="productVaraintSelected" type="hidden" name="id" value="{{ product.variants.first.id }}"/>
          <div class="submit-wrap">
            <div class="qty-data" style="display:none">
              <div class="qty-control">
                <a data-act="-" href="javascript:void(0)">
                  <span class="icon-minus"></span>
                </a>
                <label>
                  <input maxlength="4" name="quantity" type="number" value="1">
                </label>
                <a data-act="+" href="javascript:void(0)">
                  <span class="icon-plus"></span>
                </a>
              </div>
            </div>

            <div class="btn">
              <button class="main-btn" id="buy-button"><span>Shop Now</span> <span class="save" id="save" style="color: white"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% render 'trust-badges-section' %}
</section>



<script>

  
  $('.thumbs-img').click(function() {
   woopra.track('Product Image Click', {});
   });
 
  // Check Radio Button on Variant Box Click
  $(".variant-box").click(function() {
    $(this).find('input[type=radio]').prop('checked', true);
    $("#productVaraintSelected").prop('value', $(this).find('input[type=radio]')[0].value);

    // Save Text Change
    let saveText = "You Save " + "{{ currency_symbol }}" + $('input[name=pack]:checked', '#CTAForm').attr('discount');
    $('#save').animate({'opacity': 0}, 800, function () {
      $(this).text(saveText);
    }).animate({'opacity': 1}, 800);
  })

  $( document ).ready(function() {
    $(".variant-box").last().trigger( "click" );
  });


  // Buy Button Functionality
  $("#buy-button").click(function() {
    let checkedPack = $('input[name=pack]:checked', '#CTAForm').val();
    let checkedQuantity = $('input[name=quantity]', '#CTAForm').val();
    let checkoutLink = "https://" + location.hostname + "/cart/" + checkedPack + ":" + checkedQuantity;
    window.location.href = checkoutLink;
  })

</script>








