<div class="product-actions">
  <div class="form-wrap">
    <div id="CTAForm">
      <p class="cta-title">Select Your Pack</p>
      <div class="input-field product-option-select">
        {% for var in product.variants %}
          {% if localization.country.iso_code == 'CA' %}
            {% assign original_item_cap = var.metafields.custom.original_item.value.metafields.my_fields.ca_cap | times: 100 %}
          {% elsif localization.country.iso_code == 'AU' %}
            {% assign original_item_cap = var.metafields.custom.original_item.value.metafields.my_fields.au_cap | times: 100 %}
          {% else %}
            {% assign original_item_cap = var.metafields.custom.original_item.value.compare_at_price %}
          {% endif %}

          {% if var.title contains "CuraEats" %}
            {% assign bundle_value = challenge_value | plus: curaeats_value %}
            <div class="variant-notice"><p><b>Bonus</b> - 30 Day Life Changing Program <b>(<span class="rounded no-letters">{{ bundle_value | times: 100 | money_with_currency | replace: ".00", "" | replace: "GBP", "" | replace: "AUD", "" | replace: "CAD", "" }}</span> value)</b></p></div>
          {% else %}
            {% assign bundle_value = 0 %}
          {% endif %}

          {% assign bottle_quantity = var.metafields.my_fields.pack_bottles_quantity %}
          {% assign original_item_cap_total = original_item_cap | times: bottle_quantity %}
          {% assign original_item_cap_total_with_bundle = bundle_value | times: 100 | plus: original_item_cap_total %}

          <div class="variant-box">
            <div class="radio-box">
              {% if original_item_cap_total_with_bundle > var.price %}
                {% assign discount = original_item_cap_total_with_bundle | minus: var.price | divided_by: 100 %}
              {% else %}
                {% assign discount = 0 %}
              {% endif %}
              <input type="radio" name="pack" value="{{ var.id }}" price="{{ var.price | money_without_currency }}" discount="{{ discount | replace: ".00", "" }}" title="{{ var.title }}" sku="{{ var.sku }}" save="{{ var.metafields.my_fields.discount_percents }}" index="{{ product.variants.size | minus: forloop.index | plus: 1 }}" {% if forloop.index == 3 %} checked=true{% endif %}></input>
            </div>
            <div class="variant-info">
              <p class="variant-title">{{ var.title }}</p>
              <div class="variant-infos">
                <p class="subtitle">{{ var.metafields.my_fields.subtitle }}</p>
              </div>
            </div>

            <div class="price">
              {% if original_item_cap_total_with_bundle > var.price %}
                {% comment %} <p class="compared-at-price"><strike class="rounded no-letters">{{ original_item_cap | money_without_trailing_zeros }}</strike></p> {% endcomment %}
                <p class="compared-at-price"><strike class="rounded no-letters">{{ original_item_cap_total_with_bundle | money_without_trailing_zeros }}</strike></p>
              {% endif %}
              <p class="real-price rounded no-letters">{{ var.price | money_without_trailing_zeros }}</p>
            </div>
          </div>
        {% endfor %}
      </div>

      <input id="productVaraintSelected" type="hidden" name="id" value="{{ product.variants.first.id }}"/>
      <div class="submit-wrap">
        <div class="qty-data" style="display:none">
          <div class="qty-control">
            <a data-act="-" href="javascript:void(0)">
              <span class="icon-minus"></span>
            </a>
            <label>
              <input maxlength="4" name="quantity" type="number" value="1">
            </label>
            <a data-act="+" href="javascript:void(0)">
              <span class="icon-plus"></span>
            </a>
          </div>
        </div>

        <button class="main-btn" id="buy-button"><span>Shop Now</span> <span class="save" id="save"></span></button>
      </div>
    </div>
  </div>

  {% if badgesPosition == "cta" %}
    {% render 'trust-badges-section', content: "free-shipping,money-back", colors: "#5c5c5c", bottomLine: true %}
  {% endif %}
</div>

<style>
  .product-actions {
    grid-area: 2/2/3/3;
    max-width: 450px;
  }

  .product-actions .form-wrap #CTAForm {
    display: unset;
  }

  .product-actions .form-wrap #CTAForm .cta-title {
    font-size: 18px;
    margin: 10px 0;
  }

  .product-actions .form-wrap #CTAForm .variant-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background: #fff;
    border: 1px solid #cbcbcb;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 10px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.1));
    transition: all .5s;
    position: relative;
  }

  .product-actions .form-wrap #CTAForm .variant-box:hover {
    border-color: #2f2f2f;
    filter: drop-shadow(0px 4px 4px rgba(47, 47, 47, 0.3));
  }

  .product-actions .form-wrap #CTAForm .variant-box:hover>.radio-box input[type=radio]:after {
    background-color: #a9a9a9;
  }

  .product-actions .form-wrap #CTAForm .variant-box .radio-box {
    width: 5%;
    align-items: center;
    display: flex;
    padding: 10px;
  }

  .product-actions .form-wrap #CTAForm .variant-box .radio-box input[type=radio] {
    position: relative;
    left: -3px;
    pointer-events: none;
  }

  .product-actions .form-wrap #CTAForm .variant-box .radio-box input[type=radio]:before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 1px;
    top: 50%;
    margin-top: -7px;
    border: 1px solid #000;
    border-radius: 8px;
  }

  .product-actions .form-wrap #CTAForm .variant-box .radio-box input[type=radio]:after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--dark-green) !important;
    width: 0;
    height: 0;
    top: 50%;
    left: 8px;
    margin-top: 0;
    border-radius: 4px;
    transition: .2s ease-in-out
  }

  .product-actions .form-wrap #CTAForm .variant-box .radio-box input[type=radio]:checked:after {
    height: 8px;
    width: 8px;
    margin-top: -4px;
    left: 4px
  }

  .product-actions .form-wrap #CTAForm .variant-box .variant-info {
    padding: 10px;
    width: 70%
  }

  .product-actions .form-wrap #CTAForm .variant-box .variant-info .variant-title {
    margin: 0;
    font-size: 17px;
  }

  .product-actions .form-wrap #CTAForm .variant-box .variant-info .variant-infos p {
    font-weight: 200;
    display: inline-block;
    margin: 0;
  }

  .product-actions .form-wrap #CTAForm .variant-box .variant-info .variant-infos p b {
    font-weight: 700;
  }

  .product-actions .form-wrap #CTAForm .variant-box .price {
    display: flex;
    align-items: center;
    min-width: 15px;
    margin-right: 40px;
    padding-bottom: unset;
  }

  .product-actions .form-wrap #CTAForm .variant-box .price .compared-at-price {
    margin-right: 5px !important;
    font-size: unset;
  }

  .product-actions .form-wrap #CTAForm .variant-box .price .compared-at-price strike {
    font-size: 10px !important;
  }

  .product-actions .form-wrap #CTAForm .variant-box .price .real-price {
    font-size: 20px;
  }

  .product-actions .form-wrap #CTAForm .submit-wrap button {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
    color: white;
    width: 100%;
  }

  .product-actions .form-wrap #CTAForm .submit-wrap button span {
    width: 50%;
  }

  .product-actions .form-wrap #CTAForm .submit-wrap button span:first-child {
    border-right: 1px solid white;
    font-size: 130%;
  }

  .product-actions .form-wrap #CTAForm .submit-wrap button span.save {
    font-weight: 100;
    font-size: 75%;
  }

  .product-actions .form-wrap #CTAForm .submit-wrap .qty-data .qty-control {
    border-color: var(--dark-green);
  }

  .product-actions .form-wrap #CTAForm .variant-notice p {
    background: #9EB069;;
    color: white;
    padding: 4px;
    margin: unset;
  }

  @media screen and (max-width: 1270px) {
    .product-actions .form-wrap #CTAForm .variant-box {
      width: 100%
    }

    .product-actions .form-wrap #CTAForm .variant-box .variant-info {
      padding: 10px;
      width: 95%;
    }

    .product-actions .form-wrap #CTAForm .variant-box .price {
      position: absolute;
      right: 10px;
      bottom: 10px;
      margin-right: unset;
    }
  }

  @media screen and (max-width: 768px) {
    .product-actions {
      grid-area: unset;
      grid-row: 3;
      max-width: unset
    }

    .product-actions .form-wrap #CTAForm .variant-box .variant-info .variant-title {
      font-size: 14px;
    }

    .product-actions .form-wrap #CTAForm .submit-wrap .qty-data .qty-control {
      border: 1px solid #ffb22d
    }

    .product-actions .form-wrap #CTAForm .variant-box .variant-info .variant-infos p {
      font-size: 12px !important;
    }
  }

  @media screen and (max-width: 330px) {
    .product-actions .variant-infos {
      font-size: 10px !important;
    }
  }
</style>

<script>
  $( document ).ready(function() {
    updateSave();
  });

  function updateSave() {
    let saveText = "You Save " + "{{ cart.currency.symbol }}" + $('input[name=pack]:checked', '#CTAForm').attr('discount');

    $('#save').animate({'opacity': 0}, 800, function () {
      $(this).text(saveText);
    }).animate({'opacity': 1}, 800);
  }

  $(".variant-box").click(function() {
    updateSave();

    $(this).find('input[type=radio]').prop('checked', true);
    $("#productVaraintSelected").prop('value', $(this).find('input[type=radio]')[0].value);

    // Slide to Variant Image
    let slideIndex = productSliderAllInOne.slides.length - jQuery('input[name=pack]:checked', '#CTAForm').attr('index');
    productSliderAllInOne.slideTo(slideIndex);

    // Track in GA
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      'event': 'variant-click',
      'label': $('input[name=pack]:checked', '#CTAForm').attr('sku'),
      'userId': '{{ customer.id }}',
      'email': '{{ customer.email }}',
      'country': '{{customer.customer_address.country_code }}',
      'city': '{{customer.customer_address.city }}',
      'name': '{{ customer.first_name }}',
      'surname': '{{ customer.last_name }}',
      'phone_number': '{{customer.phone }}',
      'state': '{{customer.customer_address.province }}',       //state or province
      'zip': '{{customer.customer_address.zip }}'         //ZIP or Postal code
    });

    // Track in Woopra
    woopra.track('Product_Variant_Select', {
      sku: $(this).find("input").attr("sku"),
      variant_id: $(this).find("input").attr("value"),
      variant_title: $(this).find("input").attr("title"),
      price: $(this).find("input").attr("price")
    })
  });

  // On Quantity Change
  $(document).on("click", ".submit-wrap .qty-control a", function (e) {
    e.preventDefault();
    let newVal, $button = $(this),
      inputObj = $button.closest(".qty-control").find("input"),
      oldValue = inputObj.val();
    if ($button.attr('data-act') === "+") {
      newVal = parseInt(oldValue) + 1;
    }
    else {
      newVal = parseInt(oldValue) - 1;
    }

    inputObj.val(newVal);
  });

  // On Buy Button Click
  $(document).on("click", "#buy-button", function () {
    let checkedPack = $('input[name=pack]:checked', '#CTAForm').val();
    let checkedQuantity = $('input[name=quantity]', '#CTAForm').val();
    let checkoutLink = "https://" + location.hostname + "/cart/" + checkedPack + ":" + checkedQuantity;
    window.location.href = checkoutLink;

    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event: 'add_to_cart',
      ecommerce: {
      items: [{
        item_name: '{{ product.title }}',
        item_id: $('input[name=pack]:checked', '#CTAForm').attr('sku'),
        affiliation: '{{ shop.name }}',
        price: $('input[name=pack]:checked', '#CTAForm').attr('price'),
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: parseInt($(".qty-control input").val())
      }]
      },
      email: '{{ customer.email }}',
      phone: '{{ customer.phone }}',
      name: '{{ customer.first_name }}',
      surname: '{{ customer.last_name }}',
      city: '{{ customer.customer_address.city }}',
      state: '{{ customer.customer_address.province }}',
      zip: '{{ customer.customer_address.zip }}',
      country: '{{customer.customer_address.country_code | t}}',
      user_agent: navigator.userAgent
    });

    woopra.track('add to cart', {
      product_sku: $('input[name=pack]:checked', '#CTAForm').attr('sku'),
      product_name: '{{ product.title }}',
      product_price: $('input[name=pack]:checked', '#CTAForm').attr('price'),
      currency: '{{ shop.currency }}',
      quantity: parseInt($(".qty-control input").val())
    });
  });
</script>