<section class="pack-info-section instance-{{ index }}">
  <div class="container">
    <div class="titles">
      <h2 class="title">{{ product.title }}</h2>
      <p class="subtitle">{{ product.description }}</p>
    </div>

    <div class="tabbed-content tabs-side">
      <nav class="tabs">
        <ul>
          <li><a href="#highlights-{{ index }}" class="active">Product Highlights</a></li>
          <li><a href="#instructions-{{ index }}">Usage Instructions</a></li>
          <li><a href="#ingredients-{{ index }}">Ingredients</a></li>
          <li><a href="#facts-{{ index }}">Supplement Facts</a></li>
        </ul>
      </nav>

      <div class="content">
        <div id="highlights-{{ index }}" class="item" data-title="Product Highlights">
          <div class="highlights item-content">
            {% for highlight in product.metafields.custom.product-highlights.value %}
              <div class="highlight">
                <div class="highlight-icon"><i class="icofont-check"></i></div>
                <p><b>{{ highlight.title }}</b><br>{{ highlight.subtitle }}</p>
              </div>
            {% endfor %}
          </div>
        </div>

        <div id="instructions-{{ index }}" class="item" data-title="Usage Instructions">
          <div class="instructions item-content">
            {% for step in product.metafields.custom.instructions.value %}
              <div class="step">
                <h3>{{ step.title }}</h3>
                <div class="capsules">
                  {% for item in (1..step.capsules) %}
                    <img src="{{ "onboarding-capsule.png" | asset_url }}" alt="Capsule Pill" loading="lazy">
                  {% endfor %}
                </div>
                <p>{{ step.subtitle }}</p>
              </div>
            {% endfor %}
          </div>
        </div>

        <div id="ingredients-{{ index }}" class="item" data-title="Ingredients">
          <div class="ingredients item-content">
            {% for ingredient in product.metafields.custom.ingredients.value %}
              <div class="ingredient">
                {% assign ingredient_handle = ingredient | downcase | replace: ' ', '-'  %}
                <img src="{{ "product-supplement-pack-info-ingredient-icon-" | append: ingredient_handle | append: ".png" | asset_url }}" alt="Ingredient" loading="lazy">
                <p>{{ ingredient }}</p>
              </div>
            {% endfor %}
          </div>
        </div>

        <div id="facts-{{ index }}" class="item active" data-title="Supplement Facts">
          <div class="facts item-content">
              <img src="{{ product.metafields.custom.supplement_fact | img_url: 'original' }}" alt="Supplement Facts" loading="lazy">
          </div>
        </div>
      </div>
    </div>

    <div class="product-image-wrapper">
      {% if index %}
        <p class="number">{{ index }}</p>
      {% endif %}

      <img class="product-image" src="{{ product.metafields.custom.bottle_image | img_url: 'original' }}" alt="{{ product.title }}" loading="lazy">
    </div>
  </div>
</section>

{% if isLastRender %}
  <style>
    #supplement-page section.pack-info-section .titles {
      flex-direction: revert;
      justify-content: start;
      max-width: 100%;
      text-align: left;
    }

    .pack-info-section {
      background: var(--light-brown);
    }

    .pack-info-section:nth-of-type(even) {
      background: var(--light-purple);
    }

    .pack-info-section .product-image-wrapper {
      position: absolute;
      bottom: -120px;
      right: 0;
    }

    .pack-info-section .product-image-wrapper,
    .pack-info-section .product-image-wrapper p {
      left: 0;
    }

    .pack-info-section .product-image-wrapper .number {
      position: absolute;
      right: 0;
      top: 90px;
      font-size: 350px;
      font-weight: bold;
    }

    .pack-info-section .product-image-wrapper .product-image {
      position: relative;
      right: -50px;
    }

    .highlights {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .highlights .highlight {
      display: flex;
      align-items: center;
    }

    .highlights .highlight p {
      margin: unset;
    }

    .highlight-icon {
      background: var(--light-green);
      color: white;
      border-radius: 50%;
      min-width: 30px;
      height: 30px;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }

    .instructions {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .pack-info-section .instructions .step {
      display: flex;
      gap: 30px;
    }

    .pack-info-section .instructions .step {
      display: flex;
      gap: 30px;
    }

    .pack-info-section .instructions .step h3 {
      font-size: 28px;
      font-weight: bold;
      min-width: 105px;
    }

    .pack-info-section .instructions .step .capsules {
      min-width: 80px;
    }

    .ingredients {
      display: flex;
      flex-wrap: wrap;
      max-width: 400px;
      gap: 10px;
    }

    .ingredient {
      width: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .ingredient p {
      font-size: 16px;
      text-align: center;
    }

    .facts img {
      max-height: 300px;
    }

    .tabbed-content {
      max-width: 800px;
      display: flex;
      align-items: center;
      height: 300px;
    }

    .tabs ul li {
      text-align: center;
      height: 70px;
      border-bottom: 1px solid;
    }

    .tabs ul li:first-child {
      border-top: 1px solid;
    }
    .tabs ul li a {
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .tabs ul li a:hover,
    .tabs ul li a.active {
      color: var(--brown);
      font-weight: bold;
    }

    .pack-info-section:nth-of-type(even) .tabs ul li a:hover,
    .pack-info-section:nth-of-type(even) .tabs ul li a.active {
      color: var(--dark-purple);
    }
    .item {
      margin-bottom: 2px;
    }
    .item::before {
      cursor: pointer;
      font-weight: bold;
      background: #eee;
      padding: 0.5em;
      display: block;
    }
    .item.active::before {
      background: #444;
      color: #eee;
    }
    .item.active .item-content {
      transition: opacity 0.8s ease-in-out;
    }
    @media all and (min-width: 800px) {
      .item.active .item-content {
        padding-top: 0;
      }
      .tabs-side .tabs li {
        margin-bottom: 2px;
      }
    }

    /* The project specific CSS starts here This is the minimum CSS that you will need in order for this to work */
    .tabbed-content .tabs {
      display: none;
    }
    .tabbed-content .item {
      min-height: 2em;
    }
    .tabbed-content .item::before {
      content: attr(data-title);
    }
    .tabbed-content .item .item-content {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }
    .tabbed-content .item.active .item-content {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
    @media all and (min-width: 800px) {
      .tabbed-content .tabs {
        display: block;
      }
      .tabbed-content .tabs li {
        display: inline-block;
      }
      .tabbed-content .tabs li a {
        display: flex;
      }
      .tabbed-content .item {
        min-height: 0;
      }
      .tabbed-content .item::before {
        display: none;
      }
      .tabbed-content.tabs-side .tabs {
        width: 300px;
        float: left;
        margin-right: 50px;
      }
      .tabbed-content.tabs-side .tabs li {
        display: block;
      }
    }
  </style>
{% endif %}

  <script>
    tabControl();

    var resizeTimer;
    $(window).on('resize', function(e) {
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(function() {
        tabControl();
      }, 250);
    });

    function tabControl() {
      var tabs = $('.pack-info-section.instance-{{ index }} .tabbed-content').find('.tabs');
      if(tabs.is(':visible')) {
        tabs.find('a').on('click', function(event) {
          event.preventDefault();
          var target = $(this).attr('href'),
              tabs = $(this).parents('.tabs'),
              buttons = tabs.find('a'),
              item = tabs.parents('.pack-info-section.instance-{{ index }} .tabbed-content').find('.item');
          buttons.removeClass('active');
          item.removeClass('active');
          $(this).addClass('active');
          $(target).addClass('active');
        });
      } else {
        $('.item').on('click', function() {
          var container = $(this).parents('.pack-info-section.instance-{{ index }} .tabbed-content'),
              currId = $(this).attr('id'),
              items = container.find('.item');
          container.find('.tabs a').removeClass('active');
          items.removeClass('active');
          $(this).addClass('active');
          container.find('.tabs a[href$="#'+ currId +'"]').addClass('active');
        });
      }
    }
  </script>
