<!DOCTYPE html>

<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
     {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  
    <!-- Curalife Shopify Redirect for checkout.shopify.com -->  
  {% render 'layout.head.google-tag-manager-checkout-redirect'%}
    <!-- Curalife Shopify Only Google Tag Manager -->  
  {% render 'layout.head.google-tag-manager'%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    
    <!-- Yotpo Modules Script -->
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5AyB8SFKOjnnor-g4qIeMg" async></script>
</head>
<body>  
   <!-- Remove product_ids code after removing old tracking -->
    <!-- {% for line_item in checkout.line_items %}
    {%- assign comma_list_append = ',' -%}
    {%- if forloop.last -%}
    {%- assign comma_list_append = '' -%}
    {%- endif -%}
    {%- assign productIds = productIds | append: line_item.product.id | append: comma_list_append -%}
    {% endfor %}
    {% assign product_ids = productIds | split: "," %} -->

    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="yotpo-widget-instance" data-yotpo-instance-id="18962"></div>
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
            <div class="tc" style="display:flex;justify-content:flex-end;"><p style="margin-top:10px;">By clicking the continue button I Agree to CuraLife's <a href="/policies/terms-of-service">Terms & Conditions</a>.</p></div>
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}      
          </div>
          <div class="yotpo-widget-instance" data-yotpo-instance-id="35419"></div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    <style>
      @media only screen and (min-width: 760px) {
        .tc p {
          max-width:180px;
        }
      }
      
      .btn {
        min-width: 180px;
      }
    </style>  

  <script>
    let utm_url = '&'
    let utm = location.search.split('utm')
    window.onload = function () {
      for (let i = 1; i < utm.length; i++) {
        utm_url += 'utm' + utm[i];
      }
      $("form").each((form) => {
        $(this).attr("action", $(this).attr("action") + utm_url);
      });
    }
  </script>
  
<!-- Start of Woopra Code -->
<script>
  !function(){var t,o,c,e=window,n=document,r=arguments,a="script",i=["call","cancelAction","config","identify","push","track","trackClick","trackForm","update","visit"],s=function(){var t,o=this,c=function(t){o[t]=function(){return o._e.push([t].concat(Array.prototype.slice.call(arguments,0))),o}};for(o._e=[],t=0;t<i.length;t++)c(i[t])};for(e.__woo=e.__woo||{},t=0;t<r.length;t++)e.__woo[r[t]]=e[r[t]]=e[r[t]]||new s;(o=n.createElement(a)).async=1,o.src="https://static.woopra.com/js/w.js",(c=n.getElementsByTagName(a)[0]).parentNode.insertBefore(o,c)}("woopra");

  woopra.config({
    domain: "curalife.com",
    outgoing_tracking: true,
    download_tracking: true,
    click_tracking: true
  });

  {%- if checkout.email -%}
    woopra.identify({
      email: {{ checkout.email | json }}
    });
  {%- endif -%}

  {%- if customer -%}
  woopra.identify({
    customer_id: {{ customer.id | json }},
    name: {{ customer.name | json }},
    email: {{ customer.email | json }},              
    order_count: {{ customer.orders_count | json }},
    total_spent: {{ customer.total_spent | json }}
  });
  {%- endif -%}

  woopra.track();
</script>
<!-- End of Woopra Code -->
  
  <script>  
    items_data = [];
    {% for line_item in checkout.line_items %}
        var item = {
          item_id: '{{ line_item.product.selected_or_first_available_variant.sku }}',
          item_name: '{{ line_item.product.title }}',
          affiliation: '{{ shop.name }}',
          price: parseFloat({{ line_item.product.price }} / 100.0).toFixed(2).toString(),
          currency: '{{ shop.currency }}',
          item_brand: 'CuraLife',            
          item_category: 'CuraLin',         
          quantity: {{ line_item.quantity }}
        }
        items_data.push(item);
    {% endfor %}
  
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const step = urlParams.get('step');

if (step == 'contact_information' || (!/thank_you|processing|orders/.test(window.location.href) && step == null)) {
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          'event': 'CheckoutStarted',
          'step': '1',
          'content_type': 'product_group',    
          'content_ids': '[{{ productIds }}]',    //if multiple contents are in the cart on the checkout add an array of all products IDs
          'value': '{{ checkout.total_price | money_without_currency }}',
          'currency': '{{shop.currency}}',
          'userId': '{{ checkout.customer.id }}',
          'email': '{{ checkout.email }}',
          'city': '{{checkout.shipping_address.city }}',
          'country': '{{checkout.shipping_address.country_code }}',
          'name': '{{ checkout.shipping_address.first_name }}',
          'surname': '{{ checkout.shipping_address.last_name }}',
          'phone_number': '{{checkout.shipping_address.phone }}',
          'state': '{{checkout.shipping_address.province }}',       //state or province
          'zip': '{{checkout.shipping_address.zip }}',          //ZIP or Postal code
          'num_items': '{{ checkout.line_items.size }}'
        });

        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          event: 'begin_checkout',
          ecommerce: {                          
            items: items_data
          },
          email: '{{ checkout.email }}',
          phone: '{{ checkout.shipping_address.phone }}',
          name: '{{ checkout.shipping_address.first_name }}',
          surname: '{{ checkout.shipping_address.last_name }}',
          city: '{{ checkout.shipping_address.city }}',
          state: '{{ checkout.shipping_address.province }}',
          zip: '{{ checkout.shipping_address.zip }}',
          country: '{{ checkout.shipping_address.country_code }}',
          user_agent: navigator.userAgent
        });

        woopra.track('Checkout Step - Information', {page_url: window.location.href});
  }
  else if (step == 'shipping_method') {
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      'event': 'addShippingDetail',
      'step': '1',
      'content_type': 'product_group',    
      'content_ids': '[{{ productIds }}]',    //if multiple contents are in the cart on the checkout add an array of all products IDs
      'value': '{{ checkout.total_price | money_without_currency }}',
      'currency': '{{shop.currency}}',
      'userId': '{{ checkout.customer.id }}',
      'email': '{{ checkout.email }}',
      'city': '{{checkout.shipping_address.city }}',
      'country': '{{checkout.shipping_address.country_code }}',
      'name': '{{ checkout.shipping_address.first_name }}',
      'surname': '{{ checkout.shipping_address.last_name }}',
      'phone_number': '{{checkout.shipping_address.phone }}',
      'state': '{{checkout.shipping_address.province }}',       //state or province
      'zip': '{{checkout.shipping_address.zip }}',          //ZIP or Postal code
      'num_items': '{{ checkout.line_items.size }}'
});

window.dataLayer = window.dataLayer || [];
window.dataLayer.push({
  event: 'add_shipping_info',
  ecommerce: {      
    shipping_tier: 'Free Shipping',                 
    items: items_data
  },
  email: '{{ checkout.email }}',
  phone: '{{ checkout.shipping_address.phone }}',
  name: '{{ checkout.shipping_address.first_name }}',
  surname: '{{ checkout.shipping_address.last_name }}',
  city: '{{ checkout.shipping_address.city }}',
  state: '{{ checkout.shipping_address.province }}',
  zip: '{{ checkout.shipping_address.zip }}',
  country: '{{ checkout.shipping_address.country_code }}',
  user_agent: navigator.userAgent
});

woopra.track('Checkout Step - Shipping', {});
  }
  else if (step == 'payment_method') {
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        'event': 'AddPaymentInfo',
        'step': '2',
        'content_type': 'product_group',    
        'content_ids': '[{{ productIds }}]',    //if multiple contents are in the cart on the checkout add an array of all products IDs
        'value': '{{ checkout.total_price | money_without_currency }}',
        'currency': '{{shop.currency}}',
        'userId': '{{ checkout.customer.id}}',
        'email': '{{ checkout.email }}',
        'city': '{{checkout.shipping_address.city }}',
        'country': '{{checkout.shipping_address.country_code}}',
        'name': '{{ checkout.shipping_address.first_name }}',
        'surname': '{{ checkout.shipping_address.last_name }}',
        'phone_number': '{{checkout.shipping_address.phone }}',
        'state': '{{checkout.shipping_address.province }}',       //state or province
        'zip': '{{checkout.shipping_address.zip }}',          //ZIP or Postal code
        'num_items': '{{ checkout.line_items.size }}'
      });

      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        event: 'add_payment_info',
        ecommerce: {      
          payment_type: '',                    
          items: items_data
        },
        email: '{{ checkout.email }}',
        phone: '{{ checkout.shipping_address.phone }}',
        name: '{{ checkout.shipping_address.first_name }}',
        surname: '{{ checkout.shipping_address.last_name }}',
        city: '{{ checkout.shipping_address.city }}',
        state: '{{ checkout.shipping_address.province }}',
        zip: '{{ checkout.shipping_address.zip }}',
        country: '{{ checkout.shipping_address.country_code }}',
        user_agent: navigator.userAgent
      });

      woopra.track('Checkout Step - Payment', {});
    }  
    else if (window.location.href.includes('thank_you')) {
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        'event': 'Purchase',
        'transaction_id': '{{checkout.order.name}}',      //order ID
        'content_type': 'product_group',
        'content_ids': '[{{ productIds }}]',      //if multiple conttent are purchased add array of all products IDs
        'value': '{{ checkout.total_price | money_without_currency }}',
        'currency': '{{shop.currency}}',
        'userId': '{{ checkout.customer.id }}',
        'email': '{{ checkout.email }}',
        'city': '{{checkout.shipping_address.city }}',
        'country': '{{checkout.shipping_address.country_code }}',
        'name': '{{ checkout.shipping_address.first_name }}',
        'surname': '{{ checkout.shipping_address.last_name }}',
        'phone_number': '{{checkout.shipping_address.phone }}',
        'state': '{{checkout.shipping_address.province }}',       //state or province
        'zip': '{{checkout.shipping_address.zip }}',          //ZIP or Postal code
        'num_items': '{{ checkout.line_items.size }}'
        });
       
        {% assign coupon = checkout.discount_applications | first %}
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          event: 'purchase', 
          ecommerce: {
            currency: '{{ shop.currency }}', 
            value: '{{ checkout.total_price | money_without_currency }}',
            tax: '{{ checkout.tax_price | money_without_currency }}',
            shipping: '0.00', 
            affiliation: '{{ shop.name }}',
            transaction_id: '{{ checkout.order.name }}',
            coupon: '{{ coupon.title }}',
            items: items_data
          },
          email: '{{ checkout.email }}',
          phone: '{{ checkout.shipping_address.phone }}',
          name: '{{ checkout.shipping_address.first_name }}',
          surname: '{{ checkout.shipping_address.last_name }}',
          city: '{{ checkout.shipping_address.city }}',
          state: '{{ checkout.shipping_address.province }}',
          zip: '{{ checkout.shipping_address.zip }}',
          country: '{{ checkout.shipping_address.country_code }}',
          user_agent: navigator.userAgent
        });

        woopra.track('Checkout Step - Thank You', {
          'test_variant': $.cookie("_sc_3")
        });
 };
</script>

<script> 
  // Track Discount Code
  var checker;  

  function trackApplyDiscount() {
    checker = setInterval(checkApplyDiscount, 200);
  }

  function checkApplyDiscount() {
    if ($(".tag .reduction-code .reduction-code__text").length) {
      woopra.track('Apply Discount Code', {
        discount_code: $(".tag .reduction-code .reduction-code__text").text()
      });
      clearInterval(checker);
      $("#checkout_submit").click(trackApplyDiscount);
    }
    else if ($("#error-for-reduction_code").length) {
      woopra.track('Apply Discount Code - Failed', {
        discount_code: $("#checkout_reduction_code").attr("value"),
        error_message: $("#error-for-reduction_code").text()
      });
      clearInterval(checker);
      $("#checkout_submit").click(trackApplyDiscount);
    }
    else if ($("#checkout_submit").hasClass("btn--disabled")) {
      woopra.track('Apply Discount Code - Failed', {
        discount_code: $("#checkout_reduction_code").attr("value"),
        error_message: "No message displayed (but apply button disabled)"
      });        
      clearInterval(checker);
      $("#checkout_submit").click(trackApplyDiscount);
    }
  }

  $("#checkout_submit").click(trackApplyDiscount);

  // Track Login
  $('a[href*="/account/login"]').click(function() {
    woopra.track('Checkout Login');
  })

  // Track Changing Billing Same/Different as Shipping
  $('.section--billing-address input').click(function() {
    woopra.track('Billing Same/Different as Shipping Select', {
      option: $(this).val() == 'true' ? 'Different' : 'Same'
    })
  })

  $('.section--billing-address label').click(function() {
    woopra.track('Billing Same/Different as Shipping Select', {
      option: $(this).att('for') == 'checkout_different_billing_address_true' ? 'Different' : 'Same'
    })
  })
</script>
  
  </body>
</html>
