<!DOCTYPE html>

<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <!-- liquid CO -->
          <!-- Global site tag (gtag.js) - Google Analytics 4 YOTAM->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F0MV256GM0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-F0MV256GM0');
</script-->
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
     {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
    <title>{{ page_title }}</title>
<!-- Curalife Shopify Redirect for checkout.shopify.com -->  
    {% include 'google-tag-manager-checkout-redirect'%}
    
    
    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  
  {% render 'shogun-head' %} 
    
    <!-- Curalife Shopify Only Google Tag Manager -->  
  {% include 'google-tag-manager'%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- Yotpo Modules Script -->
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5AyB8SFKOjnnor-g4qIeMg" async></script>
  <style>
    @media only screen and (min-width: 760px) {
  .tc p {
    max-width:180px;
  }
}
    .btn {
      min-width: 180px;
    }
    
    #smsbump-consent-message {
      max-width: 200px;
      position: absolute;
    }
    </style>

    <!-- Start of Woopra Code -->
<script>
  !function(){var t,o,c,e=window,n=document,r=arguments,a="script",i=["call","cancelAction","config","identify","push","track","trackClick","trackForm","update","visit"],s=function(){var t,o=this,c=function(t){o[t]=function(){return o._e.push([t].concat(Array.prototype.slice.call(arguments,0))),o}};for(o._e=[],t=0;t<i.length;t++)c(i[t])};for(e.__woo=e.__woo||{},t=0;t<r.length;t++)e.__woo[r[t]]=e[r[t]]=e[r[t]]||new s;(o=n.createElement(a)).async=1,o.src="https://static.woopra.com/js/w.js",(c=n.getElementsByTagName(a)[0]).parentNode.insertBefore(o,c)}("woopra");

  woopra.config({
    domain: "curalife.com",
    outgoing_tracking: true,
    download_tracking: true,
    click_tracking: true
  });

  {%- if checkout.email -%}
    woopra.identify({
      email: {{ checkout.email | json }}
    });
  {%- endif -%}

  {%- if customer -%}
  woopra.identify({
    customer_id: {{ customer.id | json }},
    name: {{ customer.name | json }},
    email: {{ customer.email | json }},              
    order_count: {{ customer.orders_count | json }},
    total_spent: {{ customer.total_spent | json }}
  });
  {%- endif -%}

  woopra.track();
</script>
<!-- End of Woopra Code -->
</head>
<body>
  {% include 'google-tag-manager-noscript'%}
  
    {% for line_item in checkout.line_items %}
    {%- assign comma_list_append = ',' -%}
    {%- if forloop.last -%}
    {%- assign comma_list_append = '' -%}
    {%- endif -%}
    {%- assign productIds = productIds | append: line_item.product.id | append: comma_list_append -%}
    {% endfor %}
    
    {% assign product_ids = productIds | split: "," %}

    <script>
      
      const queryString = window.location.search;
      
      const urlParams = new URLSearchParams(queryString);
      const step = urlParams.get('step');
      if(!window.location.href.includes('thank_you') && step == null){
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push({
              'event': 'CheckoutStarted',
              'step': '1',
              'content_type': 'product_group',    
              'content_ids': '[{{ productIds }}]',    //if multiple contents are in the cart on the checkout add an array of all products IDs
              'value': '{{ checkout.total_price | money_without_currency }}',
              'currency': 'USD',
              'userId': '{{ checkout.customer.id }}',
              'email': '{{ checkout.email }}',
              'city': '{{checkout.shipping_address.city }}',
              'country': '{{checkout.shipping_address.country_code }}',
              'name': '{{ checkout.shipping_address.first_name }}',
              'surname': '{{ checkout.shipping_address.last_name }}',
              'phone_number': '{{checkout.shipping_address.phone }}',
              'state': '{{checkout.shipping_address.province }}',       //state or province
              'zip': '{{checkout.shipping_address.zip }}',          //ZIP or Postal code
              'num_items': '{{ checkout.line_items.size }}'
             });
      };
      
    if(step=='payment_method')
        {
          window.dataLayer = window.dataLayer || [];
          window.dataLayer.push({
            'event': 'AddPaymentInfo',
            'step': '2',
            'content_type': 'product_group',    
            'content_ids': '[{{ productIds }}]',    //if multiple contents are in the cart on the checkout add an array of all products IDs
            'value': '{{ checkout.total_price | money_without_currency }}',
            'currency': 'USD',
            'userId': '{{ checkout.customer.id}}',
            'email': '{{ checkout.email }}',
            'city': '{{checkout.shipping_address.city }}',
            'country': '{{checkout.shipping_address.country_code}}',
            'name': '{{ checkout.shipping_address.first_name }}',
            'surname': '{{ checkout.shipping_address.last_name }}',
            'phone_number': '{{checkout.shipping_address.phone }}',
            'state': '{{checkout.shipping_address.province }}',       //state or province
            'zip': '{{checkout.shipping_address.zip }}',          //ZIP or Postal code
            'num_items': '{{ checkout.line_items.size }}'
          });
        };
      if(step=='shipping_method')
      {
        
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          'event': 'addShippingDetail',
          'step': '1',
          'content_type': 'product_group',    
          'content_ids': '[{{ productIds }}]',    //if multiple contents are in the cart on the checkout add an array of all products IDs
          'value': '{{ checkout.total_price | money_without_currency }}',
          'currency': 'USD',
          'userId': '{{ checkout.customer.id }}',
          'email': '{{ checkout.email }}',
          'city': '{{checkout.shipping_address.city }}',
          'country': '{{checkout.shipping_address.country_code }}',
          'name': '{{ checkout.shipping_address.first_name }}',
          'surname': '{{ checkout.shipping_address.last_name }}',
          'phone_number': '{{checkout.shipping_address.phone }}',
          'state': '{{checkout.shipping_address.province }}',       //state or province
          'zip': '{{checkout.shipping_address.zip }}',          //ZIP or Postal code
          'num_items': '{{ checkout.line_items.size }}'
     });
      
      };
      if(window.location.href.includes('thank_you'))
      {
        if({{checkout.discounts_amount | money_without_currency}} > 0)
        {
          window.dataLayer = window.dataLayer || [];
          window.dataLayer.push(
            {
            'event': 'Purchase',
            'transaction_id': '{{checkout.order.name}}',      //order ID
            'content_type': 'product_group',
            'content_ids': '[{{ productIds }}]',      //if multiple conttent are purchased add array of all products IDs
            'value': '{{ checkout.total_price | money_without_currency }}',
            'currency': 'USD',
            'userId': '{{ checkout.customer.id }}',
            'email': '{{ checkout.email }}',
            'city': '{{checkout.shipping_address.city }}',
            'country': '{{checkout.shipping_address.country_code }}',
            'name': '{{ checkout.shipping_address.first_name }}',
            'surname': '{{ checkout.shipping_address.last_name }}',
            'phone_number': '{{checkout.shipping_address.phone }}',
            'state': '{{checkout.shipping_address.province }}',       //state or province
            'zip': '{{checkout.shipping_address.zip }}',          //ZIP or Postal code
            'num_items': '{{ checkout.line_items.size }}'
            });
          } else if({{ checkout.total_price | money_without_currency }} > 0)
        {
          window.dataLayer = window.dataLayer || [];
          window.dataLayer.push({
            'event': 'Purchase',
            'transaction_id': '{{checkout.order.name}}',      //order ID
            'content_type': 'product_group',
            'content_ids': '[{{ productIds }}]',      //if multiple conttent are purchased add array of all products IDs
            'value': '{{ checkout.total_price | money_without_currency }}',
            'currency': 'USD',
            'userId': '{{ checkout.customer.id }}',
            'email': '{{ checkout.email }}',
            'city': '{{checkout.shipping_address.city }}',
            'country': '{{checkout.shipping_address.country_code }}',
            'name': '{{ checkout.shipping_address.first_name }}',
            'surname': '{{ checkout.shipping_address.last_name }}',
            'phone_number': '{{checkout.shipping_address.phone }}',
            'state': '{{checkout.shipping_address.province }}',       //state or province
            'zip': '{{checkout.shipping_address.zip }}',          //ZIP or Postal code
            'num_items': '{{ checkout.line_items.size }}'
          });
        }
     }
    </script>

  
    
      <!-- Curalife Shopify Only Google Tag Manager (noscript) -->
    {% include 'google-tag-manager-noscript.liquid' %}
    
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="yotpo-widget-instance" data-yotpo-instance-id="18962"></div>
    <div class="content" data-content>
      <div class="wrap">
       
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
            <div class="tc" style="display:flex;justify-content:flex-end;"><p style="margin-top:10px;">By clicking the continue button I Agree to CuraLife's <a href="https://curalife.com/policies/terms-of-service">Terms & Conditions</a>.</p></div>
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}      
          </div>
          <div class="yotpo-widget-instance" data-yotpo-instance-id="35419"></div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  <script>
    let utm_url = '&'
    let utm = location.search.split('utm')
	window.onload = function () {
      for (let i = 1; i < utm.length; i++) {
  		utm_url += 'utm' + utm[i];
		}
      $("form").each((form) => {
        $(this).attr("action", $(this).attr("action") + utm_url);
      });
    }
  </script>
   	<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=XWfxAu&module=CONSENT_AT_CHECKOUT"></script>
  	{% include 'smsbump_checkout_marketing_subscription' %}
  
  <!-- Start of Woopra Code -->
<script>
  !function(){var t,o,c,e=window,n=document,r=arguments,a="script",i=["call","cancelAction","config","identify","push","track","trackClick","trackForm","update","visit"],s=function(){var t,o=this,c=function(t){o[t]=function(){return o._e.push([t].concat(Array.prototype.slice.call(arguments,0))),o}};for(o._e=[],t=0;t<i.length;t++)c(i[t])};for(e.__woo=e.__woo||{},t=0;t<r.length;t++)e.__woo[r[t]]=e[r[t]]=e[r[t]]||new s;(o=n.createElement(a)).async=1,o.src="https://static.woopra.com/js/w.js",(c=n.getElementsByTagName(a)[0]).parentNode.insertBefore(o,c)}("woopra");
  woopra.config({
    domain: "curalife.com",
    outgoing_tracking: true,
    download_tracking: true,
    click_tracking: true
  });
  woopra.track();
</script>
<!-- End of Woopra Code -->

<!-- Start VWO Async SmartCode -->
<script type='text/javascript'>
  window._vwo_code = window._vwo_code || (function(){
  var account_id=596099,
  settings_tolerance=2000,
  library_tolerance=2500,
  use_existing_jquery=false,
  is_spa=1,
  hide_element='body',
  
  /* DO NOT EDIT BELOW THIS LINE */
  f=false,d=document,code={use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){
  window.settings_timer=setTimeout(function () {_vwo_code.finish() },settings_tolerance);var a=d.createElement('style'),b=hide_element?hide_element+'{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}':'',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('https://dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&f='+(+is_spa)+'&r='+Math.random());return settings_timer; }};window._vwo_settings_timer = code.init(); return code; }());
  </script>
  <!-- End VWO Async SmartCode -->
  
  
  </body>
</html>
