<!doctype html>
<html>
  {%- comment -%} <script defer type="text/javascript" src="https://static.rechargecdn.com/assets/js/widget.min.js?shop=<curalife-commerce.myshopify.com>"></script> {%- endcomment -%}
  <head>
    <title>{{ page_title }}</title>

    {%- comment -%} <script>
    (function(g,e,o,t,a,r,ge,tl,y,s){
    t=g.getElementsByTagName(e)[0];y=g.createElement(e);y.async=true;
    y.src='https://geotargetly-api-2.com/gr?id=-NIlnxrak4mFp0Q7z8WQ&refurl='+g.referrer+'&winurl='+encodeURIComponent(window.location);
    t.parentNode.insertBefore(y,t);
    })(document,'script');
    </script> {%- endcomment -%}

    {% render 'layout.head.geo-redirect-script' %}
    {% render 'layout.head.redirects-script' %}
    {% render 'layout.head.google-tag-manager'%}
    {% render 'layout.head.meta-tags' %}
    {% render 'layout.head.canonicals-us' %}
    {% render 'layout.head.fonts' %}

    <!-- Stylesheets -->
    {% if request.path contains 'curalin-pack' %}
    {{ 'styles-product-aio.css' | asset_url | stylesheet_tag: preload: true }}
    {% endif %}
    {% if request.path contains 'curaeats' %}
    {{ 'styles-product-aio.css' | asset_url | stylesheet_tag: preload: true }}
    {% endif %}
    {{ 'common.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'styles.css' | asset_url | stylesheet_tag: preload: true }}

    <!-- Script Libraries -->
    <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{{ 'libs.js' | asset_url }}" async></script>
    <script src="{{ 'common.js' | asset_url }}" async></script>

    <!-- Swiper Import -->
    {{ 'swiper.min.css' | asset_url | stylesheet_tag: preload: true }}
    <script src="{{ 'swiper.min.js' | asset_url }}"></script>

    <!-- Shopify Scripts -->
    {% if template contains 'customers' %}
        <script type="text/javascript" src="{{ 'shopify_common.js' | shopify_asset_url }}" async></script>
        <script type="text/javascript" src="{{ 'customer_area.js'  | shopify_asset_url }}" async></script>
    {% endif %}
    {{ content_for_header }} <!-- Header hook for plugins -->

    <!-- Other Scripts -->
    {% render 'layout.head.marker-io-snippet' %}
</head>
  <body>
    <!-- TODO: make another solution for removing header from curalin-pack page -->
    {% unless request.path contains 'curalin-pack' %}
      {% unless request.path contains 'curalin_pack' %}
        {% unless request.path contains 'curaeats' %}
          {% section 'header' %}
        {% endunless %}
      {% endunless %}
    {% endunless %}

    <main role="main">{{ content_for_layout }}</main>
    {% section 'footer'%}

    {% render 'layout.footer.cart-functionality-scripts' %}
    {% render 'layout.footer.woopra-snippet' %}
    {% render 'layout.footer.ac-snippet' %}
    {% render 'wisepops-generated' %}
    {% render 'social-login' %}

    <style>
      #admin-bar-iframe {
        display: none;
      }
    </style>

    <script>
      if ($.cookie('_gaexp').endsWith('1') && $.cookie('_gaexp').startsWith('GAX1.2.EZO')) {
        let redirectPages = ['/collections/all','/collections/all-2','/collections/all-holidays2022','/products/curalin-pack-holidays2022','/products/curalin-3-pack','/products/curalin-6-pack','/products/curalin-2-pack','/pages/glucose-support-lp01n-v2-holidays2022'];

        if (redirectPages.includes(window.location.pathname)) {
          window.location.replace(window.location.pathname + '-p');
          console.log(window.location.pathname);
        }
        else {
          console.log("bye");
          console.log(window.location.pathname);
        }

        let linksQuery = '';
        redirectPages.forEach(()=>{linksQuery += 'a[href="' + redirectPages[i] + '"], '});

        console.log(linksQuery);
        $(linksQuery).each(function () {
          $(this).attr('href', $(this).attr('href') + '-p');
        });
      }
    </script>

    {% render 'social-login' %}
  </body>
</html>