<!doctype html>
<html>
  <script defer type="text/javascript" src="https://static.rechargecdn.com/assets/js/widget.min.js?shop=<curalife-commerce.myshopify.com>"></script>
  <head>
    <title>{{ page_title }}</title>

    {% render 'layout.head.geo-redirect-script' %}
    {% render 'layout.head.redirects-script' %}
    {% render 'layout.head.google-tag-manager'%}
    {% render 'layout.head.meta-tags' %}
    {% render 'layout.head.canonicals-us' %}
    {% render 'layout.head.fonts' %}

    <!-- Stylesheets -->
    {% if request.path contains 'curalin-pack' or request.path contains 'curaeats' %}
    {{ 'styles-product-aio.css' | asset_url | stylesheet_tag: preload: true }}
    {% endif %}
    {{ 'common.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'styles.css' | asset_url | stylesheet_tag: preload: true }}

    <!-- Script Libraries -->
    <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
    <script src="{{ 'libs.js' | asset_url }}" async></script>
    <script src="{{ 'common.js' | asset_url }}" async></script>
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5AyB8SFKOjnnor-g4qIeMg" async></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" async></script>

    <!-- Swiper Import -->
    {{ 'swiper.min.css' | asset_url | stylesheet_tag: preload: true }}
    <script src="{{ 'swiper.min.js' | asset_url }}"></script>

    <!-- Shopify Scripts -->
    {% if template contains 'customers' %}
        <script type="text/javascript" src="{{ 'shopify_common.js' | shopify_asset_url }}" async></script>
        <script type="text/javascript" src="{{ 'customer_area.js'  | shopify_asset_url }}" async></script>
    {% endif %}
    {{ content_for_header }} <!-- Header hook for plugins -->

    <!-- Other Scripts -->
    {% render 'layout.head.marker-io-snippet' %}
    {% include 'fa_translate_core' %} 
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/oMYBvmnASlHzmouicgkepg" async></script>
</head>
  <body>
    <!-- TODO: make another solution for removing header from curalin-pack page -->
    {% unless request.path contains 'curalin-pack' %}
      {% unless request.path contains 'curalin_pack' %}
        {% unless request.path contains 'curaeats' %}
          {% section 'header' %}
        {% endunless %}
      {% endunless %}
    {% endunless %}

    <main role="main">{{ content_for_layout }}</main>
    {% section 'footer'%}

    {% render 'layout.footer.cart-functionality-scripts' %}
    {% render 'layout.footer.woopra-snippet' %}
    {% render 'layout.footer.ac-snippet' %}
    {% render 'wisepops-generated' %}
    {% render 'social-login' %}

    <style>
      #admin-bar-iframe {
        display: none;
      }
    </style>

    {% render 'social-login' %}
  </body>

</html>