<!doctype html>
<html>
<head>
  <!-- Redirect By Global Or US -->
  <script src="{{ 'redirect-by-location.js' | asset_url }}" async></script>
  
  <title>{{ page_title }}</title>
  <link rel="canonical" href="{{ canonical_url }}">

    <link rel="preload" href="{{ 'common.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'common.css' | asset_url }}"></noscript>
<link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'styles-cookbook.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'styles.css' | asset_url }}"></noscript>
<noscript><link rel="stylesheet" href="{{ 'styles-cookbook.css' | asset_url }}"></noscript>
<script src="{{ 'jquery-3.6.0.min.js' | asset_url}}" ></script>

  
  <script src="{{ 'libs.js' | asset_url }}" async></script>
  <script src="{{ 'common.js' | asset_url }}" async></script>
  
<!-- Fonts -->
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"></noscript>

  <!-- Canonicals -->
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'global.curalife.com' }}" hreflang="en-GB" />
  {% unless request.path contains 'career-opportunities' %}
  {% unless request.path contains 'curajob-' %}
  <link rel="alternate" hreflang="x-default" href="{{ canonical_url | replace: shop.domain, 'curalife.com' }}" />
  <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com' }}" hreflang="en-US" />
  <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com' }}" hreflang="en" />
  <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com/es' }}" hreflang="es" />
  {% endunless %}
  {% endunless %}

{{ content_for_header }} <!-- Header hook for plugins -->

{% include 'meta-tags'%}

  
{% include 'google-tag-manager'%}

  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/oMYBvmnASlHzmouicgkepg" async></script>

  {% render 'shogun-head' %}
</head>
<body>
{% include 'google-tag-manager-noscript'%}
{% include 'hot-jar'%}
  {% section 'header'%}

  <main role="main">
    {{ content_for_layout }}	
    
    
     {% section 'footer'%}
  </main>
  
  </body>
</html>






