<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <!-- Redirect By Global Or US -->
    <script src="{{ 'redirect-by-location.js' | asset_url }}"></script>
    
    {% include 'meta-tags'%}

  <!-- Stylesheets -->
  <link rel="preload" href="{{ 'common.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'common.css' | asset_url }}"></noscript>
  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'styles.css' | asset_url }}"></noscript>
  <link rel="preload" href="{{ 'styles-product-aio.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'styles-product-aio.css' | asset_url }}"></noscript>

  <!-- Script Libraries -->
  <script src="{{ 'jquery-3.4.1.min.js' | asset_url}}"></script>
  <script src="{{ 'libs.js' | asset_url }}" async></script>
  <script src="{{ 'common.js' | asset_url }}" async></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js" defer="defer"></script>
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5AyB8SFKOjnnor-g4qIeMg" async></script>
 
  <!-- Fonts -->
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"></noscript>
  <link rel="stylesheet" href="{{ "icofont.min.css" | asset_url }}">
  <style>@font-face{font-family:IcoFont;font-weight:400;font-style:Regular;src:url({{ "icofont.woff2" | asset_url }}) format("woff2"),url({{ "icofont.woff" | asset_url }}) format("woff")}</style>

  <!-- Canonicals -->
  <link rel="canonical" href="{{ canonical_url }}">
  {% assign language = request.path | slice: 1,2 %}
  {% if language == 'es' %}
   <link rel="alternate" hreflang="x-default" href="{{ canonical_url | replace: shop.domain, 'curalife.com' | replace: "/es", '' }}" />
    <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com' | replace: "/es", '' }}" hreflang="en" />
    <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com' }}" hreflang="es-US" /> 
    <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'global.curalife.com' | replace: "/es", '' }}" hreflang="en-GB" />
    <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com' | replace: "/es", '' }}" hreflang="en-US" />
    {% else %}
     <link rel="alternate" hreflang="x-default" href="{{ canonical_url | replace: shop.domain, 'curalife.com' }}" />
<link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com' }}" hreflang="en" /> 
<link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com/es' }}" hreflang="es-US" />
<link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'global.curalife.com' }}" hreflang="en-GB" />
<link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com' }}" hreflang="en-US" />
{% endif %}
  
{% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
{% endif %}
{{ content_for_header }} <!-- Header hook for plugins -->

  
  {% include 'google-tag-manager'%}

  {% include "manychat-header" %}

{% include 'fa_translate_core' %} 
 
  {% render 'shogun-head' %}
  
  <!-- Marker.io QA Tool-->  
  <!--
<script>
  window.markerConfig = {
    destination: '61f7b5891ff64349953f108f', 
    source: 'snippet'
  };
</script>

<script>
!function(e,r,a){if(!e.__Marker){e.__Marker={};var t=[],n={__cs:t};["show","hide","isVisible","capture","cancelCapture","unload","reload","isExtensionInstalled","setReporter","setCustomData","on","off"].forEach(function(e){n[e]=function(){var r=Array.prototype.slice.call(arguments);r.unshift(e),t.push(r)}}),e.Marker=n;var s=r.createElement("script");s.async=1,s.src="https://edge.marker.io/latest/shim.js";var i=r.getElementsByTagName("script")[0];i.parentNode.insertBefore(s,i)}}(window,document);
</script>
-->
</head>
<body>
{% include 'google-tag-manager-noscript'%}

{% unless request.path contains 'curalin-pack' %}
{% section 'header'%}
{% endunless %}

  <main role="main">
    {{ content_for_layout }}
    {% section 'footer'%}
  </main>
  
<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.9) -->
<script type="text/javascript">
// Overrides:
// var afterpay_min = 0.04;            // As per your Afterpay contract.
// var afterpay_max = 2000.00;         // As per your Afterpay contract.
// var afterpay_cbt_enabled = false;   // As per your Afterpay contract; change to true to display Cross-Border Trade artwork (for AU/NZ).
// var afterpay_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
// var afterpay_product_selector = '#product-price-selector';
// var afterpay_cart_integration_enabled = true;
// var afterpay_cart_static_selector = '#cart-subtotal-selector';

// Non-editable fields:
var afterpay_shop_currency = {{ shop.currency | json }};
var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
var afterpay_shop_money_format = {{ shop.money_format | json }};
var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var afterpay_theme_name = {{ theme.name | json }};
var afterpay_product = {{ product | json }};
var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
var afterpay_cart_total_price = {{ cart.total_price | json }};
var afterpay_js_snippet_version = '1.0.9';
</script>
      {% comment %} START Add Trailing Slash {% endcomment %}
    <!--
      <script type="text/javascript">
        $(function($)
 {
          $('a').each(function() {
            var href = $(this).attr('href');
            try {
                href = href.replace(/\/$/, "");
                $(this).attr('href', href);
            }
            catch(err) {console.clear()}
          });
        });
      </script>
    -->
      {% comment %} END Add Trailing Slash {% endcomment %}
    <!-- Temp Fix For window.open -->
<!--
    <script type="text/javascript">
    window.open = function(href){
      var a = document.createElement('a');
      a.href = href;
      document.body.appendChild(a);
      a.click();
};
  </script>

<script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>
-->
<!-- End Shopify-Afterpay JavaScript Snippet (v1.0.9) -->
<!-- {% include 'salesforce-chat' %} -->
  {% include 'wisepops-generated' %}
{% include 'social-login' %}
  
  </body>
</html>







