<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <!-- Redirect By Global Or US -->
    <script src="{{ 'redirect-by-location.js' | asset_url }}" async></script>
    
    {% include 'meta-tags'%}

  <!-- Stylesheets -->
  <link rel="preload" href="{{ 'common.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'common.css' | asset_url }}"></noscript>
  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'styles.css' | asset_url }}"></noscript>
  <link rel="preload" href="{{ 'styles-product-aio.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'styles-product-aio.css' | asset_url }}"></noscript>

  <!-- Script Libraries -->
  <script src="{{ 'jquery-3.4.1.min.js' | asset_url}}" ></script>
  <script src="{{ 'libs.js' | asset_url }}" async></script>
  <script src="{{ 'common.js' | asset_url }}" async></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js" defer="defer"></script>
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5AyB8SFKOjnnor-g4qIeMg" async></script>
 
  <!-- Fonts -->
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"></noscript>
  <link rel="stylesheet" href="{{ "icofont.min.css" | asset_url }}">
  <style>@font-face{font-family:IcoFont;font-weight:400;font-style:Regular;src:url({{ "icofont.woff2" | asset_url }}) format("woff2"),url({{ "icofont.woff" | asset_url }}) format("woff")}</style>

  <!-- Canonicals -->
  <link rel="canonical" href="{{ canonical_url }}">
  {% assign language = request.path | slice: 1,2 %}
  {% if language == 'es' %}
  <!-- <link rel="alternate" hreflang="x-default" href="{{ canonical_url | replace: shop.domain, 'curalife.com' | replace: "/es", '' }}" />
    <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com' | replace: "/es", '' }}" hreflang="en" />
    <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com' }}" hreflang="es" /> -->
    <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'global.curalife.com' | replace: "/es", '' }}" hreflang="en-GB" />
    <link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com' | replace: "/es", '' }}" hreflang="en-US" />
    {% else %}
    <!-- <link rel="alternate" hreflang="x-default" href="{{ canonical_url | replace: shop.domain, 'curalife.com' }}" />
<link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com' }}" hreflang="en" />
<link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com/es' }}" hreflang="es" /> -->
<link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'global.curalife.com' }}" hreflang="en-GB" />
<link rel="alternate" href="{{ canonical_url | replace: shop.domain, 'curalife.com' }}" hreflang="en-US" />
{% endif %}
  
{% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
{% endif %}
{{ content_for_header }} <!-- Header hook for plugins -->

  
  {% include 'google-tag-manager'%}

  {% include "manychat-header" %}

{% include 'fa_translate_core' %} 
 
  {% render 'shogun-head' %}
  <!-- Marker.io QA Tool-->  
<script>
  window.markerConfig = {
    destination: '61f7b5891ff64349953f108f', 
    source: 'snippet'
  };
</script>

<script>
!function(e,r,a){if(!e.__Marker){e.__Marker={};var t=[],n={__cs:t};["show","hide","isVisible","capture","cancelCapture","unload","reload","isExtensionInstalled","setReporter","setCustomData","on","off"].forEach(function(e){n[e]=function(){var r=Array.prototype.slice.call(arguments);r.unshift(e),t.push(r)}}),e.Marker=n;var s=r.createElement("script");s.async=1,s.src="https://edge.marker.io/latest/shim.js";var i=r.getElementsByTagName("script")[0];i.parentNode.insertBefore(s,i)}}(window,document);
</script>
</head>
<body>
{% include 'google-tag-manager-noscript'%}

{% unless request.path contains 'curalin-pack' %}
{% section 'header'%}
{% endunless %}

  <main role="main">
    {{ content_for_layout }}
    {% section 'footer'%}
  </main>

  <script>
  jQuery(document).on("click", ".remove-item", function () {
    var variantId =$(this).data("variant");
    var price =$(this).data("price");
    var title =$(this).data("title");
    var id =$(this).data("id");
  
    window.dataLayer  = window.dataLayer || [];
    window.dataLayer.push({
      'event': 'eec.removeFromCart',  // name of an event. In this case, always stays as eec.removeFromCart
      'ecommerce': {                  // ecommerce object. This is the essential part of tracking. New EE data must always be pushed to this object
        'currencyCode': 'USD',      // the currency which is currently used by a visitor
        'remove': {                 // name of an action. In this case, always stays as remove                           
          'products': [{              // list of products removed from a cart. can include multiple products.
            'name': title,      // name of a product that is currently viewed. Always include it.
            'id': id,           // id of a product. Always include it.
            'price': price.toString(),          // price of a product
            'category': 'Simple',      // category of a product
            'variant': variantId         // product variant.
          }]
        }
      },
      'userId': '{{ customer.id }}',
      'email': '{{ customer.email }}',
      'country': '{{customer.customer_address.country_code }}',
      'city': '{{customer.customer_address.city }}',
      'name': '{{ customer.first_name }}',
      'surname': '{{ customer.last_name }}',
      'phone_number': '{{customer.phone }}',
      'state': '{{customer.customer_address.province }}',       //state or province
      'zip': '{{customer.customer_address.zip }}',          //ZIP or Postal code
    });

  }); 
  </script> 
 
<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.9) -->
<script type="text/javascript">
// Overrides:
// var afterpay_min = 0.04;            // As per your Afterpay contract.
// var afterpay_max = 2000.00;         // As per your Afterpay contract.
// var afterpay_cbt_enabled = false;   // As per your Afterpay contract; change to true to display Cross-Border Trade artwork (for AU/NZ).
// var afterpay_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
// var afterpay_product_selector = '#product-price-selector';
// var afterpay_cart_integration_enabled = true;
// var afterpay_cart_static_selector = '#cart-subtotal-selector';

// Non-editable fields:
var afterpay_shop_currency = {{ shop.currency | json }};
var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
var afterpay_shop_money_format = {{ shop.money_format | json }};
var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var afterpay_theme_name = {{ theme.name | json }};
var afterpay_product = {{ product | json }};
var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
var afterpay_cart_total_price = {{ cart.total_price | json }};
var afterpay_js_snippet_version = '1.0.9';
</script>
      {% comment %} START Add Trailing Slash {% endcomment %}
    <!--
      <script type="text/javascript">
        $(function($)
 {
          $('a').each(function() {
            var href = $(this).attr('href');
            try {
                href = href.replace(/\/$/, "");
                $(this).attr('href', href);
            }
            catch(err) {console.clear()}
          });
        });
      </script>
    -->
      {% comment %} END Add Trailing Slash {% endcomment %}
    <!-- Temp Fix For window.open -->
<!--
    <script type="text/javascript">
    window.open = function(href){
      var a = document.createElement('a');
      a.href = href;
      document.body.appendChild(a);
      a.click();
};
  </script>

<script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>
-->
<!-- End Shopify-Afterpay JavaScript Snippet (v1.0.9) -->
<!-- {% include 'salesforce-chat' %} -->
  {% include 'wisepops-generated' %}
{% include 'social-login' %}
  
 <!-- Start of Woopra Code -->
 <script>
  !function(){var t,o,c,e=window,n=document,r=arguments,a="script",i=["call","cancelAction","config","identify","push","track","trackClick","trackForm","update","visit"],s=function(){var t,o=this,c=function(t){o[t]=function(){return o._e.push([t].concat(Array.prototype.slice.call(arguments,0))),o}};for(o._e=[],t=0;t<i.length;t++)c(i[t])};for(e.__woo=e.__woo||{},t=0;t<r.length;t++)e.__woo[r[t]]=e[r[t]]=e[r[t]]||new s;(o=n.createElement(a)).async=1,o.src="https://static.woopra.com/js/w.js",(c=n.getElementsByTagName(a)[0]).parentNode.insertBefore(o,c)}("woopra");

  woopra.config({
    domain: "curalife.com",
    outgoing_tracking: true,
    download_tracking: true,
    click_tracking: true
  });

  {%- if customer -%}
  woopra.identify({
    id: {{ customer.id | json }},
    name: {{ customer.name | json }},
    email: {{ customer.email | json }},              
    order_count: {{ customer.orders_count | json }},
    total_spent: {{ customer.total_spent | json }}
  });
  {%- endif -%}

  woopra.track();
   
  document.addEventListener('submit', function(e) {
    const form = e.target;
    const formData = new FormData(form);
    const entries = formData.entries();
    const data = Object.fromEntries(entries);
    
    for (var key in data) {
      var fieldEl = form.querySelector(`[name="${key}"]`);
      if (fieldEl.type === 'password') {
        delete data[key];
      }
    }

    // Newsletter Subscription form
    if (form.id === 'contact_form') {
      woopra.identify({
       'email': data["contact[email]"]
      });

      woopra.track('newsletter subscribe', {}, {
        queue: true
      });
    }
    
    // Contact form
    if (form.id === 'contact-us-form') {
      woopra.identify({
         name: data['name'],
         email: data['email'],
         phone: data['phone']
      });
      
      woopra.track('submit contact form', data, { queue: true });
    }
    
    if (form.className.indexOf('yotpo-referral-widget-form') !== -1) {
      // Track signing up for referral program
      if (form.querySelector('[name="email"]').placeholder === 'Your email address') {
        woopra.identify({ email: data.email});
        woopra.track('refer a friend', {
          email: data.email
        }, { queue: true });
      } else {
        // Track inviting a friend
        woopra.track('friend referred', { email: data.email }, {queue: true});
      }
    }
    
  });
</script>
<!-- End of Woopra Code -->

<!-- Start VWO Async SmartCode -->
<script type='text/javascript'>
  window._vwo_code = window._vwo_code || (function(){
  var account_id=596099,
  settings_tolerance=2000,
  library_tolerance=2500,
  use_existing_jquery=false,
  is_spa=1,
  hide_element='body',
  
  /* DO NOT EDIT BELOW THIS LINE */
  f=false,d=document,code={use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){
  window.settings_timer=setTimeout(function () {_vwo_code.finish() },settings_tolerance);var a=d.createElement('style'),b=hide_element?hide_element+'{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}':'',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('https://dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&f='+(+is_spa)+'&r='+Math.random());return settings_timer; }};window._vwo_settings_timer = code.init(); return code; }());
  </script>
  <!-- End VWO Async SmartCode -->

  <!--  Wisepops -->
  <!-- <script>
  (function(W,i,s,e,P,o,p){W['WisePopsObject']=P;W[P]=W[P]||function(){(W[P].q=W[P].q||[]).push(arguments)},W[P].l=1*new Date();o=i.createElement(s),p=i.getElementsByTagName(s)[0];o.defer=1;o.src=e;p.parentNode.insertBefore(o,p)})(window,document,'script','//loader.wisepops.com/get-loader.js?v=1&site=zUtuQdFYsH','wisepops');
</script> -->
  
  </body>
</html>







