{%- comment -%} If store is US {%- endcomment -%}
{% if shop.name == 'CuraLife' %}
  {% assign store_domain = "curalife.com" %}
  {% assign yotpo_script_id = "5AyB8SFKOjnnor-g4qIeMg" %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign store_domain = "global.curalife.com" %}
  {% assign yotpo_script_id = "oMYBvmnASlHzmouicgkepg" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% render 'layout.head.geo-redirect-script' %}
    {% render 'layout.head.redirects-script' %}
    {% render 'layout.head.google-tag-manager'%}
    {% render 'layout.head.meta-tags' %}
    {% render 'layout.head.canonicals-us' %}
    {% render 'layout.head.fonts' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script src="{{ 'libs.js' | asset_url }}"></script>

    <!-- Swiper Import -->
    <link rel="preload" href="{{ 'swiper.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <script src="{{ 'swiper.min.js' | asset_url }}"></script>

<style>

 

  

  
  @media screen and (min-width: 992px) {
    
    .curalin-intro .curaline-widget-item:nth-child(2):after {
      content: "";
      display: inline-block;
      width: 14.4375rem;
      height: 6.875rem;
      background-image:url({{'lp-aio-to-the-left.svg' | file_url }});
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: -1.5rem;
      left: -13rem;
      z-index: -1
    }

    .curalin-intro .curaline-widget-item:nth-child(5) {
      margin-top: 1rem;
      padding-bottom: 1.125rem
    }

    .curalin-intro .curaline-widget-item:nth-child(5):after {
      content: "";
      display: inline-block;
      width: 22.375rem;
      height: 3.5625rem;
      background-image:url({{'lp-aio-to-the-right.svg' | file_url }});
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: -2.1875rem;
      left: 3.125rem;
      z-index: -1
    }

    .curalin-intro .curaline-widget-item:nth-child(6) {
      margin-top: 1.4375rem
    }
  }

  

  @media screen and (max-width: 810px) {
    html {
      font-size: 14px
    }
  }



  @media screen and (max-width: 640px) {


    .rw-item-col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%
    }

    .rw-item-description h4 {
      font-size: .875rem
    }

    .rw-item-description p {
      padding-top: .25rem;
      font-size: .875rem;
      line-height: 1.28
    }

    .real-changes-wrapper .rw-item-col {
      padding: 0 0 1.6875rem
    }

    .real-changes-wrapper .rw-item-col:nth-child(3) .rw-item-thumbnail {
      margin-top: -1.5625rem
    }

    .rw-item-thumbnail {
      width: 30%
    }

    .rw-item-description {
      width: 70%
    }

    .real-changes-wrapper {
      padding-top: 2.4375rem
    }

   

   
   




   
   





    

    

    

    

   

    

    

    

    .testimonials-video_part.full-screen .testimonials_iframe,
    .testimonials-video_part.full-screen .player-wrap,
    .video-player.full-screen .testimonials_iframe,
    .video-player.full-screen .player-wrap {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 30
    }

    .testimonials-video_part.full-screen+.close-player,
    .video-player.full-screen+.close-player {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: fixed;
      top: 1rem;
      right: 1rem;
      left: unset;
      cursor: pointer;
      background: none;
      width: 1.875rem;
      height: 1.875rem;
      padding: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 35
    }

    .testimonials-video_part.full-screen+.close-player:before,
    .video-player.full-screen+.close-player:before {
      content: "+";
      font-size: 1.875rem;
      font-weight: 300;
      color: #c78263
    }

    .testimonials-video_part.show-video:not(.full-screen) .testimonials_iframe,
    .testimonials-video_part.show-video:not(.full-screen) .player-wrap,
    .video-player.show-video:not(.full-screen) .testimonials_iframe,
    .video-player.show-video:not(.full-screen) .player-wrap {
      pointer-events: none
    }
  }

  .hide {
    opacity: 0
  }
</style>

    <style>
      @font-face {
    font-family: 'Takota';
    src: url("../fonts/Takota/Takota.eot");
    src: local("Takota"), url("../fonts/Takota/Takota.eot?#iefix") format("embedded-opentype"), url("../fonts/Takota/Takota.woff2") format("woff2"), url("../fonts/Takota/Takota.woff") format("woff"), url("../fonts/Takota/Takota.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

  @font-face {
    font-family: 'Autography';
    src: url("../fonts/Autography/Autography.eot");
    src: url("../fonts/Autography/Autography.eot?#iefix") format("embedded-opentype"), url("../fonts/Autography/Autography.woff") format("woff"), url("../fonts/Autography/Autography.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

  @font-face {
    font-family: 'Samantha';
    src: url("../fonts/Samantha/Samantha-Regular.eot");
    src: local("Samantha Regular"), local("Samantha-Regular"), url("../fonts/Samantha/Samantha-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Samantha/Samantha-Regular.woff") format("woff"), url("../fonts/Samantha/Samantha-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-Light.eot");
    src: local("Segoe UI Light"), local("SegoeUI-Light"), url("../fonts/SegoeUI/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-BoldItalic.eot");
    src: local("Segoe UI Bold Italic"), local("SegoeUI-BoldItalic"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-SemiBold.eot");
    src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"), url("../fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("{{ 'SegoeUI.eot' | asset_url }}");
    src: local("Segoe UI"), local("SegoeUI"), url("{{ 'SegoeUI.eot' | asset_url }}?#iefix") format("embedded-opentype"), url("{{ 'SegoeUI.woff' | asset_url }}") format("woff"), url("{{ 'SegoeUI.ttf' | asset_url }}") format("truetype");
    font-weight: normal;
    font-style: normal; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-Bold.eot");
    src: local("Segoe UI Bold"), local("SegoeUI-Bold"), url("../fonts/SegoeUI/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-Italic.eot");
    src: local("Segoe UI Italic"), local("SegoeUI-Italic"), url("../fonts/SegoeUI/SegoeUI-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Italic.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic; }

  @font-face {
    font-family: 'icoFont';
    src: url("{{ 'icoFont.eot' | asset_url }}");
    src: url("{{ 'icoFont.eot' | asset_url }}?uayl2p#iefix") format("embedded-opentype"), url("{{ 'icoFont.ttf' | asset_url }}?uayl2p") format("truetype"), url("{{ 'icoFont.woff' | asset_url }}?uayl2p") format("woff"), url("{{ 'icoFont.svg' | asset_url }}?uayl2p#icoFont") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block; }
    </style>

{{content_for_header}}

  <script src="{{ 'lp-aio-support-pack.js' | asset_url }}" defer></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@slightlyoff/lite-vimeo@0.1.1/lite-vimeo.js"></script>

  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/{{ yotpo_script_id }}" async></script>
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5AyB8SFKOjnnor-g4qIeMg" async></script>
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/oMYBvmnASlHzmouicgkepg" async></script>
</head>
<body>
 <main role="main">
    {{ content_for_layout }}l
  </main>

  <script>
    function runAfterElementExists(jquery_selector, callback) {
      var checker = window.setInterval(function () {
        if ($(jquery_selector).length) {
          clearInterval(checker);
          callback();
        }
      }, 200);
    }
  </script>

  <!-- This script is taking the URL parameter and replacing all the links on the page with the URL parameter. -->
  <script>
    let urlParameters = new URLSearchParams(window.location.search);
    let productVar = urlParameters.get('prod-var');

    if (productVar) {
    $('a').each(function() {
      var currLink = $(this).attr('href');
      if (currLink) { $(this).attr('href', "/products/curalin-pack-" + productVar) };
    });
    }
  </script>

  <!-- RAF -->
  <script>
    let utmParam = new URLSearchParams(window.location.search).get('utm_campaign');

    if (utmParam == 'referral_program') {
      console.log("Referral program");
      function runAfterElementExists(jquery_selector, callback) {
        var checker = window.setInterval(function () {
          if ($(jquery_selector).length) {
            clearInterval(checker);
            callback();
          }
        }, 200);
      }

      // Wisepop Event!
      $(document).ready(function () {
        runAfterElementExists(".yotpo-copy-code-icon", function () {
          wisepops('properties', {rafCodeReceived: true});
          wisepops("pageview");

          $('a').each(function() {
            var currLink = $(this).attr('href');
            $(this).attr('href', currLink.split('?')[0] + "-raf");
          });
        })
      });
    }
  </script>

  <!-- Cta Buttons -->
  <script>
    async function LinkToProduct(element, url) {
      await woopra.track('Click CTA', {
        button_title: element.innerText
      });

      window.location.href = url;
    }
  </script>

  <!-- Woopra Events -->
  <script>
    $(document).ready(function () {
      // Play Video
      runAfterElementExists(".video-player", function () {
        $(".video-player").click(function() {
          woopra.track('Play Video', {
            video_id: $(this).find("lite-vimeo").attr("videoid"),
            video_title: $(this).siblings(".video-headline").find("p").text(),
            video_order: $(this).parents(".video-block-item-overlay-col").index() + 1
          });
        })
      })

      runAfterElementExists(".testimonials_iframe", function () {
        $(".testimonials_iframe").click(function() {
          woopra.track('Play Video', {
            video_id: $(this).find("lite-vimeo").attr("videoid"),
            video_title: $(this).siblings(".testimonial-headline").find("h2").text(),
          });
        })
      })

      // Open FAQ
      $('.question').click(function() {
        woopra.track('Open FAQ', {
          question_display_text: $(this).children("h4").text(),
          question_order:  $(this).parents("li").index() + 1
        })
      });
    })
  </script>

  {% render 'layout.footer.woopra-snippet' %}

<style>
  #wisepops-root {
    transition: opacity 0.5s;
  }
</style>
{% render 'wisepops-generated' %}
</body>
</html>