{%- comment -%} If store is US {%- endcomment -%}
{% if shop.name == 'CuraLife' %}
  {% assign store_domain = "curalife.com" %}
  {% assign yotpo_script_id = "5AyB8SFKOjnnor-g4qIeMg" %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign store_domain = "global.curalife.com" %}
  {% assign yotpo_script_id = "oMYBvmnASlHzmouicgkepg" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% render 'layout.head.geo-redirect-script' %}
    {% render 'layout.head.redirects-script' %}
    {% render 'layout.head.google-tag-manager'%}
    {% render 'layout.head.meta-tags' %}
    {% render 'layout.head.canonicals-us' %}
    {% render 'layout.head.fonts' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script src="{{ 'libs.js' | asset_url }}"></script>

    <!-- Swiper Import -->
    <link rel="preload" href="{{ 'swiper.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <script src="{{ 'swiper.min.js' | asset_url }}"></script>

<style>

  .informer-list {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.3;
    color: #000;
    margin-top: 2.25rem
  }

  .informer-list ul li {
    position: relative;
    padding-left: 3.4375rem;
    margin-bottom: 1.9375rem
  }

  .informer-list ul li:last-child {
    margin-bottom: 0
  }

  .informer-list ul li:before {
    content: "";
    max-width: 1.8125rem;
    max-height: 1.9375rem;
    position: absolute;
    top: 50%;
    left: .3125rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translateY(-50%)
  }

  .informer-list ul li:nth-child(1n):before {
    background-image:url({{'lp-aio-lp-1.png' | file_url }})
  }

  .informer-list ul li:nth-child(2n):before {
    background-image:url({{'lp-aio-lp-2.png' | file_url }})
  }

  .informer-list ul li:nth-child(4n):before {
    background-image:url({{'lp-aio-lp-4.png' | file_url }})
  }

  .informer-list ul li:nth-child(5n):before {
    background-image:url({{'lp-aio-lp-5.png' | file_url }})
  }

  .informer-list ul li:nth-child(6n):before {
    background-image:url({{'lp-aio-lp-6.png' | file_url }})
  }

  .widget-with-thumbnail {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .widget-with-thumbnail:after {
    content: "";
    position: absolute;
    right: -9.5rem;
    top: -3.75rem;
    background-image:url({{'lp-aio-rest-vector.png' | file_url }});
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 58.125rem;
    width: 100%;
    height: 37.125rem;
    z-index: -1
  }

  .widget-thumbnail-item {
    max-width: 53.4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: right
  }

  .widget-with-thumbnail {
    position: relative
  }

  .widget-item-text {
    width: 46.6%;
    margin-top: -.375rem;
    padding-right: 1.25rem
  }

  .widget-item-text .description-overlay {
    margin-top: .75rem
  }



  .satisfaction-survey {
    padding-bottom: 6.8125rem;
    margin-top: 4.375rem
  }

  .satisfaction-survey .satisfaction-survey-bg {
    position: relative;
    padding-top: 2.0625rem;
    padding-bottom: 10rem;
    overflow: hidden
  }

  .satisfaction-survey .satisfaction-survey-bg:before,
  .satisfaction-survey .satisfaction-survey-bg:after {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    position: absolute;
    z-index: -1
  }

  .satisfaction-survey .satisfaction-survey-bg:before {
    background-image:url({{'lp-aio-green-area.png' | file_url }});
    background-size: contain;
    background-position: right center;
    left: -11%;
    top: 0;
    max-width: 66%;
    width: 100%;
    height: 40.875rem;
    max-height: 100%
  }

  .satisfaction-survey .satisfaction-survey-bg:after {
    background-image:url({{'lp-aio-vector-dynamical.png' | file_url }});
    background-size: contain;
    background-position: left bottom;
    left: 0;
    bottom: 4.9375rem;
    max-width: 52%;
    width: 100%;
    height: 15.3125rem
  }

  .satisfaction-survey .data-wrap {
    padding-left: .9375rem
  }

  .satisfaction-survey .sub-title {
    padding-bottom: 3.6875rem
  }

  .satisfaction-survey .survey-button {
    width: 100%;
    max-width: 100%;
    text-align: center
  }

  .satisfaction-survey .success-list {
    max-width: 48.9375rem;
    margin: 0 auto
  }

  .satisfaction-survey .success-list ul li {
    padding-left: 10.25rem;
    margin-bottom: 3.375rem;
    position: relative;
    z-index: 1
  }

  .satisfaction-survey .success-list ul li:last-child {
    margin-bottom: 0
  }

  .satisfaction-survey .success-list ul li .percentage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: .5rem;
    left: 0;
    bottom: 0;
    overflow: hidden
  }

  .satisfaction-survey .success-list ul li .percentage p {
    margin: 0;
    font-weight: 500;
    font-size: 2.8125rem;
    line-height: 1;
    text-transform: uppercase;
    color: #222
  }

  .satisfaction-survey .success-list ul li .title {
    padding-bottom: .25rem
  }

  .satisfaction-survey .success-list ul li .title h4 {
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.4;
    color: #222
  }

  .satisfaction-survey .success-list ul li .line {
    height: 1.4375rem;
    position: relative;
    overflow: hidden
  }

  .satisfaction-survey .success-list ul li .line span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: -o-linear-gradient(359.95deg, rgba(238, 208, 195, .5) 0%, rgba(208, 125, 91, .5) 100%);
    background: linear-gradient(90.05deg, rgba(238, 208, 195, .5) 0%, rgba(208, 125, 91, .5) 100%);
    border-radius: 0 .9375rem .9375rem 0;
    -webkit-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out
  }

  .faq-list .data-wrap {
    max-width: 80.125rem;
    padding-left: 3.5rem;
    padding-bottom: 4.375rem
  }

  .faq-list .title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 1.5rem;
    padding-bottom: 1.3125rem
  }

  .faq-list .title-wrap .sub-title {
    padding-top: 1.25rem
  }

  .faq-list .title-wrap .title-img {
    max-width: 20.4375rem;
    padding-left: .9375rem
  }

  .faq-list .sub-title {
    max-width: 43.75rem
  }

  .faq-list .sub-title h4 {
    padding-top: 1rem
  }

  .faq-list ul li {
    padding: .6875rem 0;
    border-bottom: 1px solid #000000
  }

  .faq-list ul li:last-child {
    border-bottom: none
  }

  .faq-list ul li .question h4 {
    margin: 0;
    padding-right: 2.1875rem;
    font-weight: 400;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
    -webkit-transition: color var(--transition);
    -o-transition: color var(--transition);
    transition: color var(--transition)
  }

  .faq-list ul li .question h4:after {
    content: "+";
    position: absolute;
    top: -.5rem;
    right: .5625rem;
    font-weight: 200;
    font-size: 2.125rem;
    pointer-events: none
  }

  .faq-list ul li .question h4:hover {
    color: #c78263
  }

  .faq-list ul li .answer {
    display: none
  }

  .faq-list ul li .answer p {
    margin: 0;
    padding-top: .4375rem;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.66
  }

  .faq-list ul li.active .question h4:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }

  .faq-list ul li.active .answer {
    display: block
  }

  .research-sources {
    background: #F0F0F0
  }

  .research-sources .data-wrap {
    max-width: 71.625rem;
    margin: 0 auto;
    padding: 3rem 0
  }

  .research-sources .data-wrap h4 {
    margin: 0;
    padding-bottom: 2.125rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.25;
    text-align: center
  }

  .research-sources .data-wrap p {
    margin: 0;
    padding-bottom: .9375rem;
    font-family: var(--open-sans);
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.29
  }

 

  @media screen and (min-width: 992px) {
    
    .curalin-intro .curaline-widget-item:nth-child(2):after {
      content: "";
      display: inline-block;
      width: 14.4375rem;
      height: 6.875rem;
      background-image:url({{'lp-aio-to-the-left.svg' | file_url }});
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: -1.5rem;
      left: -13rem;
      z-index: -1
    }

    .curalin-intro .curaline-widget-item:nth-child(5) {
      margin-top: 1rem;
      padding-bottom: 1.125rem
    }

    .curalin-intro .curaline-widget-item:nth-child(5):after {
      content: "";
      display: inline-block;
      width: 22.375rem;
      height: 3.5625rem;
      background-image:url({{'lp-aio-to-the-right.svg' | file_url }});
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: -2.1875rem;
      left: 3.125rem;
      z-index: -1
    }

    .curalin-intro .curaline-widget-item:nth-child(6) {
      margin-top: 1.4375rem
    }
  }

  @media screen and (max-width: 991px) {
  
    .widget-item-text {
      width: 100%;
      margin-top: 0;
      padding-right: 0
    }

    .widget-thumbnail-item {
      max-width: 100%;
      margin: 0 auto;
      padding-top: 1.875rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: static
    }

    .informer-list {
      padding-top: 1.875rem;
      margin: 0;
      font-size: 1.125rem
    }

    .informer-list ul li {
      padding-left: 2.8125rem;
      margin-bottom: .9375rem
    }

  

   
    .satisfaction-survey {
      padding-bottom: 2.8125rem;
      margin-top: 1.875rem
    }

    .satisfaction-survey-bg {
      padding-top: 2.8125rem
    }

    .satisfaction-survey .success-list ul li .percentage p {
      font-size: 2rem
    }

    .satisfaction-survey .sub-title {
      padding-bottom: 1.875rem
    }

    .satisfaction-survey .success-list ul li .title h4 {
      font-size: 1.1875rem
    }

    .satisfaction-survey .success-list ul li {
      padding-left: 7.5rem;
      margin-bottom: .9375rem
    }

    .satisfaction-survey .satisfaction-survey-bg:after {
      display: none
    }

    .satisfaction-survey .satisfaction-survey-bg {
      padding-bottom: 6.25rem
    }

    .faq-list .data-wrap {
      padding-left: 0
    }

    .sub-title h4 {
      font-size: 1.25rem
    }

    .faq-list .title-wrap .title-img {
      max-width: 10.625rem
    }

    .faq-list ul li .question h4 {
      font-size: 1.25rem
    }

    .faq-list ul li .question h4:after {
      font-size: 1.8125rem
    }

    .faq-list ul li .answer p {
      font-size: 1.0625rem
    }

    .faq-list .data-wrap {
      padding-bottom: 2.5rem
    }

    .research-sources .data-wrap h4 {
      font-size: 2.1875rem
    }

    .why-curaline .data-wrap,
    .satisfaction-survey .data-wrap {
      padding: 0
    }
  }

  @media screen and (max-width: 810px) {
    html {
      font-size: 14px
    }
  }



  @media screen and (max-width: 640px) {


    .rw-item-col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%
    }

    .rw-item-description h4 {
      font-size: .875rem
    }

    .rw-item-description p {
      padding-top: .25rem;
      font-size: .875rem;
      line-height: 1.28
    }

    .real-changes-wrapper .rw-item-col {
      padding: 0 0 1.6875rem
    }

    .real-changes-wrapper .rw-item-col:nth-child(3) .rw-item-thumbnail {
      margin-top: -1.5625rem
    }

    .rw-item-thumbnail {
      width: 30%
    }

    .rw-item-description {
      width: 70%
    }

    .real-changes-wrapper {
      padding-top: 2.4375rem
    }

   

   
   




   
   





    

    

    .widget-item-text .description-overlay {
      margin-top: .25rem;
      padding-right: 1.25rem
    }

    .widget-thumbnail-item {
      padding-top: 1.0625rem;
      position: relative
    }

    .widget-thumbnail-item:after {
      content: "";
      position: absolute;
      top: -3.0625rem;
      right: -3.5625rem;
      left: -2.375rem;
      bottom: -4.1875rem;
      background-image:url({{'lp-aio-rest-vector.png' | file_url }});
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: -1
    }

    .widget-with-thumbnail:after {
      display: none
    }

    .informer-list ul li:before {
      max-width: 1.125rem;
      max-height: 1.25rem;
      left: .25rem
    }

    .informer-list {
      padding-top: 1.75rem;
      margin: 0 -15px 0 0;
      font-size: 1.0625rem
    }

    .informer-list ul li {
      padding-left: 2rem;
      margin-bottom: 1.375rem
    }

   

    .satisfaction-survey .satisfaction-survey-bg {
      padding-top: 0
    }

    .satisfaction-survey {
      margin-top: .6875rem
    }

    .satisfaction-survey .success-list ul li .percentage p {
      font-size: 1.25rem
    }

    .satisfaction-survey .success-list ul li .percentage {
      position: static;
      min-width: 4.375rem
    }

    .satisfaction-survey .success-list ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: .8125rem;
      margin-bottom: 2.4375rem
    }

    .satisfaction-survey .success-list ul li .title {
      padding-bottom: 0
    }

    .satisfaction-survey .success-list ul li .title h4 {
      font-size: .875rem;
      font-weight: 400
    }

    .satisfaction-survey .success-list ul li .line {
      width: 100%;
      height: 1rem;
      margin-top: .375rem
    }

    .satisfaction-survey .success-list {
      margin-right: -.9375rem
    }

    .satisfaction-survey .sub-title {
      padding-bottom: 1.375rem
    }

    .satisfaction-survey .satisfaction-survey-bg {
      padding-bottom: 3.375rem
    }

    .satisfaction-survey .satisfaction-survey-bg:before {
      background-size: 100% 100%;
      left: unset;
      right: 2.75rem;
      top: 0;
      bottom: 0;
      max-width: unset;
      width: 47.3125rem;
      max-height: 100%
    }

    .faq-list .title-wrap {
      padding-right: 0;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end
    }

    .faq-list .title-wrap .title-img {
      max-width: 7.8125rem;
      margin-left: -2.25rem
    }

    .faq-list .title-wrap .sub-title {
      padding-top: .6875rem;
      width: 75%
    }

    .faq-list .sub-title h4 {
      padding-top: .375rem;
      padding-right: 2.5rem;
      padding-bottom: 1.1875rem
    }

    .faq-list ul li .question h4 {
      font-size: .875rem;
      font-weight: 600
    }

    .faq-list ul li .answer p {
      font-size: .875rem
    }

    .faq-list ul li {
      padding: .75rem 0
    }

    .faq-list ul li .question h4:after {
      font-size: 1.5rem
    }

    .research-sources .data-wrap h4 {
      padding-bottom: .8125rem;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5
    }

    .faq-list .data-wrap {
      padding-bottom: .0625rem
    }

    .research-sources .data-wrap {
      padding: 1.3125rem 0
    }

    .research-sources .data-wrap p {
      font-size: .4375rem
    }

    .testimonials-video_part.full-screen .testimonials_iframe,
    .testimonials-video_part.full-screen .player-wrap,
    .video-player.full-screen .testimonials_iframe,
    .video-player.full-screen .player-wrap {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 30
    }

    .testimonials-video_part.full-screen+.close-player,
    .video-player.full-screen+.close-player {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: fixed;
      top: 1rem;
      right: 1rem;
      left: unset;
      cursor: pointer;
      background: none;
      width: 1.875rem;
      height: 1.875rem;
      padding: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 35
    }

    .testimonials-video_part.full-screen+.close-player:before,
    .video-player.full-screen+.close-player:before {
      content: "+";
      font-size: 1.875rem;
      font-weight: 300;
      color: #c78263
    }

    .testimonials-video_part.show-video:not(.full-screen) .testimonials_iframe,
    .testimonials-video_part.show-video:not(.full-screen) .player-wrap,
    .video-player.show-video:not(.full-screen) .testimonials_iframe,
    .video-player.show-video:not(.full-screen) .player-wrap {
      pointer-events: none
    }
  }

  .hide {
    opacity: 0
  }
</style>

    <style>
      @font-face {
    font-family: 'Takota';
    src: url("../fonts/Takota/Takota.eot");
    src: local("Takota"), url("../fonts/Takota/Takota.eot?#iefix") format("embedded-opentype"), url("../fonts/Takota/Takota.woff2") format("woff2"), url("../fonts/Takota/Takota.woff") format("woff"), url("../fonts/Takota/Takota.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

  @font-face {
    font-family: 'Autography';
    src: url("../fonts/Autography/Autography.eot");
    src: url("../fonts/Autography/Autography.eot?#iefix") format("embedded-opentype"), url("../fonts/Autography/Autography.woff") format("woff"), url("../fonts/Autography/Autography.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

  @font-face {
    font-family: 'Samantha';
    src: url("../fonts/Samantha/Samantha-Regular.eot");
    src: local("Samantha Regular"), local("Samantha-Regular"), url("../fonts/Samantha/Samantha-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Samantha/Samantha-Regular.woff") format("woff"), url("../fonts/Samantha/Samantha-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-Light.eot");
    src: local("Segoe UI Light"), local("SegoeUI-Light"), url("../fonts/SegoeUI/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-BoldItalic.eot");
    src: local("Segoe UI Bold Italic"), local("SegoeUI-BoldItalic"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-SemiBold.eot");
    src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"), url("../fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("{{ 'SegoeUI.eot' | asset_url }}");
    src: local("Segoe UI"), local("SegoeUI"), url("{{ 'SegoeUI.eot' | asset_url }}?#iefix") format("embedded-opentype"), url("{{ 'SegoeUI.woff' | asset_url }}") format("woff"), url("{{ 'SegoeUI.ttf' | asset_url }}") format("truetype");
    font-weight: normal;
    font-style: normal; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-Bold.eot");
    src: local("Segoe UI Bold"), local("SegoeUI-Bold"), url("../fonts/SegoeUI/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal; }

  @font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUI/SegoeUI-Italic.eot");
    src: local("Segoe UI Italic"), local("SegoeUI-Italic"), url("../fonts/SegoeUI/SegoeUI-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI-Italic.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic; }

  @font-face {
    font-family: 'icoFont';
    src: url("{{ 'icoFont.eot' | asset_url }}");
    src: url("{{ 'icoFont.eot' | asset_url }}?uayl2p#iefix") format("embedded-opentype"), url("{{ 'icoFont.ttf' | asset_url }}?uayl2p") format("truetype"), url("{{ 'icoFont.woff' | asset_url }}?uayl2p") format("woff"), url("{{ 'icoFont.svg' | asset_url }}?uayl2p#icoFont") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block; }
    </style>

{{content_for_header}}

  <script src="{{ 'lp-aio-support-pack.js' | asset_url }}" defer></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@slightlyoff/lite-vimeo@0.1.1/lite-vimeo.js"></script>

  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/{{ yotpo_script_id }}" async></script>
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5AyB8SFKOjnnor-g4qIeMg" async></script>
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/oMYBvmnASlHzmouicgkepg" async></script>
</head>
<body>
 <main role="main">
    {{ content_for_layout }}l
  </main>

  <script>
    function runAfterElementExists(jquery_selector, callback) {
      var checker = window.setInterval(function () {
        if ($(jquery_selector).length) {
          clearInterval(checker);
          callback();
        }
      }, 200);
    }
  </script>

  <!-- This script is taking the URL parameter and replacing all the links on the page with the URL parameter. -->
  <script>
    let urlParameters = new URLSearchParams(window.location.search);
    let productVar = urlParameters.get('prod-var');

    if (productVar) {
    $('a').each(function() {
      var currLink = $(this).attr('href');
      if (currLink) { $(this).attr('href', "/products/curalin-pack-" + productVar) };
    });
    }
  </script>

  <!-- RAF -->
  <script>
    let utmParam = new URLSearchParams(window.location.search).get('utm_campaign');

    if (utmParam == 'referral_program') {
      console.log("Referral program");
      function runAfterElementExists(jquery_selector, callback) {
        var checker = window.setInterval(function () {
          if ($(jquery_selector).length) {
            clearInterval(checker);
            callback();
          }
        }, 200);
      }

      // Wisepop Event!
      $(document).ready(function () {
        runAfterElementExists(".yotpo-copy-code-icon", function () {
          wisepops('properties', {rafCodeReceived: true});
          wisepops("pageview");

          $('a').each(function() {
            var currLink = $(this).attr('href');
            $(this).attr('href', currLink.split('?')[0] + "-raf");
          });
        })
      });
    }
  </script>

  <!-- Cta Buttons -->
  <script>
    async function LinkToProduct(element, url) {
      await woopra.track('Click CTA', {
        button_title: element.innerText
      });

      window.location.href = url;
    }
  </script>

  <!-- Woopra Events -->
  <script>
    $(document).ready(function () {
      // Play Video
      runAfterElementExists(".video-player", function () {
        $(".video-player").click(function() {
          woopra.track('Play Video', {
            video_id: $(this).find("lite-vimeo").attr("videoid"),
            video_title: $(this).siblings(".video-headline").find("p").text(),
            video_order: $(this).parents(".video-block-item-overlay-col").index() + 1
          });
        })
      })

      runAfterElementExists(".testimonials_iframe", function () {
        $(".testimonials_iframe").click(function() {
          woopra.track('Play Video', {
            video_id: $(this).find("lite-vimeo").attr("videoid"),
            video_title: $(this).siblings(".testimonial-headline").find("h2").text(),
          });
        })
      })

      // Open FAQ
      $('.question').click(function() {
        woopra.track('Open FAQ', {
          question_display_text: $(this).children("h4").text(),
          question_order:  $(this).parents("li").index() + 1
        })
      });
    })
  </script>

  {% render 'layout.footer.woopra-snippet' %}

<style>
  #wisepops-root {
    transition: opacity 0.5s;
  }
</style>
{% render 'wisepops-generated' %}
</body>
</html>