<div class="cstm_page page-intro with-bg">
  <img class="banner-background" src="{{ 'bfcm-homepage-banner-background.png' | asset_img_url: 'master' }}" alt="Black Friday Background"/>
  <div class="cstm_container container">
      <div class="cstm_miniwrp mini-wrap">
          <div class="cstm_introwrp intro-wrap">
              <div class="data-wrap">
                  <div class="intro-text">
                      <img class="title-black-friday desktop" src="{{ 'bfcm-homepage-banner-title-cyber-monday.png' | asset_img_url: 'master' }}" alt="Black Friday"/>
                      <img class="title-black-friday mobile" src="{{ 'bfcm-homepage-banner-title-cyber-monday-mobile.png' | asset_img_url: 'master' }}" alt="Black Friday"/>
                      <img class="title-sale" src="{{ 'bfcm-homepage-banner-title-sale.png' | asset_img_url: 'master' }}" alt="Sale"/>
                      <div class="cstm_btn btn">
                          <a href="{{section.settings.bnr_btnlink}}" class="main-btn">SHOP NOW</a>
                      </div>
                      {% unless request.path contains 'products' %}
                  <div id="countdown">
                      <ul>
                        <li><span id="hours"></span>Hours</li>
                        <li><span id="minutes"></span>Minutes</li>
                        <li><span id="seconds"></span>Seconds</li>
                      </ul>
                    </div>
                    {% endunless %}
                      <img class="curalin-bottle" src="{{ 'bfcm-homepage-banner-curalin-bottle.png' | asset_img_url: 'master' }}" alt="Curalin Bottle Sale"/>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="badges-container">
      <div class="container">
          <div class="badges">
              <div class="badge">
                  <img src="{{ 'bfcm-homepage-banner-badge-free-shipping.png' | asset_img_url: 'master' }}" alt="Free Shipping"/>
                  <p>FREE WORLDWIDE SHIPPING</p>
              </div>
              <div class="badge">
                  <img src="{{ 'bfcm-homepage-banner-badge-money-back.png' | asset_img_url: 'master' }}" alt="60 Days Money Back Guarantee"/>
                  <p>60 DAYS MONEY BACK GUARANTEE</p>
              </div>
              <div class="badge">
                  <img src="{{ 'bfcm-homepage-banner-badge-secure-checkout.png' | asset_img_url: 'master' }}" alt="100% Secure Checkout"/>
                  <p>100% SECURE CHECKOUT</p>
              </div>
          </div>
      </div>
  </div>
</div>


{% schema %}

{
  "name": "Home Banner",
  "settings": [
      {
          "type": "text",
          "id": "bnr_titl",
          "label": "Title",
          "default": "Enter Yor title"
      }, {
          "type": "textarea",
          "id": "bnr_desc",
          "label": "Description",
          "default": "Enter Yor Description"
      }, {
          "type": "text",
          "id": "btn_titl",
          "label": "Button Title",
          "default": "Enter Button Title"
      }, {
          "id": "bnr_btnlink",
          "type": "url",
          "label": "Button Link"
      }, {
          "type": "image_picker",
          "id": "bnr_img",
          "label": "Banner image"
      }, {
          "type": "image_picker",
          "id": "mblbnr_img",
          "label": "Mobile Banner image"
      }, {
          "type": "image_picker",
          "id": "shipping_icon",
          "label": "Free Shipping Icon"
      }
  ],
  "presets": [
      {
          "name": "Home Banner",
          "category": "Home"
      }
  ]
}

{% endschema %}

{% style %}

.banner-background {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.7;
}

.title-black-friday {
position: relative;
z-index: 20;
}

.title-black-friday.mobile {
display: none;
}

.title-sale {
  margin-top: -8%;
  position: relative;
  z-index: 20;
  pointer-events: none;
  max-width: 40%;
}

.title-limited-time {
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 25px;
}

.curalin-bottle {
  right: 0;
  bottom: -60px;
  position: absolute;
  max-width: 30%;
}

.badges-container {
  position: relative;
  z-index: 30;
  background-color: black;
  padding: 10px 20px;
}

.badges {
  display: flex;
  position: relative;
  bottom: 0;
  align-items: center;
  color: white;
  max-width: 70%;
  justify-content: space-between;
}

.badges .badge {
  margin-right: 5%;
  display: flex;
  align-items: center;
  width: 30%;
}

.badges .badge img {
  margin-right: 10px;
  height: fit-content;
}

.intro-wrap {
  padding: 20px 0;
}

.cstm_page.page-intro.with-bg {
  background-color: black;
}

.cstm_page.page-intro.with-bg .intro-bg span {
  background-color: #E9C8C7;
}

.cstm_page.page-intro.with-bg .cstm_introwrp.intro-wrap .data-wrap {
  width: 100%;
  position: relative;
}

.cstm_page.page-intro.with-bg .intro-wrap .data-wrap .intro-text {
  padding: 0;
  color: white;
  text-align: center;
  margin-top: -100px;
}

.cstm_page.page-intro .intro-wrap .data-wrap .intro-text {
  width: 100%;
  padding: 17.8% 30px 30px 0;
}

.intro-text .cstm_btn.btn {
  text-align: center;
  padding: 0;
  margin: -20px auto auto;
}

.intro-wrap .intro-text .main-btn {
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0 2px 1px black;
  width: 30%;
  font-size: 30px;
  padding: 15px;
}

.cstm_page.page-intro.with-bg .intro-text .under-btn-titles {
  text-align: center;
  font-size: 16px;
}

.cstm_page.page-intro.with-bg .intro-text .under-btn-titles .money-back-title {
  margin: 25px 0 0;
}

.cstm_page.page-intro.with-bg .intro-text .under-btn-titles .free-shipping {
  display: flex;
  place-items: flex-start;
  align-items: center;
}

.cstm_page.page-intro.with-bg .intro-text .under-btn-titles .free-shipping img {
  margin: 0 10px 0 0;
  max-width: 50px;
}

.cstm_page.page-intro.with-bg .intro-bg span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cstm_page.page-intro.with-bg .intro-bg span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cstm_page.page-intro {
  background-color: #F0F1F4;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.cstm_container.container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
  z-index: 40;
  position: relative;
}

.cstm_miniwrp.mini-wrap {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.cstm_page.page-intro .cstm_introwrp.intro-wrap .data-wrap {
  width: 50%;
  display: flex;
}

#countdown {
position: relative;
top: -30px;
  color: white;
}

#countdown li {
display: inline-block;
font-size: 15px;
list-style-type: none;
text-transform: uppercase;
min-width: 110px;
}

#countdown li span {
display: block;
font-size: 60px;
font-weight: 400;
}

#countdown li:not(:last-child):before {
content: ":";
  display: block;
  font-size: 33px;
  position: relative;
  top: 50px;
  left: 58px;
}

@media screen and (max-width: 760px) {
  .badges-container {
      padding: 10px;
  }

  .badges {
      max-width: 100%;
      justify-content: space-between;
  }

  .badges .badge {
      flex-direction: column;
      min-width: 30%;
      text-align: center;
      font-size: calc(8vw / 3);
  }

  .badges .badge img {
      margin-right: unset;
  }

  .curalin-bottle {
      position: static;
      max-width: 100%;
      height: 80vw;
      margin-top: -30px;
  }

  .title-black-friday.desktop {
    display: none;
  }

  .title-black-friday.mobile {
    display: block;
    top: -20px;      
  }

  .title-sale {
    margin-top: -20%;
  }

  .title-limited-time {
      display: none;
  }

  .cstm_page.page-intro .intro-wrap {
      position: unset;
      padding-top: 10px;
  }

  .intro-text .cstm_btn.btn {
      padding-top: 0;
      margin-top: unset;
  }

  .cstm_page.page-intro .intro-wrap .data-wrap {
      width: 100% !important;
      padding-bottom: 0 !important;
      z-index: 2 !important;
      position: unset;
  }

  .cstm_page.page-intro.with-bg .intro-wrap .data-wrap .intro-text {
      padding: 14px 0 0 !important;
      margin-top: unset;
  }

  .cstm_page.page-intro .intro-wrap .data-wrap .intro-text .sub-title p {
      padding-top: 9px !important;
  }

  .cstm_page.page-intro .main-btn {
      font-size: 24px;
      width: unset;
      min-width: 80%;
  }

  .cstm_page.page-intro.with-bg .intro-text .under-btn-titles {
      font-size: 16px;
      bottom: 40px;
      margin: auto;
      width: 90%;
  }

  #countdown {
      width: 100%;
      text-align: center;
      top: -20px;        
  }
  
  #countdown li {
    padding: 5px;
    font-size: 16px;
      min-width: 70px;
  }
  
  #countdown li span {
      font-size: 45px;
  }
  
  #countdown li:not(:last-child):before {
      top: 40px;
      left: 40px;
  }
}

{% endstyle %}

{% javascript %}

Number.prototype.pad = function() {
  return this < 10 ? '0' + this : this;
}

// Timer

const second = 1000,
minute = second * 60,
hour = minute * 60;

let birthday = "December 2, 2021 09:59:00";
let countDown = new Date(birthday).getTime();
let x = setInterval(function() {    
  var now = new Date().getTime();
  var distance = countDown - now;

  document.getElementById("hours").innerText = Math.floor(distance / (hour)).pad(),
  document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)).pad(),
  document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second).pad();

  // do something later when date is reached
  if (distance < 0) {
      clearInterval(x);
  }
//seconds
}, 0)

{% endjavascript %}