<div class="catalog-page">
    <div class="container">
        <h1>Get Free CuraLin + Our Delicious Cookbook!</h1>
            <div class="product-list">  
                {% for product in collection.products  -%}
                <div class="product-card" style="width: 50%">
                    <div class="wrap">
                        <div class="info"> 
                            <div class="main">
                                <div class="name">
                                    <h3>
                                      {% if product.metafields.my_fields.alternative_title.value %}
                                            <a href="{{ product.url }}">{{ product.metafields.my_fields.alternative_title.value }}</a>
                                            {% else %}
                                            <a href="{{ product.url }}">{{ product.title }}</a>
                                            {% endif %}
                                  </h3>
                                </div>
                                <div class="price">
                                    <p>{{ product.price | money }}<strike>{{ product.metafields.my_fields.original_price }}</strike></p>
                                </div>
                            </div>
                            <div class="gift"> 
                                <p class="gift-title">{{ product.metafields.my_fields.gift_title.value }}</p>
                                <p class="gift-value"><b>Gift Value: {{ product.metafields.my_fields.gift_value.value }}</b></p>
                            </div>
                             <form method="post" action="/cart/add">
                                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                <input type="hidden" name="return_to" value="/cart/">
                                

                                <div class="btn">
                                    <button type="submit" id='AddTCart' class="main-btn"><i class="icon-cart"></i> Add To Cart
                                    </button>
                                   
                                </div>
                            </form>                        </div>
                        <div class="picture">
                            {% if product.featured_image.src != blank %}
                            <a href="{{ product.url }}">
                            <div class="img">
                                <img src="{{ product.featured_image.src | img_url: '300x300' }}" alt="">
                            </div>
                            </a>
                            {% endif %}
                        </div> 
                        <div class="badge">
                            <img src="{{ 'holidays-product-badge.png' | asset_url }}" alt="" class="gift-icon">
                            <div class="badge-description-wrapper">
                                <p class="badge-description">{{ product.metafields.my_fields.badge_title.value }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
              
	<script>
	jQuery(document).on("click", "#AddTCart", function () {
    window.dataLayer  = window.dataLayer || [];
    window.dataLayer.push({
      'event': 'eec.addToCart',       // name of an event. In this case, always stays as eec.addToCart
      'ecommerce': {                  // ecommerce object. This is the essential part of tracking. New EE data must always be pushed to this object
        'currencyCode': '{{shop.currency }}',          // the currency which is currently used by a visitor
        'add': {                        // name of an action. In this case, always stays as add
          'actionField': {           
            'list': 'main'          // optional. name of a list from which the product was added to a cart  
          },       
          'products': [{              // list of products added to a cart. Can contain multiple products at the same time
            'name': '{{ product.title }}',      // name of a product that was added to a cart
            'id': '{{ product.id }}',       // id of a product
            'price': '{{ current_variant.price | money_without_currency }}',      // price of a product
            'category': 'Simple',
            'variant': '{{ product.first_available_variant.id }}',   // category of a product
            'quantity': 1
          }]
        } 
      },
      'userId': '{{ customer.id }}',
      'email': '{{ customer.email }}',
      'country': '{{customer.customer_address.country_code }}',
      'city': '{{customer.customer_address.city }}',
      'name': '{{ customer.first_name }}',
      'surname': '{{ customer.last_name }}',
      'phone_number': '{{customer.phone }}',
      'state': '{{customer.customer_address.province }}',       //state or province
      'zip': '{{customer.customer_address.zip }}'         //ZIP or Postal code
      });
    });
</script>
                
            </div>
        </div>
</div>

{% schema %}
    {
        "name": "Collection Products",
        "class": "collection-products",
        "settings": [
            
            {
              "type": "image_picker",
              "id": "prdct_bgimg",
              "label": "Select Product Background Image"
            },
            {
              "type": "image_picker",
              "id": "clcbnr_btmimg",
              "label": "Select Bottom Banner Image"
            }    
           
            
        ] 
        
    }
{% endschema %}

{% style %}
.catalog-page h1 {
    text-align: center;
    padding-top: 30px;
}

.product-list {
    padding: 20px;
    padding-bottom: 100px;
}

.product-card .wrap {
    border: unset;
    border-top: 10px solid #C00101;
    flex-direction: row;
    align-items: end;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
    position: sticky;
}

.product-card .picture {
    background-color: unset;
    width: 60%;
    height: 250px;
}

.product-card .picture .img {
    display: flex;
    align-items: end;
}

.product-card .info {
    width: 40%;
}

.product-card .info .name h3 {
    text-align: left;
}

.product-card .info .price p {
    text-align: left;
}

.product-card .info .btn .main-btn {
    background-color: #28824F;
    border-color: #28824F;
}

.product-card .info .price p strike {
    color: #C00101;
}

.product-card .info .main {
    position: absolute;
    top: 15px;
}

.product-card .info .gift {
    top: 70px;
    position: absolute;
    max-width: 50%;
}

.product-card .info form {
    margin-top: 160px;
    margin-bottom: 15px;
}

.product-card .info .gift .gift-title {
    color: #C00101;
    font-size: 20px;
    line-height: 2rem;
    margin-bottom: 5px;
}

.product-card .info .gift .gift-value {
    margin: 0;
}

.product-card .badge {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 5;
}

.product-card .badge img {
    height: 130px;
}

.product-card .badge .badge-description-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-card .badge .badge-description {
    position: absolute;
    top: 63px;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: #C00101;
}

.product-card .btn .main-btn {
    padding: 0px 5px;
}

@media screen and (max-width: 1400px) {
    .product-card .info .gift .gift-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 760px) {
    .product-list {
        padding: 0;
        padding-bottom: 20px;
    }

    .product-card .picture .img img {
        margin-bottom: 10px;
    }

    .product-card .info .main {
        top: 0;
    }

    .product-card .info .gift {
        top: 90px;
    }

    .product-card .info .gift .gift-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.5rem;
    }

    .product-card .info .gift .gift-title {
        font-size: 16px;
    }

    .product-card {
        width: 100% !important;
    }

    .product-card .badge img {
        height: 120px;
    }

    .product-card .badge .badge-description {
        top: 57px;
        font-size: 15px;
    }

    .product-card .info .btn .main-btn {
        font-size: 3vw;
        line-height: 4vw;
        padding: 2vw;
    }

    .product-card .info .btn .main-btn i {
        display: none;
    }
}
{% endstyle %}

{% javascript %}
{% endjavascript %}
