{% render 'collection-page-header-black-friday' %}
<div class="catalog-page">
  <div class="container">
    {% render 'lps-products-catalog-black-friday', Prods: collection.products %}
  </div>
  {% render 'collection-curaeats-section', invertSectionBack: false %}
</div>

<style>
  .main-btn {
    color: #FFE746 !important;
    background: #222222 !important;
    border: 1px solid #222222 !important;
}

.catalog-page h1 {
  text-align: center;
  padding-top: 30px;
}

.product-list {
  padding: unset;
}

.price p strike {
  color: #4B643D;
}

.supply-days {
  font-size: 16px;
  text-align: center;
  line-height: 0;
  font-weight: 200;
}

.free-shipping {
  margin-top: 5px;
}

.product-card .picture {
  background: #222222 !important;
  height: 370px !important;
}

.product-card .picture .discount {
  padding: unset;
  width: 110%;
  top: 200px;
  left: -5%;
  transform: rotate(-8.4deg);
  padding: 3px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  background: #FFE746;
  box-shadow: 0px 3.6px 3.6px rgb(0 0 0 / 25%);
  font-size: 20px;
  font-weight: bold;
  gap: 10px;
}

.product-card .picture .discount p {
  margin: 0;
}

.product-card .picture:after {
  background-image: url({{ 'ellipse.svg' | asset_url }});
}

@media screen and (max-width: 760px) {
  .product-card {
    width: 100% !important;
  }

}
</style>

<script>
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',
    ecommerce: {
    items: [{
      item_name: '{{ product.title }}',
      item_id: '{{ product.selected_or_first_available_variant.sku }}',
      affiliation: '{{ shop.name }}',
      price: '{{ product.selected_or_first_available_variant.price | money_without_currency }}',
      currency: '{{ shop.currency }}',
      item_brand: 'CuraLife',
      item_category: 'CuraLin',
      quantity: 1
    }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });

  $(document).on("click", "#AddTCart", function () {
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event: 'add_to_cart',
      ecommerce: {
      items: [{
        item_name: $(this).attr("title"),
        item_id: $(this).attr("prod-id"),
        affiliation: '{{ shop.name }}',
        price: $(this).attr("price"),
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',
        item_category: 'CuraLin',
        quantity: 1
      }]
      },
      email: '{{ customer.email }}',
      phone: '{{ customer.phone }}',
      name: '{{ customer.first_name }}',
      surname: '{{ customer.last_name }}',
      city: '{{ customer.customer_address.city }}',
      state: '{{ customer.customer_address.province }}',
      zip: '{{ customer.customer_address.zip }}',
      country: '{{customer.customer_address.country_code | t}}',
      user_agent: navigator.userAgent
    });

    woopra.track('add to cart', {
      product_sku: $(this).attr("prod-id"),
      product_name: $(this).attr("title"),
      product_price: $(this).attr("price"),
      currency: '{{ shop.currency }}',
      quantity: 1
    });
  });
</script>

{% schema %}
{
  "name": "Collection Products",
  "class": "collection-products",
  "settings": [
    {
      "type": "image_picker",
      "id": "prdct_bgimg",
      "label": "Select Product Background Image"
    }, {
      "type": "image_picker",
      "id": "clcbnr_btmimg",
      "label": "Select Bottom Banner Image"
    }
  ]
}
{% endschema %}