<div class="cookbook-page" style="background-image:url('{{ section.settings.background-image | img_url: 'master' }}')">
    <div class="container">

        <div class="header">
            <img src="{{ 'holidays-cookbook-stuff.png' | asset_url }}" alt="wooden spoon" class="spoon corner-image" loading="lazy">
            <div class="title-container">
                
                <h1 class="main-title">
                    <span class="top"><img src="{{ 'holidays-logo.png' | asset_url }}" alt="chef icon" loading="lazy"></span><br>
                    <span class="bottom">CookBook</span>
                </h1>
            </div>
            <img src="{{ 'holidays-cookbook-stuff-2.png' | asset_url }}" alt="pink pot" class="pot corner-image" loading="lazy">
        </div>

        <div class="cookbook-content">
            <div class="content">
                <div class="description">Download our free e-book for a healthy & delicious blood sugar friendly diet!</div>
                {% if customer %}
                <div class="download-cta"><a class="download-cookbook" href="{{ 'curalifes-cookbook.pdf' | asset_url }}" download><p class="download-cookbook">Click Here to Download</p></a></div>
                <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe" style="border: 1px solid lightgray; width: 100%; height: 400px;" src="https://heyzine.com/flip-book/c0b08e6535.html"></iframe>                {% else %}
                <div class="download-cta disabled"><p class="download-cookbook">Please Login To Download</p></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Page Content",
    "settings": [
{
          "type": "image_picker",
          "id": "background-image",
          "label": {"en":"Background Image"}
		},
{
          "type": "image_picker",
          "id": "spoon-image",
          "label": {"en":"Spoon Image"}
		},
{
          "type": "image_picker",
          "id": "pot-image",
          "label": {"en":"Pot Image"}
		},
{
          "type": "image_picker",
          "id": "chef-icon",
          "label": {"en":"Chef Icon"}
		},
{
          "type": "image_picker",
          "id": "cookbook-image",
          "label": {"en":"CookBook Image"}
		},
{
          "type": "image_picker",
          "id": "pen-image",
          "label": {"en":"Pen Image"}
		},
{
          "type": "image_picker",
          "id": "gallery-image-1",
          "label": {"en":"Gallery Image 1"}
		},
{
          "type": "image_picker",
          "id": "gallery-image-2",
          "label": {"en":"Gallery Image 2"}
		},
{
          "type": "image_picker",
          "id": "gallery-image-3",
          "label": {"en":"Gallery Image 3"}
		}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
self.set_header("Content-Type", "application/json")
self.set_header("Content-Disposition", 'attachment; filename=learned_data.json')
{% endjavascript %}
