<style>
    .faq-intro {
    position: relative;
    z-index: 1;
}
.faq-intro .bg-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
}
.faq-intro .bg-wrap img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.faq-intro .sub-title {
    padding: 6.8% 0;
    color: var(--white);
    text-align: center;
}
.faq-content .content-wrap {
    padding: 7% 0;
}
.faq-list ul {
    padding: 0 45px;
}
.faq-list ul li {
    display: block;
    padding: 5px 0;
}
.faq-list ul li.open .question:before {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.faq-list ul li .question:hover:before {
    background-color: var(--orange);
}
.faq-list ul li .answer {
    display: none;
    padding: 15px 0 35px 0;
}
.faq-content .more-questions {
    padding: 7.4% 0 2.8% 0;
    text-align: center;
}
.faq-list ul li .question:hover h3 {
    color: #deb63a;
}

.faq-intro .sub-title h1 {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.faq-list ul li .question h3 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: var(--green);
    -webkit-transition: color var(--transition);
    -o-transition: color var(--transition);
    transition: color var(--transition);
}
.faq-list {
    max-width: 880px;
    margin: 0 auto;
}
.faq-list ul li .question {
    padding: 4px 0;
    position: relative;
    cursor: pointer;
}
.faq-list ul li .question:before {
    font-family: 'icoFont';
    content: '\e902';
    width: 26px;
    height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -45px;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 1;
    border-radius: 50%;
    background-color: var(--green);
    -webkit-transform: rotate(
-90deg
);
    -ms-transform: rotate(-90deg);
    transform: rotate(
-90deg
);
    -webkit-transition: background-color var(--transition), -webkit-transform var(--transition);
    transition: background-color var(--transition), -webkit-transform var(--transition);
    -o-transition: background-color var(--transition), transform var(--transition);
    transition: background-color var(--transition), transform var(--transition);
    transition: background-color var(--transition), transform var(--transition), -webkit-transform var(--transition);
}

.faq-list ul li .answer p {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    color: var(--dark);
}
.faq-content .more-questions .text p {
    margin: 0;
    font-weight: normal;
    font-size: 17px;
    line-height: 1.5;
    color: #707070;
}
.faq-content .more-questions .btn {
    padding-top: 32px;
}
.faq-content .more-questions .btn a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 22px 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    background-color: var(--green);
    border-radius: 38.5px;
    -webkit-transition: background-color var(--transition);
    -o-transition: background-color var(--transition);
    transition: background-color var(--transition);
}
@media screen and (max-width: 1430px){
.sub-title h1, .sub-title h2 {
    font-size: 32px;
}
}
@media screen and (max-width: 1590px){
.faq-intro .sub-title h1 {
    font-size: 27px;
}
.faq-list {
    max-width: 807px;
}
.faq-list ul li .question {
    padding: 3px 0;
}
.faq-list ul li .question:before {
    width: 24px;
    height: 24px;
}
.faq-list ul li .question h3 {
    font-size: 14px;
}
.faq-list ul li .answer p {
    font-size: 14px;
}
.faq-content .more-questions .text p {
    font-size: 15px;
}
.faq-content .more-questions .btn {
    padding-top: 30px;
}
.faq-content .more-questions .btn a {
    padding: 19px 20px;
    font-size: 16px;
}
}
@media screen and (max-width: 640px){
    .faq-intro .sub-title {
        padding: 63px 18%;
    }
    .faq-intro .sub-title h1 {
        font-size: 24px;
        line-height: 1.08;
    }
    .faq-intro .sub-title {
    padding: 63px 18%;
    }
    .faq-content .content-wrap {
    padding: 21px 0;
}
.faq-list ul {
    padding: 0 0 0 45px;
}
.faq-list ul li {
    padding: 9px 0;
}
.faq-list ul li .question {
    padding: 1px 0;
}
.faq-list ul li .question:before {
    width: 26px;
    height: 26px;
}
.faq-list ul li .question h3 {
    font-size: 16px;
}
.faq-list ul li .answer {
    padding: 11px 0;
}
.faq-list ul li .answer p {
    font-size: 16px;
    line-height: 1.4;
}
.faq-content .more-questions {
    padding: 55px 0 38px 0;
}
.faq-content .more-questions .text p {
    font-size: 17px;
}
.faq-content .more-questions .btn a {
    padding: 22px 20px;
    font-size: 18px;
}
}
</style>
<div class="faq-intro">
     {% if section.settings.faq_img != blank %}
    <div class="bg-wrap">
        <img src="{{ section.settings.faq_img | img_url: '' }}" alt="">
    </div>
    {% endif %}
    <div class="container">
        <div class="mini-wrap">
            {% if section.settings.faq_tit != blank %}
            <div class="sub-title">
                <h1>{{section.settings.faq_tit}}</h1>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="faq-content">
    <div class="container">
        <div class="content-wrap">
            <div class="faq-list">
                <ul>
                    {% for block in section.blocks %}
                    {% if block.type == 'faq' %}
                    <li>
                        
                        <div class="question">
                            <h3>{{block.settings.faq_name}}</h3> 
                        </div>
                       
                        <div class="answer">
                            <p>{{block.settings.faq_descript}}</p>
                        </div>
                       
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="more-questions">
                {% if section.settings.mor_tit != blank %}
                <div class="text">
                    <p>{{section.settings.mor_tit}}</p>
                </div>
                {% endif %}
                {% if section.settings.morbtn_tit != blank %}
                <div class="btn">
                    <a href="{{section.settings.mor_btnlnk}}">{{section.settings.morbtn_tit}}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "FAQ",
    "settings": [
      {
           "type": "header", 
           "content": "Faq Intro Section Start" 
      }, 
      {
          "type": "image_picker",
          "id": "faq_img",
          "label": "Select image"
        },
      {
        "type": "text",
        "id": "faq_tit",
        "label": "Title",
        "default": "Enter Title"
       },
       {
           "type": "header", 
           "content": "More Questions Section Start" 
      }, 
      {
        "type": "text",
        "id": "mor_tit",
        "label": "Title",
        "default": "Enter Title"
       },
       {
        "type": "text",
        "id": "morbtn_tit",
        "label": "Button Title",
        "default": "Enter Title"
       },
       {
        "type": "url",
        "id": "mor_btnlnk",
        "label": "Link"
       }
    ],
     "blocks": [
          {
            "type": "faq",
            "name": "FAQ Content",
            "settings": [    
                {
                  "type": "text",
                  "id": "faq_name",
                  "label": "Title",
                  "default": " Enter Title "
                },
                {
                    "type": "textarea",
                    "id": "faq_descript",
                    "label": "Description",
                    "default": "Enter Description"
                }
                
            ]    
          }
          ],
    "presets":[
      {
      "name": "FAQ",
      "category": "faq"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}