<div class="page-intro">
    <div class="container">
        <div class="mini-wrap">
            <div class="intro-wrap">
                <div class="title-wrap">
                    <div class="sub-title">
                        <h1>{{section.settings.glo_titl}}</h1>
                    </div>
                </div>
                {% if section.settings.video_url != blank %}
                <div class="data-wrap">
                    <div class="open-video">
                        <a data-fancybox href="{{section.settings.video_url}}">
                             {% if section.settings.vid_img != blank %}
                            <img class="lazyload" data-src="{{ section.settings.vid_img | img_url: '' }}" alt="">
                            {% endif %}
                            <span class="{{section.settings.vid_icon}}"></span>
                        </a>
                    </div>
                </div>
                {% endif %}
                <div class="data-wrap">
                    <div class="prod-shop">
                        {% if section.settings.gl_img != blank %}
                        <div class="prod-img">
                            <img class="lazyload" data-src="{{ section.settings.gl_img | img_url: '' }}" alt="">
                        </div>
                        {% endif %}
                        <div class="btn">
                            <a href="{{section.settings.glbnr_btnlink}}" class="main-btn">{{section.settings.glbtn_titl}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Glucose Support Banner",
    "settings": [
        {
            "type": "text",
            "id": "glo_titl",
            "label": "Title",
            "default": "Enter Title"
        },
        {
            "id": "video_url",
            "type": "video_url",
            "label": "Video URL ",
            "accept": ["youtube", "vimeo"],
            "info": "Supports Youtube and Vimeo",
            "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
        },
        {
            "type": "image_picker",
            "id": "vid_img",
            "label": "Video Image"
        },
         {
            "type": "text",
            "id": "vid_icon",
            "label": "Video Play Icon",
            "default": "icon-play"
        },
        {
            "type": "image_picker",
            "id": "gl_img",
            "label": "Banner image"
        },
        {
            "type": "text",
            "id": "glbtn_titl",
            "label": "Button Title",
            "default": "Enter Button Title"
        },
        {
            "id": "glbnr_btnlink",
            "type": "url",
            "label": "Button Link"
        }
        
    ],
    "presets":[
      {
      "name": "Glucose Support Banner",
      "category": "image"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}