<div class="curalin-page-header">
    <div class="container">
        <div class="curalin-desktop-left">
            <img class="curalin-desktop" src="{{ 'glucose-support-banner-curalin.png' | asset_url }}" alt="">
            <img class="natural-blood-sugar" src="{{ 'glucose-support-banner-natural-blood-sugar.png' | asset_url }}"
                alt="">
            <img class="up-to-off" src="{{ 'glucose-support-banner-up-to-off.png' | asset_url }}" alt="">
            <a href="/collections/all"><img class="shop-now"
                    src="{{ 'glucose-support-banner-shop-now.png' | asset_url }}" alt=""></a>
        </div>
        <div class="curalin-desktop-right">
            <img class="chair-with-bottle" src="{{ 'glucose-support-banner-chair-with-bottle.png' | asset_url }}" alt="">
        </div>
        <div class="curalin-tablet-left">
            <img class="curalin-tablet" src="{{ 'glucose-support-banner-curalin.png' | asset_url }}" alt="">
            <img class="natural-blood-sugar-tablet" src="{{ 'glucose-support-banner-natural-blood-sugar.png' | asset_url }}"
                alt="">
            <img class="natural-blood-sugar-mobile"
                src="{{ 'glucose-support-banner-natural-blood-sugar-mobile.png' | asset_url }}" alt="">
            <img class="chair-with-bottle" src="{{ 'glucose-support-banner-chair-with-bottle.png' | asset_url }}" alt="">
            <img class="up-to-off" src="{{ 'glucose-support-banner-up-to-off.png' | asset_url }}" alt="">
            <div class="shop-now-tablet">
                <a href="/collections/all"><img
                        class="shop-now" src="{{ 'glucose-support-banner-shop-now.png' | asset_url }}" alt=""></a>
            </div>
    
        </div>
    </div>
</div>



{% schema %}
{
"name": "Glucose Support Banner",
"settings": [
{
"type": "image_picker",
"id": "header_image",
"label": "Header Image"
}, {
"type": "text",
"id": "header_title",
"label": "Title",
"default": "Enter Title"
}, {
"type": "text",
"id": "header_subtitle",
"label": "Sub-Title",
"default": "Enter Sub-Title"
}, {
"type": "text",
"id": "button_title",
"label": "Button Title",
"default": "Enter Button Title"
}, {
"id": "button_link",
"type": "url",
"label": "Button Link"
}
],
"presets": [
{
"name": "Glucose Support Banner",
"category": "image"
}
]
}

{% endschema %}

{% style %}

.curalin-page-header {
background: rgb(246,173,58);
background: linear-gradient(127deg, rgba(246,173,58,1) 0%, rgba(255,214,46,1) 100%);
padding: 0 40px;
}

.curalin-page-header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.curalin-tablet-left {
display: none;
}

.curalin-desktop-left {
display: flex;
flex-direction: column;
margin-top: 30px;
align-items: flex-start;
}

.up-to-off {
margin-top: 30px;
margin-bottom:30px;
}

.curalin-desktop-right {
margin-left: 50px;
opacity: 0.9;
}

@media screen and (max-width: 768px) {

.sub-title {
    margin-top: 3vw;
}
.curalin-page-header {
flex-wrap: wrap;
}

.curalin-desktop-left {
display: none;
}

.curalin-desktop-right {
display: none;
}

.curalin-tablet-left {
display: flex;
flex-direction: column;

}

.curalin-tablet {
max-width: 447px;
margin-left: 30px;
}

.natural-blood-sugar-tablet {
max-width: 592px;

}

.natural-blood-sugar-mobile {
display: none;
}

.chair-with-bottle {
max-width: 450px;
margin: 15px auto;
}

.up-to-off {
margin: auto;
max-width: 528px;
}

.shop-now-tablet {
    text-align: center;
    height: 10px;
}

.shop-now {
position: relative;
top: 20px;
z-index: 5;
}

}

@media screen and (max-width: 600px) {

.sub-title {
    margin-top: unset;
}
.curalin-tablet {
max-width: 280px;
margin: auto;
}

.natural-blood-sugar-tablet {
display: none;
}
.natural-blood-sugar-mobile {
display: flex;
width: 260px;
margin: 5px auto;
padding-left: 10px;
}
.chair-with-bottle {
    width: 360px;
    margin: -9vw auto -1vw;

}

.up-to-off {
margin: auto;
max-width: 281px;
}
}

@media screen and (max-width: 350px) {
   .chair-with-bottle {

       margin: -15vw auto -4vw;

   } 
}
 
{% endstyle %}