<div class="curalin-page-header container">
    <div class="header-content">
        <h1>
            {{section.settings.header_title}}<br>
            <p class="header-subtitle">{{section.settings.header_subtitle}}</p>
        </h1>
        <div class="btn">
            <a href="{{section.settings.button_link}}" class="main-btn">{{section.settings.button_title}}</a>
        </div>
    </div>
    <img class="header-img" src="{{ 'bfcm-curalin-banner-img.png' | asset_img_url: 'master' }}" alt="Black Friday Curalin Bottle Sale"/>
</div>

{% schema %}

{
    "name": "Glucose Support Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "header_image",
            "label": "Header Image"
        }, {
            "type": "text",
            "id": "header_title",
            "label": "Title",
            "default": "Enter Title"
        }, {
            "type": "text",
            "id": "header_subtitle",
            "label": "Sub-Title",
            "default": "Enter Sub-Title"
        }, {
            "type": "text",
            "id": "button_title",
            "label": "Button Title",
            "default": "Enter Button Title"
        }, {
            "id": "button_link",
            "type": "url",
            "label": "Button Link"
        }
    ],
    "presets": [
        {
            "name": "Glucose Support Banner",
            "category": "image"
        }
    ]
}

{% endschema %}

{% style %}

.curalin-page-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-img {
    width: calc(110vw/3);
    max-width: 500px;
}

h1 {
    font-size: 50px;
    margin: 20px 0;
}

.header-subtitle {
    font-weight: normal;
    font-size: 25px;
    margin: 10px 0;
    line-height: 130%;
}

@media screen and (max-width: 760px) {
    .curalin-page-header {
        flex-wrap: wrap;
    }

    .header-img {
        width: 100%;
    }

    .header-content {
        text-align: center;
        margin-top: 20px;
    }
  }

{% endstyle %}

{% javascript %}



{% endjavascript %}