

<style>
    .botm_prdct{
        background-color: #fed6c9;
    padding: 50px 0;
    }
    .botm_prdct .policy .policy__wrap{
        padding: 3.4% 0 0;
    }
    /*.offer-page header{
        display: block;
    }*/
   /* .offer-page .page-intro {
    display: none;*/
    .refrance-study {
    display: none;
}
}
</style>
{% assign prd_one = all_products['curalin'] %}
{% assign prd_two= all_products['curalin-3-pack'] %}
{% assign prd_three = all_products['curalin-6-pack'] %}
<div class="botm_prdct">
<section class="products ">
    <div class="wrapper">
        <div class="products__list no-frame">

            <div class="product-card">
                <div class="wrap">
                    <div class="top_info">
                        <div class="discount">
                            <div class="discount-wrap">
                                 
                                <p><span class="bottom-line" style="background-color: #00595B"></span>
                                    {% if prd_one.compare_at_price_max > prd_one.price %}
                                    {{ prd_one.compare_at_price_max | minus: prd_one.price | times: 100.0 | divided_by: prd_one.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}% OFF +  {% endif %} FREE SHIPPING</p>
                                   
                            </div>
                        </div>
                        <div class="picture">
                            {% if section.settings.prd_imgone != blank %}
                            <div class="img">
                                
                                <img src="{{ section.settings.prd_imgone | img_url: '' }}" alt="">
                                
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bottom_info">
                        <div class="price">
                            <div class="discount-price">
                                 {%if prd_one.compare_at_price != blank %}
                        <p>{{ prd_one.compare_at_price | money }}</p>
                      {% endif %}
                            </div>
                            <div class="original-price">
                                <p style="padding-top: 12px">{{ prd_one.price | money }}</p>
                            </div>
                            {% if prd_one.compare_at_price >0 %}
                            <div class="price-savings">
                                <p>Instant Savings: {{ prd_one.compare_at_price_min | minus: prd_one.price_min | money | remove: '.00' }}
                                </p>
                            </div>

                            {% endif %}
                        </div>
                        <div class="order__btn">
                            <a href="/cart/35446091284631:1">ORDER NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <div class="wrap">
                    <div class="top_info">
                        <div class="discount">
                            <div class="discount-wrap">
                                <p><span class="bottom-line" style="background-color: #ff4747"></span>
                                     {% if prd_two.compare_at_price_max > prd_two.price %}
                                    {{ prd_two.compare_at_price_max | minus: prd_two.price | times: 100.0 | divided_by: prd_two.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}% OFF + {% endif %} FREE SHIPPING</p>
                            </div>
                        </div>
                        <div class="picture">
                            {% if section.settings.prd_imgtwo != blank %}
                            <div class="img">
                                 
                                <img src="{{ section.settings.prd_imgtwo | img_url: '' }}" alt="">
                               
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bottom_info">
                        <div class="price">
                            <div class="discount-price">
                               {%if prd_two.compare_at_price != blank %}
                        <p>{{ prd_two.compare_at_price | money }}</p>
                      {% endif %}
                            </div>
                            <div class="original-price">
                               <p>{{ prd_two.price | money }}</p>
                            </div>
                            {% if prd_two.compare_at_price >0 %}
                            <div class="price-savings">
                                <p>Instant Savings: {{ prd_two.compare_at_price_min | minus: prd_two.price_min | money | remove: '.00' }}
</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="order__btn">
                            <a href="/cart/35446091448471:1">ORDER NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-card limited-offer">
                <div class="wrap">
                    <div class="top_info">
                        <div class="discount">
                            <div class="discount-wrap">
                                <p><span class="bottom-line" style="background-color: #ffb635"></span>
                                     {% if prd_three.compare_at_price_max > prd_three.price %}
                                    {{ prd_three.compare_at_price_max | minus: prd_three.price | times: 100.0 | divided_by: prd_three.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}% OFF + {% endif %}

                                    FREE SHIPPING</p>
                            </div>
                        </div>
                        <div class="picture">
                            {% if section.settings.prd_imgthree != blank %}
                            <div class="img">
                                 
                                <img src="{{ section.settings.prd_imgthree | img_url: '' }}" alt="">
                                
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-offer">
                            <p><span class="offer-icon"></span>Limited
                                Time Offer</p>
                        </div>
                    </div>
                    <div class="bottom_info">
                        <div class="price">
                            <div class="discount-price">
                                {%if prd_three.compare_at_price != blank %}
                        <p>{{ prd_three.compare_at_price | money }}</p>
                       {% endif %}
                            </div>
                            <div class="original-price">
                                <p>{{ prd_three.price | money }}</p>
                            </div>
                            {% if prd_three.compare_at_price >0 %}
                            <div class="price-savings">
                                <p>Instant Savings: {{ prd_three.compare_at_price_min | minus: prd_three.price_min | money | remove: '.00' }}
</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="order__btn">
                            <a href="/cart/35446091120791:1">ORDER NOW</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="policy centered-content">
    <div class="wrapper">
        <div class="policy__wrap">
            {% if section.settings.plcy_image != blank %}
            <div class="police__img">
                <img src="{{ section.settings.plcy_image | img_url: '' }}" alt="">
            </div>
            {% endif %}
            <div class="policy__info">
                {% if section.settings.plcy_titl != blank %}
                <h2>{{section.settings.plcy_titl}}</h2>
                {% endif %}
                {% if section.settings.plcy_descr != blank %}
                <p>{{section.settings.plcy_descr}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
</div>

{% schema %}
  {
    "name": "Product Order Section",
    "settings": [
        {
          "type": "image_picker",
          "id": "prd_imgone",
          "label": "Select Product Image One"
        },
        {
          "type": "image_picker",
          "id": "prd_imgtwo",
          "label": "Select Product Image Two"
        },
        {
          "type": "image_picker",
          "id": "prd_imgthree",
          "label": "Select Product Image Three"
        },

        {
          "type": "image_picker",
          "id": "plcy_image",
          "label": "Image"
        },
        
        {
            "type": "text",
            "id": "plcy_titl",
            "label": "Enter Title"
        },
        {
            "type": "textarea",
            "id": "plcy_descr",
            "label": "Enter Description"
        }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
