<style>
    .offer-page header{
        display: block;
        position: relative !important;
    }
    header .logo-box{
        cursor: auto;
        touch-action: none;
    }
    @media screen and (max-width: 991px){
        .offer-page header:before {
            background: transparent;
            box-shadow: none;

        }

}
</style>

<section class="offer-page with-img">
    <div class="img-bg orange-fond">
        <span>
            <picture>
                <source srcset="{{ section.settings.dskintr_img | img_url: '' }}" media="(min-width: 641px)">
                <source srcset="{{ section.settings.mblintr_img | img_url: '' }}">
                <img srcset="{{ section.settings.mblintr_img | img_url: '' }}" alt="">
            </picture>
        </span>
    </div>
    <div class="wrapper">
        <header>
            <a class="logo-box" href="javascript:void(0)">
                <img src="{{ section.settings.hdrlgo_image | img_url: '' }}" alt="">
            </a>
        </header>
        <div class="page-intro">
            <div class="intro-data">
                <div class="page-title">
                    <div class="title-text">
                        <h1 class="titl_fade" style="display: none;"><span><img src="{{section.settings.bnrlgo_image | img_url: '' }}" alt=""></span>
                            {{section.settings.bnr_titl}}</h1>
                    </div>
                    <div class="offer-labels">
                        <div class="label-item save">
                            <div class="item-icon"></div>
                            <div class="item-text">
                                <p>{{section.settings.saving_titl}}</p>
                            </div>
                        </div>
                        <div class="label-item shipping">
                            <div class="item-icon"></div>
                            <div class="item-text">
                                <p>{{section.settings.ship_titl}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          <div class="offer-counter">
                <div class="counter-wrap">
                    <div class="counter-title">
                        <p>{{section.settings.cntr_titl}}</p>
                    </div>
                    <div class="counter-item ">
                        <div class="item-wrap days-counter">
                            <div class="counter-number">
                                <p><span id="days"></span></p>
                            </div>
                            <div class="counter-name">
                                <p>Days</p>
                            </div>
                        </div>
                        <div class="item-wrap hours-counter">
                            <div class="counter-number"><p>
                                <span id="hours"></span></p></div>
                            <div class="counter-name">
                                <p>Hours</p>
                            </div>
                        </div>
                        <div class="item-wrap minutes-counter">
                            <div class="counter-number"><p><span id="minutes"></span></p></div>
                            <div class="counter-name">
                                <p>Minutes</p>
                            </div>
                        </div>
                        <div class="item-wrap minutes-counter">
                            <div class="counter-number"><p><span id="seconds"></span></p></div>
                            <div class="counter-name">
                                <p>Seconds</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% assign prd_one = all_products['curalin'] %}
{% assign prd_two= all_products['curalin-3-pack'] %}
{% assign prd_three = all_products['curalin-6-pack'] %}
<section class="products">
    <div class="wrapper">
        <div class="products__list no-frame">

            <div class="product-card">
                <div class="wrap">
                    <div class="top_info">
                        <div class="discount">
                            <div class="discount-wrap">
                                 
                                <p><span class="bottom-line" style="background-color: #00595B"></span>
                                    {% if prd_one.compare_at_price_max > prd_one.price %}
                                    {{ prd_one.compare_at_price_max | minus: prd_one.price | times: 100.0 | divided_by: prd_one.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}% OFF +  {% endif %} FREE SHIPPING</p>
                                   
                            </div>
                        </div>
                        <div class="picture">
                          {% if section.settings.prd_imgone != blank %}
                            <div class="img">
                                
                                <img src="{{ section.settings.prd_imgone | img_url: '' }}" alt="">
                                
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bottom_info">
                        <div class="price">
                            <div class="discount-price">
                                 {%if prd_one.compare_at_price != blank %}
                        <p>{{ prd_one.compare_at_price | money }}</p>
                      {% endif %}
                            </div>
                            <div class="original-price">
                                <p style="padding-top: 12px">{{ prd_one.price | money }}</p>
                            </div>
                            {% if prd_one.compare_at_price >0 %}
                            <div class="price-savings">
                                <p>Instant Savings: {{ prd_one.compare_at_price_min | minus: prd_one.price_min | money | remove: '.00' }}

                                </p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="order__btn">
                            <a href="https://curalife.com/cart/35446091284631:1">ORDER NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <div class="wrap">
                    <div class="top_info">
                        <div class="discount">
                            <div class="discount-wrap">
                                <p><span class="bottom-line" style="background-color: #ff4747"></span>
                                     {% if prd_two.compare_at_price_max > prd_two.price %}
                                    {{ prd_two.compare_at_price_max | minus: prd_two.price | times: 100.0 | divided_by: prd_two.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}% OFF + {% endif %} FREE SHIPPING</p>
                            </div>
                        </div>
                        <div class="picture">
                          {% if section.settings.prd_imgtwo != blank %}
                            <div class="img">
                               
                                <img src="{{ section.settings.prd_imgtwo | img_url: '' }}" alt="">
                                
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bottom_info">
                        <div class="price">
                            <div class="discount-price">
                               {%if prd_two.compare_at_price != blank %}
                        <p>{{ prd_two.compare_at_price | money }}</p>
                      {% endif %}
                            </div>
                            <div class="original-price">
                               <p>{{ prd_two.price | money }}</p>
                            </div>
                            {% if prd_two.compare_at_price >0 %}
                            <div class="price-savings">
                                <p>Instant Savings: {{ prd_two.compare_at_price_min | minus: prd_two.price_min | money | remove: '.00' }}
</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="order__btn">
                            <a href="https://curalife.com/cart/35446091448471:1">ORDER NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-card limited-offer">
                <div class="wrap">
                    <div class="top_info">
                        <div class="discount">
                            <div class="discount-wrap">
                                <p><span class="bottom-line" style="background-color: #ffb635"></span>
                                     {% if prd_three.compare_at_price_max > prd_three.price %}
                                    {{ prd_three.compare_at_price_max | minus: prd_three.price | times: 100.0 | divided_by: prd_three.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}% OFF + {% endif %}

                                    FREE SHIPPING</p>
                            </div>
                        </div>
                        <div class="picture">
                          {% if section.settings.prd_imgthree != blank %}
                            <div class="img">
                                
                                <img src="{{ section.settings.prd_imgthree | img_url: '' }}" alt="">
                               
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-offer">
                            <p><span class="offer-icon"></span>Limited
                                Time Offer</p>
                        </div>
                    </div>
                    <div class="bottom_info">
                        <div class="price">
                            <div class="discount-price">
                                {%if prd_three.compare_at_price != blank %}
                        <p>{{ prd_three.compare_at_price | money }}</p>
                       {% endif %}
                            </div>
                            <div class="original-price">
                                <p>{{ prd_three.price | money }}</p>
                            </div>
                            {% if prd_three.compare_at_price >0 %}
                            <div class="price-savings">
                                <p>Instant Savings: {{ prd_three.compare_at_price_min | minus: prd_three.price_min | money | remove: '.00' }}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="order__btn">
                            <a href="https://curalife.com/cart/35446091120791:1">ORDER NOW</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Product Order Section",
    "settings": [
       
        {
          "type": "image_picker",
          "id": "hdrlgo_image",
          "label": "Header Logo Image"
        },
        {
          "type": "image_picker",
          "id": "bnrlgo_image",
          "label": "Banner Logo Image"
        },
        {
            "type": "text",
            "id": "bnr_titl",
            "label": "Banner Title"
        },
        {
            "type": "text",
            "id": "saving_titl",
            "label": "Saving Title"
        }, 
        {
            "type": "text",
            "id": "ship_titl",
            "label": "Shipping Title"
        },    
        {
          "type": "image_picker",
          "id": "dskintr_img",
          "label": "Desktop Intro Image"
        },
        {
          "type": "image_picker",
          "id": "mblintr_img",
          "label": "Mobile Intro Image"
        },
        
        
        {
            "type": "text",
            "id": "cntr_titl",
            "label": "Counter Title"
        },
        {
          "type": "image_picker",
          "id": "prd_imgone",
          "label": "Select Product Image One"
        },
        {
          "type": "image_picker",
          "id": "prd_imgtwo",
          "label": "Select Product Image Two"
        },
        {
          "type": "image_picker",
          "id": "prd_imgthree",
          "label": "Select Product Image Three"
        }

  ],
  "blocks": [
        {   
        "type": "product",
          "name": "Add Product",
          "settings": [
                   {
                    "type": "text",
                    "id": "product-title",
                    "label": "Product Title"
                  },
          {
                    "type": "text",
                    "id": "prodct-discount",
                    "label": "Discount"
                  },  
                  {
                    "type": "text",
                    "id": "sub-heading",
                    "label": "Sub Heading"
                  },
          {
                    "type": "text",
                    "id": "regular-price",
                    "label": "Regular Price"
                  },
          {
                    "type": "text",
                    "id": "savings",
                    "label": "Instant Savings"
                  },
          {
                    "type": "text",
                    "id": "sale_price",
                    "label": "Price"
                  },
          {
                    "type": "text",
                    "id": "oreder-label",
                    "label": "Order Button Label"
                  },
          {
                    "type": "text",
                    "id": "order-link",
                    "label": "Order Button Link"
                  }
          ]
        },
      {   
        "type": "product-box-heading",
          "name": "Product Box Setting",
          "settings": [
                   {
                    "type": "text",
                    "id": "box-title",
                    "label": "Box Title"
                  },  
                  {
                    "type": "text",
                    "id": "box-sub-heading",
                    "label": "Box Sub Heading"
                  },
          {
                    "type": "text",
                    "id": "box-shipping",
                    "label": "Shipping"
                  } 
          ]
        }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script>
  $(document).ready(function(){

     setTimeout(function(){
      $(".titl_fade").fadeIn();
      }, 1000);
  });
</script>
<script>
  (function () {
  const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

  let birthday = "july 12, 2021 23:59:00",
      countDown = new Date(birthday).getTime(),
      x = setInterval(function() {

        let now = new Date().getTime(),
            distance = countDown - now;

        document.getElementById("days").innerText = Math.floor(distance / (day)),
          document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute));
           document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

        
        //do something later when date is reached
        if (distance < 0) {
          let headline = document.getElementById("headline"),
              countdown = document.getElementById("countdown"),
              content = document.getElementById("content");

          headline.innerText = "It's my birthday!";
          countdown.style.display = "none";
          content.style.display = "block";

          clearInterval(x);
        }
      }, 0)
  }());
</script>