<header>
    <div class="container">
        <div class="main-toolbar">
            <div class="main-links d-mobile">
                <ul>
                    <li><a href="javascript:void(0)" class="open-menu"><i class="icon-menu"></i></a></li>
                    <li><a href="javascript:void(0)" class="open-search"><i class="icon-search"></i></a></li>
                </ul>
            </div>
            {% if section.settings.logo != blank %}
            <div class="main-logo">
                <a href="{{section.settings.lgo_lnk}}"><img src="{{ section.settings.logo | img_url: '' }}" alt="logo"></a>
            </div>
            {% endif %}
            <div class="main-menu">
                <div class="menu-scroll">
                    <ul>
                    {% for link in linklists[section.settings.main_linklist].links %}
                       {% if link.links == blank  %}
                       <li><a href="{{ link.url }}">{{ link.title }}</a></li>

                       {% else %}

                        <li class="dropdown"><a href="{{ link.url }}">{{ link.title }}</a>
           					
                            <div class="dropdown-menu">
                            {% if link.links != blank %}
                                <ul class="child">
                                {% for child_link in link.links %}
                                    <li><a href= "{{ child_link.url }}">{{ child_link.title }}</a></li>
                                {% endfor %}
                                </ul>
                                 {% endif %}
                            </div>
                              
                        </li>
                        {% endif %}
                        {% endfor %}   
                    </ul>
                </div>
            </div>
            {% comment %}
            <div id="pageheader">
            <div class="main-search search-box">
                <form class="search-form" action="/search" method="get" role="search" _lpchecked="1">
                    <button type="submit"><i class="icon-search"></i></button>
                    <label>
                        <input type="text" placeholder="Type your keyword" name="q" value="{{ search.terms | escape }}">
                    </label>
                </form>
                 <div class="results-box" style=""></div>
            </div>
        </div>
        {% endcomment %}
            <div class="main-links">
                <ul>
                    {% unless customer%}
                    <li><a href="javascript:void(0)" class="open-modal" data-fancybox data-src="#login-modal">
                        <span>Account</span> <i class="icon-user"></i></a>
                    </li>
                    {% endunless%}
                     {% if customer%}
                        <li><a href="/account">
                        <span>My Account</span> <i class="icon-user"></i></a></li>
                        {% endif %}
                    <li><a href="javascript:void(0)" class="open-modal" data-fancybox data-src="#side-cart">
                        <span>Cart - <span class="header_cart_count">{{ cart.item_count }}</span></span> <i class="icon-cart" data-items="{{ cart.item_count }}"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
{% schema %}
  {
    "name": "Header",
    "settings": [
    	{
			"type": "header",
			"content": "Logo"
		},
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo image"
        },
        {
          "type": "url",
          "id": "lgo_lnk",
          "label": "Logo Link"
        },
    	{	
			"type": "header",
			"content": "Menu"
		},
        {
          "type": "link_list",
          "id": "main_linklist",
          "label":"Menü",
          "default": "main-menu"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script type="text/javascript">
var req = new XMLHttpRequest();
req.overrideMimeType("application/json");
req.open('GET', 'https://geo.curalife.com/', true);
req.onload = function() {
  var json = JSON.parse(req.responseText);
  var trycuralifeCountries = ['KW', 'SA', 'QA', 'OM', 'BH', 'AE'];
  
  function whereAmIFrom() {
      return json.country;
  }
  
  window.whereAmIFrom = whereAmIFrom;

  if(!window.location.href.includes("checkout-diabetic") && !window.location.href.includes("admin") && !window.location.href.includes("parcelpanel")) {
    if(trycuralifeCountries.includes(whereAmIFrom())){
      window.location.hostname = 'trycuralife.com';
    }
    else if(whereAmIFrom() == 'RO'){
        window.location.hostname = 'curalife.ro';}
    else if(whereAmIFrom() != 'US' && whereAmIFrom() != 'PR'){
        window.location.hostname = 'global.curalife.com';
    }
  } 
  
  if(typeof geoRules !== "undefined") geoRules();
};

req.send(null);
</script>