<div class="holistic-solutions">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title decoration-line">
                <h3>{{section.settings.holis_titl}}</h3>
            </div>
            <div class="solutions-list">
                <ul>
                    {% for block in section.blocks %}
                    {% if block.type == 'holistic' %}
                    <li>
                        <div class="top-info">
                            {% if block.settings.slc_img != blank %}
                            <div class="img">
                                <img src="{{block.settings.slc_img | img_url: ''}}" alt="">
                            </div>
                            {% endif %}
                            <div class="text">
                                <p><b>{{block.settings.slc_title}}</b><br>
                                    {{block.settings.slc_desc}}</p>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <a href="{{block.settings.btn_slcurl}}" class="main-btn blue">{{block.settings.btn_slctitle}}</a>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Holistic Solutions",
        "settings": [
            {
                "type": "header",
                "content": "Holistic Solutions Section"
            },
            {
                "type": "text",
                "id": "holis_titl",
                "label": "Enter Title",
                "default": "Holistic Solutions"
            }
         
       ],
       "blocks": [
          {
            "type": "holistic",
            "name": "Add Solutions Content",
            "settings": [    
                {
                    "type": "image_picker",
                    "id": "slc_img",
                    "label": "Select Image"
                },
                {
                  "type": "text",
                  "id": "slc_title",
                  "label": "Title",
                  "default": " Enter title "
                },
                {
                  "type": "textarea",
                  "id": "slc_desc",
                  "label": "Description",
                  "default": " Enter your Description"
                },
                {
                    "type": "text",
                    "id": "btn_slctitle",
                    "label": "Button Title",
                    "default": "Enter Button Title"
                },
                {
                    "type": "url",
                    "id": "btn_slcurl",
                    "label": "Button Link"
            
                }

                
            ]    
          }
            
        ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}