<a href="/collections/all">
<div class="homepage-banner">
<div class="container">
  <div class="bg">
    <div class="main-title-wrapper">
      <div class="bg-watermelon"></div>

      <div class="summer-sale part-60">
        <div class="summer">SUMMER</div>
        <img src="{{ 'page.aio-first-page-sale.png' | asset_url }}" alt="" loading="lazy">
      </div>   
    </div>

    <img class="watermelon-ring content" src="{{ 'lps-aio-header-30_.gif' | asset_url }}" alt="">
    <img class="watermelon-ring-mobile content-mobile" src="{{ 'lps-aio-header-30__mobile.gif' | asset_url }}" alt="">
    <div class="button-container">
      <button class="shop-button">SHOP NOW</button>
    </div>
    <div class="banner-bottle">
      <img class="homepage-banner-bottle" src="{{ 'homepage-banner-bottle.png' | asset_url }}" alt="">
    </div>
    <div class="button-container-mobile">
      <img src="{{ 'homepage-banner-shop.png' | asset_url }}" alt="">
    </div>
  </div>
</div>
</a>

<style>

.container-text {
  display: flex;  
  align-items: center;
  justify-content: center;

}



.summer-sale {
  margin-right: -20px;
  margin-top: -125px;
  margin-bottom: 30px;
  padding: 0 20px;
  z-index: 5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 20px;   
  gap: 20px;
  background: #8FD9EB;
  transform: rotate(-1.87deg);

}

.summer-sale img {
  transform: rotate(1.07deg);
}

.summer {
  font-family: 'Montserrat';     
  font-weight: 400;
  font-size: 56px; 
  color: #FFFFFF;

}
  .button-container-mobile {
    display: none;
  }
  .homepage-banner {
    background-color: #FDCB3B;
  }

  .bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100%;
  }

  .bg-watermelon {
    margin-left: -20px;
    background-image: url("{{ 'homepage-banner-watermelon-background.png' | asset_url }}");
    background-size: cover;      
    height: 150px;
  }


  .bg-img-text {
    background-color: #8FD9EB;
    position: relative;
    z-index: 10;
    width: 750px;
    height: 110px;
    margin-top: -80px;
    margin-left: 110px;
    transform: rotate(-2.68deg);
  }

  .bg-text {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }




  .content {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
  }

  .content-mobile {
    display: none;
  }

  .up-to {
    margin-top: -140px;
    max-width: 61px;
    height: 67px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 34px;
    line-height: 33px;
    color: #FFFFFF;
  }

  .three {

    max-width: 408px;
    height: 300px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 302px;
    line-height: 300px;
    color: #FFFFFF;
  }

  .off {
    margin-top: -110px;
    width: 170px;
    height: 393px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 204px;
    line-height: 340px;
    color: #FFFFFF;
  }

  .off-text {
    margin-top: -150px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 70px;
    color: #FFFFFF;

  }

  .button-container {
    margin-bottom: 36px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .shop-button {
    width: 338px;
    height: 64px;
    background-color: #F6556F;
    border-color: transparent;
    border-radius: 2px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 39px;
    line-height: 47px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
  }

  .banner-bottle {
    position: absolute;
    left: 72vw;
    top: 277px;
    z-index: 4;
  }


  @media screen and (max-width: 966px) {
    .bg-img-text {
      margin-top: -200px;
      margin-left: 50px;
      width: 494px;
      height: 230px;
    }

    .bg-text {
      flex-direction: column;
      align-items: center;
    }




    .content {
      margin-bottom: 80px;
    }

    .button-container {
      margin-bottom: 50px;
    }

    .banner-bottle {
      top: 520px;
      left: 65vw;
      width: 20%;
    }
  }

  @media screen and (max-width: 768px) {

    .button-container {
      display: none;
    }
    .banner-bottle {
      display: none;
    }
    .button-container-mobile {
      display: flex;
    }

    .content {
      display: none;
    }



    .content-mobile {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
    }

    .up-to-mobile {
      margin-left: 5px;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 28px;

      color: #FFFFFF;
    }

    .thirty-mobile {
      display: flex;
      align-items: center;
    }

    .three-mobile {

      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 207px;
      color: #FFFFFF;
    }

    .watermelon-ring-mobile {
      margin-left: -10vw;
    }

    .off-mobile {
      margin-top: -40px;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 100px;
      color: #FFFFFF;
    }

    .button-container {
      margin-top: 50px;

    }





    .shop-button {
      width: 200px;
      height: 44px;
      font-size: 29px;
      line-height: unset;
      letter-spacing: unset;
    }





    .bg-img-text {
      margin-top: -120px;
      margin-left: 40px;
      width: 240px;
      height: 160px;
    }


    .off-mobile {
      font-size: 90px;
    }
  }

  @media screen and (max-width: 760px) {
     .summer-sale {
      margin-bottom: unset;
      width: min-content;
      gap: unset;
      margin-right: -5vw;
      top: 5vw;
     }

     .summer {
      position: relative;
      top: 2vw;
      font-size: 10vw;
     }

  } 
</style>

{% schema %}
{
"name": "Home Banner New",
"settings": [],
"presets":[
{
"name": "Home Banner New",
"category": "Home"
}
]
}
{% endschema %}