<div class="homepage-banner">
  <div class="stars">
    <img class="star"  style="top:72%;left:6%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:0%;left:3%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:2%;left:37%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:14%;left:22%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:1%;left:15%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:24%;left:29%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:25%;left:0%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:42%;left:8%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:62%;left:0%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:36%;left:18%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:25%;left:9%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">

    <img class="star"  style="top:6%;left:88%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:0%;left:93%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:3%;left:74%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:22%;left:77%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:2%;left:80%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:15%;left:96%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:28%;left:84%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:50%;left:86%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:66%;left:93%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:36%;left:95%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
    <img class="star"  style="top:25%;left:91%;" src="{{ 'homepage-grey-banner-star.png' | asset_url }}"  alt="">
  </div>
  
  <div class="container">
    <div class="titles">
      <div class="curalin">CuraLin</div>
      <h1><b>LABOR</b> DAY</h1>
      <img class="sale" src="{{ 'homepage-banner-sale.png' | asset_url }}" alt="">
    </div> 

    <div class="women-wrapper">
      <img class="women" src="{{ 'homepage-banner-save-dollar.png' | asset_url }}" alt="">
      <div class="grey-border"></div>
    </div>
    <img class="man-sitting" src="{{ 'homepage-banner-men-on-bottle.png' | asset_url }}" alt="">

    <div class="shop-button">
      <div class="shop-now">
        <a href="/collections/all" class="cta-btn">SHOP NOW</a>
      </div>
      <div class="limited-time">Limited Time Only!</div>
    </div>
  </div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  @font-face {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    src: url('{{ "PPRadioGrotesk-Bold.otf" | asset_url }}');
    /* IE9 Compat Modes */
    src: local(''),
    url('{{ "PPRadioGrotesk-Bold.otf" | asset_url }}') format('otf'),
    /* Super Modern Browsers */
    url('{{ "PPRadioGrotesk-Bold.otf" | asset_url }}') format('otf'),
    /* Modern Browsers */
  }

  @font-face {
    font-family: 'PP Radio Grotesk';
    font-weight: 400;
    src: url('{{ "PPRadioGrotesk-Regular.otf" | asset_url }}');
    /* IE9 Compat Modes */
    src: local(''),
    url('{{ "PPRadioGrotesk-Regular.otf" | asset_url }}') format('otf'),
    /* Super Modern Browsers */
    url('{{ "PPRadioGrotesk-Regular.otf" | asset_url }}') format('otf'),
    /* Modern Browsers */
  }

  @font-face {
    font-family: 'PP Radio Grotesk';
    font-weight: 300;
    src: url('{{ "PPRadioGrotesk-Light.otf" | asset_url }}');
    /* IE9 Compat Modes */
    src: local(''),
    url('{{ "PPRadioGrotesk-Light.otf" | asset_url }}') format('otf'),
    /* Super Modern Browsers */
    url('{{ "PPRadioGrotesk-Light.otf" | asset_url }}') format('otf'),
    /* Modern Browsers */
  }
</style>

<style>
  a, a:focus, a:hover {
    color: #FFFFFF;
  }

  .homepage-banner {
    background-color: #F3F1ED;
    position: relative;
    display: flex;
    min-height: 600px;
  }

  .homepage-banner .container {
    position: relative;
    padding: 20px;
  }

  .homepage-banner .star {
    z-index: 1;
    position: absolute;
  }

  .homepage-banner .titles {
    text-align: center;
    position: relative;
    z-index: 3;
  }

  .homepage-banner .titles h1 {
    font-family: 'PP Radio Grotesk'; 
    font-size: 170px;
    font-weight: 300;
    color: #CD2204;
    margin: 0;
  }

  .homepage-banner .titles h1 b {
    font-weight: 700;
  }

  .homepage-banner .titles .curalin {
    display: none;
    font-family: 'PP Radio Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #CD2204;
  }

  .homepage-banner .sale {
    position: relative;
    top: -90px;
  }

  .homepage-banner .man-sitting {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
  }

  .homepage-banner .women-wrapper {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 60px;
  }

  .homepage-banner .grey-border {
    margin-top: -5px;
    max-width: 60%;
    border-bottom: 2px solid #696565;
  }

  .homepage-banner .shop-now {
    max-width: 350px;
    margin: auto;
  }

  .homepage-banner .cta-btn {
    padding: 10px 50px;
    background: #FEBB0E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .homepage-banner .limited-time {
    padding: 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.15em;
    color: #D92604;
  }

  .shop-button {
    position: absolute;
    bottom: 30px;
    width: 100%;
  }

  @media screen and (max-width: 1400px) { 
    .homepage-banner {
      min-height: 48vw;
    }

  

    .homepage-banner .titles h1 {
      font-size: 10vw;
    }

    .homepage-banner .titles .sale {
      width: 27vw;
      top: -5vw;
    }

    .homepage-banner .man-sitting {
      width: 25vw;
    }

    .homepage-banner .women-wrapper {
      width: 30vw;
    }

    .homepage-banner .shop-now {
        max-width: 64vw;

    }

    .shop-button {
      bottom: 2vw;
    }
  }

  @media screen and (max-width:768px) {
    .homepage-banner {
      min-height: 140vw;
    }

    

    .homepage-banner .titles {
      flex-direction: column;
      align-items: flex-start;
      margin: auto;
      text-align: unset;
    }

    .homepage-banner .titles h1 {
      font-size: 15vw;
    }

    .homepage-banner .star {
      max-width: 4vw;
    }

    .homepage-banner .grey-border {
      display: none;
    }

    .homepage-banner .man-sitting {
      width: 55vw;
      right: -11vw;
      bottom: 23vw;
    }

    .homepage-banner .women-wrapper {
      width: 62vw;
      bottom: 27vw;
    }

    .homepage-banner .titles .curalin {
      display: block;
      position: relative;
      font-size: 8vw;
      top: 3vw;
    }

    .homepage-banner .titles .sale {
      width: 43vw;
      top: unset;
    }

    .homepage-banner .cta-btn {    
      font-size: 5vw;
    }

    .homepage-banner .limited-time {
      margin-top: 1vw;
      font-size: 4vw;
    }
  }
</style>

{% schema %}
{
"name": "Home Banner New",
"settings": [],
"presets":[
{
"name": "Home Banner New",
"category": "Home"
}
]
}
{% endschema %}