<div class="homepage-banner">
   
  <div class="bg">   
      <img class="bg-img" src="{{ 'homepage-grey-banner-stars-bg.png' | asset_url }}"  alt="">
      <img class="bg-img-mobile" src="{{ 'homepage-grey-banner-stars-bg-mobile.png' | asset_url }}"  alt="">
  </div>
  <div class="container no-mobile-padding">
  <div class="labour-day-container">
      <img src="{{ 'homepage-banner-labour-day.png' | asset_url }}" alt="">
  </div>
  <div class="labour-day-container-mobile">
      <img src="{{ 'homepage-banner-labour-day-mobile.png' | asset_url }}" alt="">
  </div>

  <div class="save-banner">
      <div class="save-dollar"><img src="{{ 'homepage-banner-save-dollar.png' | asset_url }}" alt="">
          <div class="grey-border"></div>
      </div>
      <div class="save-title"><img src="{{ 'homepage-banner-sale.png' | asset_url }}" alt="">
          <div class="shop-now">
              <a href="/collections/all" class="cta-btn">SHOP NOW</a>
          </div>
          <div class="limited-time">Limited Time Only!</div>
      </div>
      <div class="men-sitting"><img src="{{ 'homepage-banner-men-on-bottle.png' | asset_url }}" alt=""></div>
  </div>
  <div class="save-banner-mobile">
      <div class="sale-mobile">
      <img src="{{ 'homepage-banner-sale.png' | asset_url }}" alt="">       
  </div>
      <div class="men-sitting-mobile">
          <img src="{{ 'homepage-banner-men-on-bottle-mobile.png' | asset_url }}" alt="">
      </div>
  </div>
  <div class="save-dollar-mobile">
      <div class="save-dollar-mobile-img"><img src="{{ 'homepage-banner-save-dollar.png' | asset_url }}" alt=""></div>
  </div>
  <div class="shop-now-mobile">
      <div class="shop-now">
          <a href="/collections/all" class="cta-btn">SHOP NOW</a>
      </div>
      <div class="limited-time">Limited Time Only!</div>
  </div>
 
</div>  
</div>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
</style>


<style>

a, a:focus, a:hover {
  color: #FFFFFF;
}
.homepage-banner {
  background-color: #F3F1ED;
  position: relative;

} 



.homepage-banner .bg .bg-img-mobile {
  display: none;
}

.homepage-banner .bg .bg-img {  
width: 100%;
object-fit: cover;
}

/* .bg-img img {
max-width: unset;
width: 115%;
} */

.labour-day-container {
margin-top: -23%;
display: flex;
justify-content: center;
}

.homepage-banner .container {
position: relative;
padding: 50px 0px;
}

.labour-day-container img {
max-width: 80%;
}

.labour-day-container-mobile {
display: none;
}

.men-sitting img {
margin-top: -50%;
margin-left: 30%;
}

.save-banner {
display: flex;
justify-content: space-around;
padding: 3% 3% 0;
}

.save-title{
margin-top: -3%;
}

.grey-border {
margin-top: -5px;
max-width: 60%;
border-bottom: 2px solid #696565;
}

.save-dollar-mobile {
display: none;
}


.shop-now {
margin-top: 3%;
display: flex;
justify-content: center;
align-items: center;
}

.shop-now-mobile {
display: none;
}


.cta-btn {

padding: 10px 50px;

background: #FEBB0E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


font-family: 'Roboto';
font-weight: 900;
font-size: 40px;
line-height: 49px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.limited-time {
margin-top: 3%;
display: flex;
justify-content: center;
align-items: center;

font-family: 'Poppins';
font-weight: 700;
font-size: 26px;
line-height: 35px;


letter-spacing: 0.15em;
color: #D92604;
}

.save-banner-mobile {
display: none;
}



@media screen and (max-width: 882px){
.cta-btn {
  font-size: 30px;
  line-height: 35px;
}

.limited-time {
  font-size: 20px;
}

.homepage-banner .container {
padding: unset;
}
}







@media screen and (max-width:760px) {

  .homepage-banner .bg .bg-img-mobile {
  display: flex;
  width: 100%;
}

.homepage-banner .bg .bg-img {
  display: none;
}  


.labour-day-container {
  display: none;
}

.labour-day-container-mobile {
margin-top: -85vw;
display: flex;
justify-content: center;
}

.labour-day-container-mobile img {
  max-width: 80%;
}

.save-banner {
  display: none;
}

.save-banner-mobile {
  display: flex;
  justify-content: center;
}

.sale-mobile {
  margin-left: 12vw;
  max-width: 50%;
}

.men-sitting-mobile {
  margin-left: -12vw;
}

.save-dollar-mobile {
  display: flex;
}

.save-dollar-mobile-img {
  margin-top: -40vw;
  margin-left: 6vw;
}

.shop-now-mobile {
  display: block;
}

.shop-now {
  margin-top: unset;
}

.cta-btn {    
  font-size: 25px;
  line-height: 30px;
}

.limited-time {
  margin-top: unset;
  padding: 2vw;
  font-size: 17px;
  line-height: 21px;
}

}


</style>

{% schema %}
{
"name": "Home Banner New",
"settings": [],
"presets":[
{
"name": "Home Banner New",
"category": "Home"
}
]
}
{% endschema %}