{% assign Prods = page.content | split: ',' %}
<div class="product-list">
    {% for prod in Prods %}
        {% assign product = all_products[lp_prod] %}
        <script>console.log("prods: {{prod}}")</script>
  <div class="product-card" style="width: calc(100% / {{ collection.products.size }})">
      <div class="wrap">
        <div class="picture">
            <a href="{{ product.url }}">
              <div class="img">
                <img src="{{ product.featured_image.src | img_url: 'original' }}"  alt="">
              </div>
            </a>
            {% assign quantity = product.metafields.my_fields.pack_items_quantity %}
            {% assign quantity_by_cents = quantity | times: 100 %}
            {% assign item_price = product.price | divided_by: quantity_by_cents | times: 100 %}
            {% assign original_item_price = product.metafields.my_fields.original_item.value.price %}

            {% if localization.country.iso_code == 'CA' %}
              {% assign cap = product.metafields.my_fields.ca_cap %}
            {% elsif localization.country.iso_code == 'AU' %}
              {% assign cap = product.metafields.my_fields.au_cap %}
            {% else %}
              {% assign cap = product.compare_at_price | money_without_currency | replace: ".00", "" %}
            {% endif %}
            <script>console.log("cap: {{cap}}");console.log("prod: {{product.price}}");</script>
            {% if quantity > 1 %}
            <div class="discount">
              <p> <i class="icofont-star"></i>SAVE {{ cap | times: 100.0 | minus: product.price | money_with_currency | replace: ".00", "" | replace: "GBP", "" }}<i class="icofont-star"></i></p>
            </div>
            {% elsif product.compare_at_price_max > product.price %}
            <div class="discount" style="display:none">
              <p>{{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}% discount</p>
            </div>
            {% endif %}
        </div>
        <div class="info">
          <div class="main">
            <div class="name">
              <h3>
                {% if product.metafields.my_fields.alternative_title.value %}
                <a href="{{ product.url }}">{{ product.metafields.my_fields.alternative_title.value }}</a>
                {% else %}
                <a href="{{ product.url }}">{{ product.title }}</a>
                {% endif %}
              </h3>
            </div>
            <p class="supply-days">Up To {{ product.metafields.my_fields.supply_days }} Days Supply</p>
            <div class="price">
              {% if quantity > 1 %}
                <p id="divided-price">{{ item_price | money_with_currency | replace: ".00", "" | replace: "GBP", ""  }}<strike>{{ original_item_price | money_with_currency | replace: ".00", "" | replace: "GBP", "" }}</strike> Per Bottle</p>
              {% elsif product.compare_at_price > product.price %}
                <p id="discounted-price">{{ product.price | money_with_currency | replace: ".00", "" | replace: "GBP", ""  }}<strike>{{ product.compare_at_price | money_with_currency | replace: ".00", "" | replace: "AUD", "" | replace: "CAD", "" }}</strike></p>
              {% else %}
                <p id="original-price">{{ product.price | money_with_currency | replace: ".00", "" | replace: "GBP", ""  }}</p>
              {% endif %}
            </div>

          {% unless forloop.index == 1 %}
            <p style="color:#99B182;font-size:20px;font-weight:bold;margin: 10px 0;">Free Meal Plan App - $29 value</p>
            <img class="free-shipping geo" src="{{ "collection-free-shipping-badge.png" | asset_img_url: 'compact' }}" width="160px" height="28px" alt="" loading="lazy" style="display:none">
          {% endunless %}                </div>
          <form action="/cart/add" method="post">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
            <input name="return_to" type="hidden" value="/cart/">

            <div class="btn">
              <button class="main-btn" id='AddTCart' type="submit" title="{{product.title}}" prod-id="{{product.selected_or_first_available_variant.sku}}" price="{{product.selected_or_first_available_variant.price | money_without_currency}}" discount="{% if product.compare_at_price > product.price %}{{ product.compare_at_price | minus: product.price | times: 0.01 }}{% else %}0{% endif %}"><i class="icon-cart"></i>Add To Cart</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<style>
    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1230px;
        margin: 0 auto;
    }

    .product-card {
        display: flex;
        padding: 10px;
        width: calc(100% / 3);
    }

    .product-card .wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 2px solid #f5f5f5;
        border-radius: 6px;
        overflow: hidden;
    }

    .product-card .picture {
        background: #f5f5f5;
        background: #222222;
        height: 270px;
        height: 370px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .product-card .picture .img {
        padding: 5px 0 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
    }

    .product-card .picture .img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .product-card .picture:after {
        content: "";
        display: block;
        height: 30%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        pointer-events: none;
    }

    .product-card .picture:after {
        content: "";
        display: block;
        height: 30%;
        background-image: url({{ 'ellipse.svg' | asset_url }});
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        pointer-events: none;
    }

    .product-card .info {
        display: flex;
        flex: auto;
        flex-direction: column;
        padding: 16px;
    }

    .product-card .info .main {
        flex: auto;
        padding-bottom: 5px;
        text-align: center;
    }

    .product-card .info .name h3 {
        margin: 0;
        font-weight: 800;
        font-size: 22px;
        line-height: 1.08;
        text-align: center;
        color: var(--dark);
    }

    .product-card .info .name h3 a {
        color: inherit;
        transition: color var(--transition);
    }

    .supply-days {
        font-size: 16px;
        text-align: center;
        line-height: 0;
        font-weight: 200;
    }

    .product-card .info .price {
        padding-top: 14px;
    }


    element.style {
    }

    .product-card .info .price p {
        margin: 0;
        font-weight: 400;
        font-size: 26px;
        line-height: 1;
        text-align: center;
        color: var(--dark);
        white-space: nowrap;
    }

    .product-card .info .btn .main-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 15px 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
        background: #d07c5b;
        border-radius: 2px;
        border: 1px solid #d07c5b;
        transition: color var(--transition),border-color var(--transition),background-color var(--transition);
        width: 100%;
        color: #FFE746 !important;
        background: #222222 !important;
        border: 1px solid #222222 !important;
    }

    .main-btn i {
        display: block;
        font-size: 24px;
        padding-right: 10px;
    }

    .icon-cart:before {
        content: "\efe7";
    }
</style>