<div class="hero-banner">
    <div class="container">
        <img class="main-logo" src="{{ 'logo-black.png' | asset_url }}" alt=""> 
        <div class="title-wrapper">
            <p>EASTER</p>
            <img class="sale" src="{{ 'easter-mini-banner-sale.png' | asset_url }}" alt=""> 
        </div> 
        <p class="description">Keep On Supporting Your Blood Sugar with CuraLin</p>
        <a class="scroll-cta" href="#"><button>Order Now</button></a>
        <img class="free-shipping" src="{{ 'easter-aio-lp01-header-free-shipping.png' | asset_url }}" alt="free shipping">
    </div>
</div>

<style>
    .hero-banner {
        background-image: url("{{ 'easter-aio-lp01-hero-bg.png' | asset_url }}");
        background-size: cover;
        background-position: bottom;
        height: 40vw;
        margin-top: 80px;
    }

    .hero-banner.fixed-banner {
        margin-bottom: 80px;
    }

    .hero-banner .main-logo {
        display: none;
    }

    .hero-banner .container {
        padding-top: 100px;
        height: 100%;
        position: relative;
    }

    .hero-banner .title-wrapper {
        display: flex;
        align-items: center;
        max-width: 40%;
    }

    .hero-banner .title-wrapper p {
        font-family: 'Montserrat';
        font-size: 80px;
        letter-spacing: 0.3rem;
        font-weight: 600;
        margin: 0;
    }

    .hero-banner .title-wrapper .sale {
        height: 150px;
        object-fit: contain;
        margin-top: 0;
        margin-left: 10px;
    }

    .hero-banner .description {
        font-size: 30px;
        line-height: 45px;
        margin: 2vw 0;
        margin-top: 0;
        max-width: 400px;
    }

    .hero-banner button {
        background: #33B7A6;
        color: white;
        box-shadow: 0px 4.625px 4.625px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: 0;
        font-size: 37px;
        padding: 10px 80px;
        text-transform: uppercase;
    }

    .hero-banner .free-shipping {
        display: block;
        margin-top: 20px;
        width: 355px;
        display: none;
    }

    @media screen and (max-width:1430px) {
        .hero-banner {
            height: 60vw
        }

        .hero-banner h1 {
            font-size: 4vw;
        }
    }

    @media screen and (max-width:1440px) {
        .hero-banner {
            height: 45vw
        }
    }

    @media screen and (max-width:1270px) {
        .hero-banner {
            height: 50vw
        }
    }

    @media screen and (max-width: 760px) {
        .hero-banner {
            background-image: url("{{ 'easter-aio-lp01-hero-bg-mobile.png' | asset_url }}");
            min-height: 600px;
            margin-top: unset;
        }

        .hero-banner .main-logo {
            height: 6vw;
            top: 10px;
            position: absolute;
            display: block !important;
        }

        .hero-banner .container {
            padding-top: 10vw;
        }

        .hero-banner .title-wrapper {
            max-width: unset;
        }

        .hero-banner .title-wrapper p {
            font-size: 8vw;
        }

        .hero-banner .description {
            font-size: 5vw;
            line-height: 8vw;
            font-weight: 200;
            max-width: 62vw;
            margin-top: 3vw;
        }

        .hero-banner .title-wrapper .sale {
            width: 30vw;
            height: unset;
        }

        .hero-banner button {
            font-size: 30px;
            width: calc(100% - 30px);
            position: absolute;
            bottom: 70px;
            padding: 10px;
            display: none;
        }

        .hero-banner .free-shipping {
            width: 100%;
            left: 0;
            position: absolute;
            bottom: 15px;
            display: block;
        }
    }
</style>

<script>
    $(".scroll-cta, .scroll-cta button").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#product-section").offset().top + 130
    }, 2000);
});
</script>