<div class="usa-team">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title decoration-line">
                <h3>{{section.settings.team_titl}}</h3>
            </div>
            <div class="team-list">
                <ul>
                    {% for block in section.blocks %}
                    {% if block.type == 'team' %}
                    <li>
                         {% if block.settings.team_imgone != blank %}
                        <div class="photo">
                            <img src="{{block.settings.team_imgone | img_url: ''}}" alt="">
                        </div>
                        {% endif %}
                        <div class="info">
                            <div class="text">
                                <h3>{{block.settings.team_titleone}}</h3>
                                <h4>{{block.settings.team_titletwo}}</h4>
                                <p>{{block.settings.team_email}}<br>
                                    {{block.settings.team_phone}}</p>
                            </div>
                            <div class="links">
                                <a href="{{block.settings.btn_socialteamurl}}" class="media" target="_blank">
                                    <span class="linkedin"></span></a>
                                <a href="{{block.settings.btn_teamurl}}" class="main-btn blank">
                                    <i class="icon-tel"></i>{{block.settings.btn_teamtitle}}</a>
                            </div>
                        </div>
                    </li>
                  {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Our Team",
        "settings": [
          {
            "type": "header",
            "content": "Our USA Team Section"
        },
        {
            "type": "text",
            "id": "team_titl",
            "label": "Enter Title",
            "default": "Our USA Team"
        }
         
       ],
       "blocks": [
            {
            "type": "team",
            "name": "Add Team Content",
            "settings": [    
                {
                    "type": "image_picker",
                    "id": "team_imgone",
                    "label": "Select Image"
                },
                {
                    "type": "image_picker",
                    "id": "team_imgtwo",
                    "label": "Select Social Image"
                },
                {
                  "type": "text",
                  "id": "team_titleone",
                  "label": "Title",
                  "default": " Enter title "
                },
                {
                  "type": "text",
                  "id": "team_titletwo",
                  "label": "Sub Title",
                  "default": " Enter Sub title "
                },
                {
                  "type": "text",
                  "id": "team_email",
                  "label": "Email",
                  "default": " Enter Email "
                },
                {
                  "type": "text",
                  "id": "team_phone",
                  "label": "Phone",
                  "default": " Enter Phone Number "
                },
                {
                    "type": "url",
                    "id": "btn_socialteamurl",
                    "label": "Social Button Link"
            
                },
                {
                    "type": "text",
                    "id": "btn_teamtitle",
                    "label": "Button Title",
                    "default": "Enter Button Title"
                },
                {
                    "type": "url",
                    "id": "btn_teamurl",
                    "label": "Button Link"
            
                }

                
            ]    
          }     

                
            ]    
          }

                
          
                
     
            
    
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}