
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


{% assign current_variant = product.selected_or_first_available_variant %}

{% render 'summer-sale-header' %}

<div class="product-data">
    <div class="container">
      <div class="product-wrap">
        <div class="product-slider">
          <div class="sliders-group">
            <div class="thumbs-slider">
              <div class="swiper">
                <div class="swiper-wrapper">
                  {% for image in product.images %}
                  <div class="swiper-slide">
                    <div class="thumbs-img">
                      <div class="img-wrap">
                        <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" loading="lazy">
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="main-slider">
              <div class="swiper">
                <div class="swiper-wrapper">
                   {% for image in product.images %}
                  <div class="swiper-slide">
                    <div class="product-img">
                      <div class="img-wrap">
                        <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" loading="lazy">
                      </div>
                      {% if forloop.index == 1 %}
                      <div class="watermelon-bg">
                        <img class="watermelon-pic" src="{{ 'product-template-summer-sale-watermelon.png' | asset_url }}" alt="">
                      </div>
                      <div class="discount-badge">
                        {% assign quantity = product.metafields.my_fields.pack_items_quantity %}
                        {% assign quantity_by_cents = quantity | times: 100 %}
                        {% assign item_price = product.price | divided_by: quantity_by_cents | times: 100 %}
                        {% assign item_price_for_save = product.price | divided_by: quantity_by_cents %}
                        {% assign original_item_price = product.metafields.my_fields.original_item.value.price %}

                        {% if localization.country.iso_code == 'CA' %}
                          {% assign currency_letters = localization.country.iso_code %}
                          {% assign original_item_price = product.metafields.my_fields.ca_cap %}
                        {% elsif localization.country.iso_code == 'AU' %}
                          {% assign currency_letters = localization.country.iso_code %}
                          {% assign original_item_price = product.metafields.my_fields.au_cap %}
                        {% endif %}

                        {% assign item_price_bundle =  item_price_for_save | times: quantity %}
                        {% assign save_price = original_item_price | minus: item_price_bundle | times: 100 | money_without_trailing_zeros %}
                        
                        {% if quantity > 0 %}
                          <p>SAVE {{currency_letters}}{{save_price}}</p>
                        {% elsif product.compare_at_price_max > product.price %}
                          <p>{{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}% discount</p>
                        {% endif %}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-info">
          <div class="title-wrapper">
            <div class="sub-title">
              {% if product.metafields.my_fields.alternative_title.value %}
              <h1>{{ product.metafields.my_fields.alternative_title.value }}</h1>
              {% else %}
              <h1>{{ product.title }}</h1>
              {% endif %}
            </div>

            {% capture CFH %}{{ content_for_header }}{% endcapture %}

            {% if CFH contains 'adminBarInjector' %}
            {% assign admin = true %}
            {% elsif CFH contains 'admin-bar-iframe' %}
            {% assign admin = true %}
            {% elsif CFH contains 'preview_bar_injector-' %}
            {% assign admin = true %}
            {% endif %}

            {% if admin %}
            <div class="edit">
              <a href="/admin/products/{{ product.id }}"> <i class="icofont-ui-edit"></i></a>
            </div>
            {% endif %}
          </div>
          
          <div class="description">
            <div class="price">
              <p>{{ product.price | money }} {% if product.compare_at_price > product.price %}<strike>{{ product.compare_at_price | money }}</strike></p>{% endif %}
            </div>
            
            <div class="form-wrap">
              <form method="post" id="addTocartForm" action="/cart/add">
              <input id="productVaraintSelected" type="hidden" name="id" value="{{ product.variants.first.id }}" />
                <div class="qty-data">
                  <p>Quantity</p>
                  <div class="qty-control">
                    <a href="javascript:void(0)" data-act="-"><span class="icon-minus"></span></a>
                    <label>
                      <input type="number" name="quantity" value="1" maxlength="4">
                    </label>
                    <a href="javascript:void(0)" data-act="+"><span class="icon-plus"></span></a>
                  </div>
                </div>
                <div class="col-md-12 product-page--submit-action" data-stock-email-enabled="{{ section.settings.show_out_of_stock_email }}">
                  {% if product.id == all_products["curalin"].id or product.id == all_products["curalin-3-pack"].id %}
                  <div class="btn">
                    {% if current_variant.available %}
                    <button type="submit" name="add" id="AddTCart" class="main-btn "><i class="icon-cart"></i>Add to Cart</button>
                    {% else %}
                    <button type="button" name="add" id="" class="main-btn"><i class="icon-cart"></i>{{ 'products.product.sold_out' | t }}</button>
                    {{ 'products.product.sold_out' | t }}
                    {% endif %}
                  </div>
                  {% else %}
                  <div class="btn">
                    <button type="submit" name="add" id="AddTCart" class="main-btn"><i class="icon-cart"></i>Add to Cart</button>
                  </div>
                  {% endif %}
                </div>
              </form>

              <div class="shipping-label">
                <p><span class="{{section.settings.ship_icn}}"></span><span class="usa">Free Shipping</span><span class="geo" style="display:none">{% if product.title == 'CuraLin' %}Buy bundle pack and get FREE SHIPPING!{% else %}Free Shipping{% endif %}</span></p>
              </div>
            </div>
            <div class="extra-info">
                {% for block in section.blocks %}
                {% if block.type == 'prdct_tabs' %}
                  <div class="text-wrap">
                    <p>{{block.settings.tab_des}}</p>
                  </div>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<style>
  .product-info .description .form-wrap form .btn .main-btn {
    background-color: #F66E86;
    border-color: #F66E86;
  }
  .product-slider:before {
    background: unset !important;
  }

  .watermelon-bg {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: -1;
    bottom: 10%;
  }

  .watermelon-bg img {
    width: 67%;
  }

  .product-slider .discount-badge p {
      margin: 80px auto;
      font-family: 'Montserrat';
      padding: 4px 13px;
      font-weight: 600;
      font-size: 30px;
     line-height: 37px;
     color: #FFFFFF;
      letter-spacing: .02em;
      transform: rotate(-6.85deg);
      box-sizing: border-box;
      border-radius: unset;
      text-align: center;
      border: 0;
      background-image: url("{{ 'summer-sale-yellow-texture.png' | asset_url }}");
      background-size: cover;
      width: 40%;
  }


  .product-slider .discount-badge {
    position: absolute;
    bottom: 15%;
    text-align: center;
    width: 100%;
  }

  .thumbs-slider .swiper-slide {
    height: 50px !important;
  }

  .title-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .edit a {
    margin-left: 15px;
    font-size: 18px;
  }

  @media screen and (max-width: 1270px) {
    .product-slider .discount-badge p {
      font-size: 20px;
      padding: 0px;
    }
  }

  @media screen and (max-width: 820px) {
    .summer-sale {
      top: -10px;
      max-width: 60%;
    }
  }

  @media screen and (max-width: 760px) {
    .product-wrap {
      padding-top: unset;
    }

    .title-wrapper {
      justify-content: center;
      position: relative;
    }

    .watermelon-bg {
      bottom: 15%;
    }

    .watermelon-bg img {
      width: 71%;
    }

    .edit a {
      position: absolute;
      right: 0;
    }

  .product-slider .discount-badge p {
    font-size: 6vw;
    padding: 1vw;
  }
  }

</style>

  <script>
    productThumbs = new Swiper('.thumbs-slider .swiper', {
      spaceBetween: 20,
      direction: 'vertical',
      watchSlidesVisibility: true,
      loop: false,
    });

    productSlider = new Swiper('.main-slider .swiper', {
      slidesPerView: 1,
      spaceBetween: 15,
      watchSlidesVisibility: true,
      loop: false,
      slideToClickedSlide: false,
      thumbs: {swiper: productThumbs},
    });
  </script>

  <script>
    // Change Quantity Widget On Product Page
    $(document).on("click", ".product-data .qty-control a", function (e) {
      e.preventDefault();
      let newVal, $button = $(this),
        inputObj = $button.closest(".qty-control").find("input"),
        oldValue = inputObj.val();
      if ($button.attr('data-act') === "+") {
        newVal = parseInt(oldValue) + 1;
      } 
      else {
        newVal = parseInt(oldValue) - 1;
      }

      inputObj.val(newVal);
    });
  </script>
  
<script>
  $(document).on("click", "#AddTCart", function () {
    // New One
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event: 'add_to_cart',             // name of the event. In this case, it always must be add_to_cart
      ecommerce: {                          
      items: [{                           // an array with a product (or multiple products) that was added to a cart
        item_name: '{{ product.title }}',      
        item_id: '{{ product.selected_or_first_available_variant.sku }}', 
        affiliation: '{{ shop.name }}',
        price: '{{ product.selected_or_first_available_variant.price | money_without_currency }}',
        currency: '{{ shop.currency }}',
        item_brand: 'CuraLife',            
        item_category: 'CuraLin',         
        quantity: parseInt($(".qty-control input").val())
      }]
      },
      email: '{{ customer.email }}',
      phone: '{{ customer.phone }}',
      name: '{{ customer.first_name }}',
      surname: '{{ customer.last_name }}',
      city: '{{ customer.customer_address.city }}',
      state: '{{ customer.customer_address.province }}',
      zip: '{{ customer.customer_address.zip }}',
      country: '{{customer.customer_address.country_code | t}}',
      user_agent: navigator.userAgent
    });
  });
</script>

<script>      
  $(document).on("click", "#AddToCart", function (Event) {
    $("#cart-upgrade-popup").slideToggle();
    return false;
  });

  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    event: 'view_item',         
    ecommerce: {                          
    items: [{        
      item_name: '{{ product.title }}',      
      item_id: '{{ product.selected_or_first_available_variant.sku }}', 
      affiliation: '{{ shop.name }}',
      price: '{{ product.selected_or_first_available_variant.price | money_without_currency }}',
      currency: '{{ shop.currency }}',
      item_brand: 'CuraLife',            
      item_category: 'CuraLin',         
      quantity: 1
    }]
    },
    email: '{{ customer.email }}',
    phone: '{{ customer.phone }}',
    name: '{{ customer.first_name }}',
    surname: '{{ customer.last_name }}',
    city: '{{ customer.customer_address.city }}',
    state: '{{ customer.customer_address.province }}',
    zip: '{{ customer.customer_address.zip }}',
    country: '{{customer.customer_address.country_code | t}}',
    user_agent: navigator.userAgent
  });
</script>

<script>
  var _learnq = _learnq || [];
    
    var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
    };
  
    _learnq.push(['track', 'Viewed Product', item]);
    _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
    }]);
  
  </script>

{% schema %}

{
  "name": "Proudct",
  "class": "cart-content",
  "settings": [
    {
      "type": "textarea",
      "id": "prd_descript",
      "label": "Description",
      "default": "Add Description "
    }, {
      "type": "text",
      "id": "prd_icn",
      "label": "Add Icon",
      "default": "icon-afterpay"
    }, {
      "type": "text",
      "id": "prd_text",
      "label": "Button Title",
      "default": "Add Button Title "
    }, {
      "type": "url",
      "id": "prd_url",
      "label": "Button URL"
    }, {
      "type": "text",
      "id": "ship_txt",
      "label": "Shipping Title",
      "default": "Add Shipping Title"
    }, {
      "type": "text",
      "id": "ship_icn",
      "label": "Shipping Icon",
      "default": "icon-shipping"
    }, {
      "type": "header",
      "content": "Upgrade Popup"
    }, {
      "type": "textarea",
      "id": "first_up_title",
      "label": "3-pack Title"
    }, {
      "type": "textarea",
      "id": "first_up_text",
      "label": "3-pack Text"
    }, {
      "type": "text",
      "id": "first_btnup_text",
      "label": "3-pack Btn"
    }, {
      "type": "textarea",
      "id": "second_up_title",
      "label": "6-pack Title"
    }, {
      "type": "textarea",
      "id": "second_up_text",
      "label": "6-pack Text"
    }, {
      "type": "text",
      "id": "second_btnup_text",
      "label": "6-pack Btn"
    }, {
      "type": "text",
      "id": "continue_btn_text",
      "label": "Continue Btn"
    }
  ],
  "blocks": [
    {
      "type": "prdct_tabs",
      "name": "Product Tabs",
      "settings": [
        {
          "type": "textarea",
          "id": "tab_des",
          "label": "Tab Description",
          "default": "Enter Tab Description"
        }
      ]
    }
  ]
}
{% endschema %}