<section class="more-labels with-img">
    <div class="img-bg blue-fond">
        <span class="top-bg"><img src="{{ section.settings.bg-image | img_url: '' }}" alt=""></span>
        <span class="main-bg">
            <picture>
                <source srcset="{{ section.settings.dksmainbg-image | img_url: '' }}" media="(min-width: 992px)">
                <source srcset="{{ section.settings.mblmainbg-image | img_url: '' }}">
                <img srcset="{{ section.settings.mblmainbg-image | img_url: '' }}" alt="">
            </picture>
        </span>
    </div>
    <div class="wrapper">
        <div class="labels-data">
            <div class="labels-text">
                <div class="text-title">
                    <h3><span><img src="{{ section.settings.logo_img | img_url: '' }}" alt=""></span>
                        {{section.settings.setion_top_heading}}</h3>
                </div>
                <div class="order-btn">
                    <button type="button" class="ord_btn">{{section.settings.button_label}}</button>
                </div>
                <div class="labels-list">
                    <ul>
                      {% for block in section.blocks %}
                      {% case block.type %} 
                      {% when 'list-item' %}
                        <li>
                            <p><span><img src="{{ block.settings.list-icon | img_url: 'master' }}" alt=""></span>{{block.settings.list-title}}</p>
                        </li>
                      {% endcase %}   
                      {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="labels-img">
                <div class="img-wrap">
                    <span><img src="{{ section.settings.bottal_image | img_url: '' }}" alt=""></span>
                </div>
            </div>

            <div class="labels-list">
                <ul>
                  {% for block in section.blocks %}
                      {% case block.type %} 
                      {% when 'mobile-list-item' %}
                    <li>
                        <p><span><img src="{{ block.settings.mbllist-icon | img_url: 'master' }}" alt=""></span>{{block.settings.mbllist-title}}</p>
                    </li>
                   {% endcase %}   
                      {% endfor %}
                </ul>
                <div class="order-btn">
                    <button type="button" class="ord_btn">{{section.settings.button_label}}</button>
                </div>
            </div>


        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Banner",
    "settings": [
        {
          "type": "image_picker",
          "id": "bg-image",
          "label": "Background Image"
        },
        {
          "type": "image_picker",
          "id": "dksmainbg-image",
          "label": "Main Background Image Desktop"
        },
        {
          "type": "image_picker",
          "id": "mblmainbg-image",
          "label": "Main Background Image Mobile"
        },
         {
            "type": "text",
            "id": "setion_top_heading",
            "label": "Top Heading"
        },
        {
            "type": "image_picker",
            "id": "logo_img",
            "label": "Logo Img"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "button_label"
        },
        {
          "type": "image_picker",
          "id": "bottal_image",
          "label": "Bottal Image"
        }
        
    ],
    "blocks": [
            {
                "type": "list-item",
                "name": "List Item",
                "settings": [
                   {
                    "type": "image_picker",
                    "id": "list-icon",
                    "label": "List Icon"
                  },
                  {
                    "type": "text",
                    "id": "list-title",
                    "label": "Title"
                  }     
                ]
            },
             {
                "type": "mobile-list-item",
                "name": "Mobile List Item",
                "settings": [
                   {
                    "type": "image_picker",
                    "id": "mbllist-icon",
                    "label": "List Icon"
                  },
                  {
                    "type": "text",
                    "id": "mbllist-title",
                    "label": "Title"
                  }     
                ]
            }
    ]
  }
{% endschema %}
 <script>
    $(document).ready(function () {
     $('.ord_btn').click(function (){
    $('html, body').animate({
      scrollTop: $(".products").offset().top
    }, 1000)
  });
});
 </script>