{% if section.settings.setion_top_heading != blank or section.settings.setion_heading != blank or section.settings.button_label != blank or section.blocks %}
	<style>
    	#shopify-section-vids-healthy-banner section.control-label.curalin-2020-bg {
          background: url({{ section.settings.bg-image | img_url: 'master' }}) no-repeat center !important; background-size: cover !important; 
        }
        @media only screen and (max-width: 767px) {
            section.control-label.for-mobile {
              background: url({{ section.settings.bg-image | img_url: 'master' }}) no-repeat center !important;
          }
    	}
    </style>
	<section class="control-label for-desktop curalin-2020-bg">
        <div class="container">
            <div class="row control-label-detail">
               {% if section.blocks %}
                    <div class="col-md-4 col-sm-4 col-xs-7">
                        <div class="product-info">
                            <ul>
                              	{% for block in section.blocks %}
                                  {% case block.type %}	
                                    {% when 'list-item' %}
                                		<li><a href="#"><img src="{{ block.settings.list-icon | img_url: 'master' }}">{{ block.settings.list-title }}</a>
                                		</li>                           
                              	  {% endcase %}	
                            	{% endfor %}	
                            </ul>
                        </div>
                    </div>
              	{% endif %}
                {% if section.settings.bottal-image %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="pro-img">
                            <img class="curaLin-Img advert-img img-responsive" src="{{ section.settings.bottal-image | img_url: 'master' }}">
                        </div>
                    </div>
              	{% endif %}
              	{% if section.settings.setion_top_heading != blank or section.settings.setion_heading != blank or section.settings.button_label != blank %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="product-benifits">
                            <h3>{% if section.settings.setion_top_heading != blank %}<span>{{ section.settings.setion_top_heading }}</span>{% endif %} {% if section.settings.setion_heading != blank %}<br>{{ section.settings.setion_heading }}{% endif %}</h3>
                          {% if section.settings.button_label != blank %}  
                         	 <a href="#buynow_desktop" class="orderNow orderCuraLin">{{ section.settings.button_label }}</a>
                          {% endif %}
                        </div>
                    </div>
              	{% endif %}
            </div>
        </div>
    </section>
    <section class="control-label for-mobile">
        <div class="container">
            <div class="row control-label-detail">
                {% if section.settings.setion_top_heading != blank or section.settings.setion_heading != blank %}
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="product-benifits">
                            <h3>{% if section.settings.setion_top_heading != blank %}<span>{{ section.settings.setion_top_heading }}</span>{% endif %} {% if section.settings.setion_heading != blank %}<br>{{ section.settings.setion_heading }}{% endif %}</h3>
                        </div>
                    </div>
              	{% endif %}
              	{% if section.settings.bottal-image %}
                    <div class="col-md-4 col-sm-4 col-xs-5">
                        <div class="pro-img">
                            <img class="curaLin-Img advert-img img-responsive" src="{{ section.settings.bottal-image | img_url: 'master' }}">
                        </div>
                    </div>
              	{% endif %}
              	{% if section.blocks %}
                    <div class="col-md-4 col-sm-4 col-xs-7">
                        <div class="product-info">
                            <ul>
                              	{% for block in section.blocks %}
                                  {% case block.type %}	
                                    {% when 'list-item' %}
                                		<li><a href="#"><img src="{{ block.settings.list-icon | img_url: 'master' }}">{{ block.settings.list-title }}</a>
                                		</li>                           
                              	  {% endcase %}	
                            	{% endfor %}	
                            </ul>
                        </div>
                    </div>
              	{% endif %}
            </div>
        </div>
    </section>
	{% if section.settings.button_label != blank %} 
		 <a href="#buynow_mbl" class="orderCuraLinMbl orderNow pro-infobtn" style="display:none">{{ section.settings.button_label }}</a>
	{% endif %}
{% endif %}
{% schema %}
  {
    "name": "Banner",
    "settings": [
		 {
          "type": "text",
          "id": "setion_top_heading",
          "label": "Top Heading"
        },
		{ 
          "type": "text",
          "id": "setion_heading",
          "label": "Heading"
        },
		{
          "type": "text",
          "id": "button_label",
          "label": "button_label"
        },
		{
          "type": "image_picker",
          "id": "bottal-image",
          "label": "Bottal Image"
        },
		{
          "type": "image_picker",
          "id": "bg-image",
          "label": "Background Image"
        }
	],
	"blocks": [
    		{
    			"type": "list-item",
    			"name": "List Item",
    			"settings": [
                   {
                    "type": "image_picker",
                    "id": "list-icon",
                    "label": "List Icon"
                  },
				  {
                    "type": "text",
                    "id": "list-title",
                    "label": "Title"
                  }		
    			]
    		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
