<div id="recipe-page">
  <div class="carbs-level-bar">
    <div class="container">
      <div class="level-icon"></div>
      <p>{{ article.metafields.recipe.carbs_level }} Carbs</p>
    </div>
  </div>

  <div class="recipe">
    <div class="container">
      <div class="info">
        <h1>{{ article.title }}</h1>
        <div class="subtitles">
          <p class="calories"><i></i>{{ article.metafields.recipe.calories }}kcal</p>
          <p class="cooking-duration"><i class="icofont-clock-time"></i>{{ article.metafields.recipe.cooking_duration }}</p>
        </div>

        <div class="nutrients">
          <p class="fat"><i class="icofont-cheese"></i>Fat | {{ article.metafields.recipe.fat }}</p>
          <p class="carbs"><i class="icofont-wheat"></i>Carbs | {{ article.metafields.recipe.carbs }}</p>
          <p class="protein"><i class="icofont-chicken-fry"></i>Protein | {{ article.metafields.recipe.protein }}</p>
          <p class="fiber"><i class="icofont-fruits"></i></i>Fiber | {{ article.metafields.recipe.fiber }}</p>
        </div>
      </div>

      <div class="description">
        <div class="ingredients-wrapper">
          <h2>Ingredients</h2>
          <ul class="ingredients">
            {% for ingredient in article.metafields.recipe.ingredients.value %}
              <li>{{ ingredient }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="instructions-wrapper">
          <h2>instructions</h2>
          <ul class="instructions">
            {% for instruction in article.metafields.recipe.instructions.value %}
              <li>{{ instruction }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="tip-wrapper">
          <h2><i class="icofont-bulb-alt"></i>Tip</h2>
          <p>{{ article.metafields.recipe.tip }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #recipe-page .carbs-level-bar{
    background-color: var(--bright-red);
    color: var(--dark-red)
  }

  #recipe-page .carbs-level-bar .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
  }

  #recipe-page .info h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  #recipe-page .info .subtitles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
  }

  #recipe-page .info .nutrients {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
</style>