<div class="category-tabs">
  <ul>
    {% for collection in collections %}
      <li><a href="#" data-collection-handle="{{ collection.handle }}">{{ collection.title }}</a></li>
    {% endfor %}
  </ul>
</div>

{% for collection in collections %}
<div class="product-grid">
  {% for product in collection.products %}
    {% render 'product-card', product: product %}
    <div class="product-card" data-product-collections="{{ product.collections | map: 'handle' | join: ' ' }}">
      <img src="{{ product.featured_image.src }}" alt="{{ product.title }}">
      <h2>{{ product.title }}</h2>
      <p>{{ product.price }}</p>
    </div>
  {% endfor %}
</div>
{% endfor %}

<script>
  $('.category-tabs a').click(function (e) {
    e.preventDefault();

    $('.category-tabs a').removeClass('active');
    $(this).addClass('active');

    var collectionHandle = $(this).data('collection-handle');
    $('.product-grid .product-card').hide();
    $('.product-grid .product-card[data-product-collections*="' + collectionHandle + '"]').show();
  });
</script>