{% layout 'theme.lps' %}

<div class="yotpo-widget-instance" data-yotpo-instance-id="215047"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="215048"></div>

<section id="curalin-section">
  <img class="decoration" src="{{ 'partnerships-curalin-decoration.svg' | asset_url }}" alt="curalife info" loading="lazy">
  <div class="container">
    <div class="content">
      <div class="titles">
        <h2><span class="bigger">curalin</span> Safe & Powerful Glucose Support</h2>
        <p>CuraLin is designed specifically for people looking for an effective and natural way to maintain healthy glucose levels so they can enjoy life’s events to the fullest.</p>
      </div>
      <div class="benefits">
        <div class="benefit">
          <img src="{{ 'lp-raf-givaway-curalin-icon-1.png' | asset_url }}" alt="curalin benefit 1" loading="lazy">
          <p>Blood sugar maintenance</p>
        </div>
        <div class="benefit">
          <img src="{{ 'lp-raf-givaway-curalin-icon-2.png' | asset_url }}" alt="curalin benefit 1" loading="lazy">
          <p>Eating the foods you love </p>
        </div>
        <div class="benefit">
          <img src="{{ 'lp-raf-givaway-curalin-icon-3.png' | asset_url }}" alt="curalin benefit 1" loading="lazy">
          <p>Energy goes up</p>
        </div>
        <div class="benefit">
          <img src="{{ 'lp-raf-givaway-curalin-icon-4.png' | asset_url }}" alt="curalin benefit 1" loading="lazy">
          <p>Supports internal systems</p>
        </div>
        <div class="benefit">
          <img src="{{ 'lp-raf-givaway-curalin-icon-5.png' | asset_url }}" alt="curalin benefit 1" loading="lazy">
          <p>Beat unwanted food cravings</p>
        </div>
        <div class="benefit">
          <img src="{{ 'lp-raf-givaway-curalin-icon-6.png' | asset_url }}" alt="curalin benefit 1" loading="lazy">
          <p>Weight Loss is easier</p>
        </div>
      </div>
      <img class="bottle" src="{{ 'partnerships-curalin-bottle.png' | asset_url }}" alt="curalife info" loading="lazy">
    </div>
    <a class="cta" href="#"><button>Learn More</button></a>
  </div>
</section>

<style>
  :root {
    --green-dark: #404733;
    --green: #99B182;
    --green-light: #EBF3E3;
    --brown-dark: #A86129;
    --brown: #CB9F6F;
    --brown-light: #F0D4A6;
    --brown-lighter: #FEFBF6;
    --orange: #FFB22D;
  }

  section {
    position: relative;
    padding: 80px 0;
  }

  .container {
    position: relative;
  }

  h2 {
    font-family: RadioGrotesk;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  h2 span.bigger {
    font-size: 80px;
  }

  p {
    font-family: DMSans;
    font-size: 28px;
    line-height: 32px;
    margin: unset;
  }

  p.subtitle {
    font-family: RadioGrotesk;
    font-size: 32px;
    line-height: 36px;
  }

  button {
    background-color:var(--orange);
    color: white;
    border: 0;
    padding: 20px 40px;
    font-size: 25px;
    font-weight: bold;
  }

  #curalin-section {
    background-color: var(--brown-lighter);
  }

  #curalin-section .decoration {
    position: absolute;
    top: 10px;
    right: 0;
  }

  #curalin-section .content {
    display: grid;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
  }

  #curalin-section .content .titles {
    grid-row: 1/2;
    grid-column: 1/2;
    color: var(--green-dark);
    max-width: 800px;
  }

  #curalin-section .content .titles h2 {
    white-space: nowrap;
  }

  #curalin-section .content .benefits {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 800px;
    gap: 20px;
  }

  #curalin-section .content .benefits .benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  #curalin-section .content .facts .fact p {
    max-width: 410px;
  }

  #curalin-section .content .bottle {
    grid-row: 1/3;
    grid-column: 2/3;
    height: 100%;
    object-fit: cover;
  }

  #curalin-section .content .cta {
    display: block;
    text-align: center;
  }
</style>


<div class="real-reviews">
  <div class="sub-title container">
    <h2>Real Reviews by Real Diabetics</h2>
  </div>
  <div class="container">
    <div class="reviews-slider">
      <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events" style="cursor: grab;">
        <div aria-live="off" class="swiper-wrapper" id="swiper-wrapper-5b228155528735db" style="transition-duration: 300ms; transform: translate3d(-1377.5px, 0px, 0px);">
          <div aria-label="1 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" style="width: 275.5px;">
            <div class="quote-card">
              <blockquote>
                <p>“I have tried so many different supplements with no results. This one is amazing and i am excited. I just purchased my second bottle</p>
              </blockquote>
              <div class="quote-info">
                <div class="quote-author">
                  <p>Michael Murillo Sr.</p>
                </div>
                <div class="quote-rating">
                  <p>
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div aria-label="2 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" role="group" style="width: 275.5px;">
            <div class="quote-card">
              <blockquote>
                <p>It is so wonderful to find something that really works. I feel so much better!!</p>
              </blockquote>
              <div class="quote-info">
                <div class="quote-author">
                  <p>Leanne Anderson</p>
                </div>
                <div class="quote-rating">
                  <p>
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div aria-label="3 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" style="width: 275.5px;">
            <div class="quote-card">
              <blockquote>
                <p>I've started on my second bottle and this is the best thing I've ever taken! I would recommend to anyone.</p>
              </blockquote>
              <div class="quote-info">
                <div class="quote-author">
                  <p>Debra Doss</p>
                </div>
                <div class="quote-rating">
                  <p>
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div aria-label="4 / 4" class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" style="width: 275.5px;">
            <div class="quote-card">
              <blockquote>
                <p>Have been taking CuraLin over the last four months and am beyond pleased with the results.</p>
              </blockquote>
              <div class="quote-info">
                <div class="quote-author">
                  <p>Michael Edwards</p>
                </div>
                <div class="quote-rating">
                  <p>
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div aria-label="1 / 4" class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" role="group" style="width: 275.5px;">
            <div class="quote-card">
              <blockquote>
                <p>I have tried so many different supplements with no results. This one is amazing and i am excited. I just purchased my second bottle</p>
              </blockquote>
              <div class="quote-info">
                <div class="quote-author">
                  <p>Michael Murillo Sr.</p>
                </div>
                <div class="quote-rating">
                  <p>
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div aria-label="2 / 4" class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" role="group" style="width: 275.5px;">
            <div class="quote-card">
              <blockquote>
                <p>It is so wonderful to find something that really works. I feel so much
                                                          better!!</p>
              </blockquote>
              <div class="quote-info">
                <div class="quote-author">
                  <p>Leanne Anderson</p>
                </div>
                <div class="quote-rating">
                  <p>
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div aria-label="3 / 4" class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" role="group" style="width: 275.5px;">
            <div class="quote-card">
              <blockquote>
                <p>I've started on my second bottle and this is the best thing I've ever taken! I
                                                          would
                                                          recommend to anyone.</p>
              </blockquote>
              <div class="quote-info">
                <div class="quote-author">
                  <p>Debra Doss</p>
                </div>
                <div class="quote-rating">
                  <p>
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div aria-label="4 / 4" class="swiper-slide" data-swiper-slide-index="3" role="group" style="width: 275.5px;">
            <div class="quote-card">
              <blockquote>
                <p>Have been taking CuraLin over the last four months and am beyond pleased with the
                                                          results.</p>
              </blockquote>
              <div class="quote-info">
                <div class="quote-author">
                  <p>Michael Edwards</p>
                </div>
                <div class="quote-rating">
                  <p>
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div aria-label="1 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" style="width: 275.5px;">
            <div class="quote-card">
              <blockquote>
                <p>“I have tried so many different supplements with no results. This one is amazing
                                                          and i am
                                                          excited. I just purchased my second bottle</p>
              </blockquote>
              <div class="quote-info">
                <div class="quote-author">
                  <p>Michael Murillo Sr.</p>
                </div>
                <div class="quote-rating">
                  <p>
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div aria-label="2 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" role="group" style="width: 275.5px;">
            <div class="quote-card">
              <blockquote>
                <p>It is so wonderful to find something that really works. I feel so much
                                                          better!!</p>
              </blockquote>
              <div class="quote-info">
                <div class="quote-author">
                  <p>Leanne Anderson</p>
                </div>
                <div class="quote-rating">
                  <p>
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div aria-label="3 / 4" class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" style="width: 275.5px;">
            <div class="quote-card">
              <blockquote>
                <p>I've started on my second bottle and this is the best thing I've ever taken! I
                                                          would
                                                          recommend to anyone.</p>
              </blockquote>
              <div class="quote-info">
                <div class="quote-author">
                  <p>Debra Doss</p>
                </div>
                <div class="quote-rating">
                  <p>
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div aria-label="4 / 4" class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" style="width: 275.5px;">
            <div class="quote-card">
              <blockquote>
                <p>Have been taking CuraLin over the last four months and am beyond pleased with the results.</p>
              </blockquote>
              <div class="quote-info">
                <div class="quote-author">
                  <p>Michael Edwards</p>
                </div>
                <div class="quote-rating">
                  <p>
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                    <img class="icon-star" src="{{ 'icon-star.svg' | asset_url }}" alt="">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- If we need navigation buttons -->
        <div aria-controls="swiper-wrapper-5b228155528735db" aria-label="Previous slide" class="swiper-button-prev" role="button" tabindex="0"></div>
        <div aria-controls="swiper-wrapper-5b228155528735db" aria-label="Next slide" class="swiper-button-next" role="button" tabindex="0"></div>
        <span aria-atomic="true" aria-live="assertive" class="swiper-notification"></span>
      </div>
    </div>
  </div>
</div>
<style>
    .real-reviews {
        padding: 54px 0 26px 0;
        overflow: hidden;
    }

    .real-reviews .sub-title {
        padding-bottom: 60px;
    }

    .real-reviews .reviews-slider {
        padding: 0 95px;
        margin: 0 -25px;
        position: relative;
        overflow: hidden;
    }

    .real-reviews .reviews-slider:before,
    .real-reviews .reviews-slider:after {
        content: '';
        width: 211px;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 3;
        pointer-events: none;
    }

    .real-reviews .reviews-slider:before {
        left: 0;
        background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(49.3%, rgba(255, 255, 255, 0.76)), to(rgba(255, 255, 255, 0)));
        background: -o-linear-gradient(left, #FFFFFF 0%, rgba(255, 255, 255, 0.76) 49.3%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.76) 49.3%, rgba(255, 255, 255, 0) 100%);
    }

    .real-reviews .reviews-slider:after {
        right: 0;
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(49.3%, rgba(255, 255, 255, 0.76)), to(#ffffff));
        background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.76) 49.3%, #ffffff 100%);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.76) 49.3%, #ffffff 100%);
    }

    .real-reviews .reviews-slider .swiper {
        position: static;
        overflow: visible;
    }

    .real-reviews .reviews-slider .swiper-button-next,
    .real-reviews .reviews-slider .swiper-button-prev {
        width: 18px;
        height: 36px;
        z-index: 5;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .real-reviews .reviews-slider .swiper-button-next:after,
    .real-reviews .reviews-slider .swiper-button-prev:after {
        display: none;
    }

    .real-reviews .reviews-slider .swiper-button-prev {
        left: 20px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMzciIHZpZXdCb3g9IjAgMCAxNiAzNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0IDFMMiAxOUwxNCAzNiIgc3Ryb2tlPSIjNThBQTlFIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==);
    }

    .real-reviews .reviews-slider .swiper-button-next {
        right: 20px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMzciIHZpZXdCb3g9IjAgMCAxNiAzNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgMUwxNCAxOUwyIDM2IiBzdHJva2U9IiM1OEFBOUUiIHN0cm9rZS13aWR0aD0iMyIvPgo8L3N2Zz4K);
    }

    .real-reviews .reviews-slider .swiper-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: unset;
        padding: 15px;
    }

    .real-reviews .quote-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 18px 12px;
        background: -o-linear-gradient(311.98deg, rgba(88, 170, 158, 0.27) -14.78%, rgba(255, 255, 255, 0.42) 49.38%, #FFFFFF 100%);
        background: linear-gradient(138.02deg, rgba(88, 170, 158, 0.27) -14.78%, rgba(255, 255, 255, 0.42) 49.38%, #FFFFFF 100%);
        -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .real-reviews .quote-card blockquote {
        margin: 0;
        padding: 0;
        position: relative;
    }

    .real-reviews .quote-card blockquote:before {
        content: '';
        width: 33px;
        height: 28px;
        display: block;
        margin: 0 auto;
        background-image: url(data:image/png+xml;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAcCAYAAADvANYcAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAF/SURBVHgB1ZbRcYMwEEQ3qYAOUDqgBJVAB1EJ6QA6sDsgHTipgKQC0oHdgZ0KiM4GjwySfCclH9mZ8+AZ9mlP5oSBf6wCaWpsDRn+6+KdrdHWS6JvzAlS2zo6ILpWDF8xLTo6tYVQBNksIDPoXje+AC2EUrb2CwjtgGb6dwtvD6E0brd/nAIppr/Beve43rOePQAJxHi8LQSqAwG406Cw/glFu0A3Hj2AAXx1Hn/HNdOT7OuASjMZKuCvmX7vGM7TwFWPjCZUwCwJUUUYhgPoIgCq5q8Z6o55Ljp4YifknsGge4zPbJgh5ilRSG8kuCs7IcD3BtRCxirIkADYLEKYBAbV9QAcE6v4hRDnyXtEutgHUETUSEkhTshXDuOJQhyQJnfhD2SIQrwjTQfn+pQR5Is+YsdtqHoPzCRwOhewFZor+NULGKs/yrHX+LJahKUEHBMCvEZMBOeMpUL8FCaOdg0PHkg1LVZO379tvUH+4Glcui2nYPQAfuLS6M1I/wBFB2Q2BYXkuAAAAABJRU5ErkJggg==);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .real-reviews .quote-card blockquote p {
        margin: 0;
        padding-top: 8px;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.43;
        text-align: left;
        color: #000000;
    }

    .real-reviews .quote-card .quote-info {
        padding-top: 12px;
    }

    .real-reviews .quote-card .quote-info .quote-author p {
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        color: #58AA9E;
    }

    .real-reviews .quote-card .quote-info .quote-rating {
        padding-top: 8px;
    }

    .real-reviews .quote-card .quote-info .quote-rating p {
        margin: 0;
        font-size: 12px;
        color: #FEC14B;
        text-align: center;
    }

    style>

<script>
    const reviewsSlider = new Swiper('.real-reviews .swiper', {
        slidesPerView: 2,
        spaceBetween: 0,
        grabCursor: true,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            disabledClass: 'disabled'
        },
        autoplay: {
            delay: 3000,
        },
        breakpoints: {
            0: {
                slidesPerView: 1,
            },
            630: {
                slidesPerView: 2,
            },
            900: {
                slidesPerView: 3,
            },
            1100: {
                slidesPerView: 4,
            },
        }
    });
</script>